@model Adroit.Accounting.Model.ReportViewModel.ReportDataViewModel<List<Adroit.Accounting.Model.GridViewModel.LRBookingBookingRegisterGridViewModel>>
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="col-lg-12 col-sm-12 text-right">
    <lable class="report-number">AIPI</lable>
</div>
<div class="col-lg-12 col-sm-12 text-center pdfheader">
    <div class="firmname">
        <lable>@Model.ReportHeader.FrimName</lable>
    </div>
    <div class="address">
        <lable>@($"{Model.ReportHeader.BranchName} : {Model.ReportHeader.BranchAddress}")</lable>
    </div>
    <div class="address">
        <lable>Report Of : (@Model.ReportHeader.SelectedBranchNames)</lable>
    </div>
    <div class="heading">
        <lable>Booking Register In Summary & From City Wise (LR Booking)</lable>
    </div>
    <div class="date">
        <label>From - @Model.ReportHeader.DateFromString To @Model.ReportHeader.DateToString</label>
    </div>
</div>
<table id="tblMain" class="table col-md-12" align="center">
    <thead>
        <tr>
            <th class="text-left">Bill Party & GST No</th>
            <th class="text-center">Total LR</th>
            <th class="text-center">Total Parcel</th>
            <th class="text-right">Total Charge Wt.</th>
            <th class="text-right">Total LR Amount</th>
            <th class="text-center">GST %</th>
            <th class="text-right">Total Inv Value</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.ReportData != null)
        {
            var prevGroupingColumn = "";
            decimal subTotalAmount = 0.00m;
            decimal totalAmount = 0.00m;
            int totalLR = 0;
            short totalParcel = 0;
            decimal totalChargeWt = 0.00m;

            foreach (var item in Model.ReportData)
            {

                if (prevGroupingColumn != item.GroupingColumn && prevGroupingColumn != "")
                {
                    if (Model.ReportHeader.Subtotal.Equals(true))
                    {
                        <tr class="subtotal-row">
                            <td colspan="4" class="text-right">Sub Total</td>
                            <td class="text-right">@subTotalAmount</td>
                            <td colspan="8"></td>
                        </tr>
                    }
                    subTotalAmount = 0;
                }
                prevGroupingColumn = item.GroupingColumn;
                <tr>
                    <td class="text-left">@item.GroupingColumn</td>
                    <td class="text-center @((item.Deleted??false)?"cancelled-row":"")">@item.LRNumber</td>
                    <td class="text-center">@item.Parcel</td>
                    <td class="text-right">@item.ChargeWeight</td>
                    <td class="text-right">@item.Amount</td>
                    <td class="text-center">@item.Rate</td>
                    <td class="text-right">@item.InvoiceValue</td>
                </tr>

                subTotalAmount += item.Amount ?? 0.00m;
                totalAmount += item.Amount ?? 0.00m;
                totalLR += item.LRNumber;
                totalParcel += item.Parcel ?? 0;
                totalChargeWt += item.ChargeWeight ?? 0.000m;

                if (prevGroupingColumn != item.GroupingColumn && prevGroupingColumn != "")
                {
                    if (Model.ReportHeader.Subtotal.Equals(true))
                    {
                        <tr class="subtotal-row">
                            <td colspan="4" class="text-right">Sub Total</td>
                            <td class="text-right">@subTotalAmount</td>
                            <td colspan="8"></td>
                        </tr>
                    }
                    subTotalAmount = 0;
                }
                prevGroupingColumn = item.GroupingColumn;
            }

            if (prevGroupingColumn != "" && Model.ReportHeader.Subtotal.Equals(true))
            {
                <tr class="subtotal-row">
                    <td colspan="4" class="text-right">Sub Total</td>
                    <td class="text-right">@subTotalAmount</td>
                    <td colspan="8"></td>
                </tr>
            }

            if (totalAmount > 0)
            {
                <tr class="total-row">
                    <td class="text-right">Total</td>
                    <td class="text-center">@totalLR</td>
                    <td class="text-center">@totalParcel</td>
                    <td class="text-right">@totalChargeWt</td>
                    <td class="text-right">@totalAmount</td>
                    <td colspan="3"></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
    {

    <script>

    </script>

}
