@model Adroit.Accounting.Model.ReportViewModel.ReportDataViewModel<List<Adroit.Accounting.Model.GridViewModel.LRBookingLRRegisterGridViewModel>>
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="col-lg-12 col-sm-12 text-right">
    <lable class="report-number">AIPI</lable>
</div>
<div class="col-lg-12 col-sm-12 text-center pdfheader">
    <div class="firmname">
        <lable>@Model.ReportHeader.FrimName</lable>
    </div>
    <div class="address">
        <lable>@($"{Model.ReportHeader.BranchName} : {Model.ReportHeader.BranchAddress}")</lable>
    </div>
    <div class="heading">
        <lable>LR BOOKING REGISTER</lable>
    </div>
    <div class="date">
        <lable>From - @Model.ReportHeader.DateFrom To @Model.ReportHeader.DateTo</lable>
    </div>
</div>
<table id="tblMain" class="table col-md-12" align="center"> 
    <thead>
        <tr>
            <th class="text-left">Consignor</th>
            <th class="text-center">Total LR</th>
            <th class="text-center">Total Parcel</th>
            <th class="text-right">Total Charge Wt.</th>
            <th class="text-right">Total LR Amount</th>
            <th class="text-right">Total Inv Value</th>
            <th class="text-center">Branch</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.ReportData != null)
            {
                var prevParty = "";
                decimal subTotalAmount = 0.00m; 
                decimal totalAmount = 0.00m;

                foreach (var item in Model.ReportData)
                {
                    <tr> 
                        <td class = "text-left">@item.GroupingColumn</td>
                        <td class="text-center @((item.Deleted??false)?"cancelled-row":"")">@item.LRNumber</td>
                        <td class = "text-center">@item.Parcel</td>
                        <td class = "text-right">@item.ChargeWeight</td>
                        <td class = "text-right">@item.Amount</td>
                        <td class = "text-right">@item.InvoiceValue</td>
                        <td class = "text-center">@item.BranchName</td>
                    </tr>

                    subTotalAmount += item.Amount ?? 0.00m; // Use decimal
                    totalAmount += item.Amount ?? 0.00m;    // Use decimal

                    // Calculate subtotals
                    if (prevParty != item.GroupingColumn && Model.ReportHeader.Subtotal.Equals(true))
                    {
                        if (item.SubTotal)
                        {
                        <tr class="subtotal-row">
                                <td colspan="4" class="text-right">Sub Total</td>
                            <td class="text-right">@subTotalAmount</td>
                            <td colspan="3"></td>
                        </tr>
                        }
                        subTotalAmount = 0;
                    }
                    prevParty = item.GroupingColumn;
                    
                }

                // Display the last subtotal and total
                if (prevParty != "" && Model.ReportHeader.Subtotal.Equals(true))
                {
                    <tr class="subtotal-row">
                        <td colspan="4" class="text-right">Sub Total</td>
                        <td class="text-right">@subTotalAmount</td>
                        <td colspan="3"></td>
                    </tr>
                }

                if (totalAmount > 0)
                {
                    <tr class="total-row">
                        <td colspan="4" class="text-right">Total</td>
                        <td class="text-right">@totalAmount</td>
                        <td colspan="3"></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts
{

    <script>

    </script>

}
