@model Adroit.Accounting.Model.ReportViewModel.ReportDataViewModel<List<Adroit.Accounting.Model.GridViewModel.LRBookingBookingRegisterGridViewModel>>
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="col-lg-12 col-sm-12 text-right">
    <lable class="report-number">AIPI</lable>
</div>
<div class="col-lg-12 col-sm-12 text-center pdfheader">
    <div class="firmname">
        <lable>@Model.ReportHeader.FrimName</lable>
    </div>
    <div class="address">
        <lable>@($"{Model.ReportHeader.BranchName} : {Model.ReportHeader.BranchAddress}")</lable>
    </div>
    <div class="heading">
        <lable>Booking Register In Detail & LR Wise (LR Booking)</lable>
    </div>
    <div class="date">
        <label>From - @(Model.ReportHeader.DateFrom?.ToString(Adroit.Accounting.Model.Constant.DateFormat) ?? "") To @(Model.ReportHeader.DateTo?.ToString(Adroit.Accounting.Model.Constant.DateFormat) ?? "")</label>
    </div>
</div>
<table id="tblMain" class="table col-md-12" align="center">
    <thead>
        <tr>
            <th class="text-center">LR Number</th>
            <th class="text-center">LR Date</th>
            <th class="text-left">To City</th>
            <th class="text-center">Parcel</th>
            <th class="text-left">Goods Description</th>
            <th class="text-left">Consignor & GST No</th>
            <th class="text-left">Consignee & GST No</th>
            <th class="text-right">Charge Wt.</th>
            <th class="text-right">LR Amount</th>
            <th class="text-center">GST %</th>
            <th class="text-right">Inv Value</th>
            <th class="text-center">Pay Type</th>
            <th class="text-center">Loading Chalan No</th>
            <th class="text-center">Branch</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.ReportData != null)
        {           
            decimal subTotalAmount = 0.00m;
            decimal totalAmount = 0.00m;
            int totalLR = 0;
            short totalParcel = 0;
            decimal totalChargeWt = 0.00m;

            foreach (var item in Model.ReportData)
            {                                
                <tr>
                    <td class="text-center @((item.Deleted??false)?"cancelled-row":"")">@item.LRNumber</td>
                    <td class="text-center">@item.LRDateString</td>
                    <td class="text-left">@item.CityTo</td>
                    <td class="text-center">@item.Parcel</td>
                    <td class="text-left">@item.Description</td>
                    <td class="text-left">@item.Consignor</td>
                    <td class="text-left">@item.Consignee</td>
                    <td class="text-right">@item.ChargeWeight</td>
                    <td class="text-right">@item.Amount</td>
                    <td class="text-center">@item.Rate</td>
                    <td class="text-right">@item.InvoiceValue</td>
                    <td class="text-center">@item.LRPayType</td>
                    <td class="text-center">@item.LoadingChalanNo</td>
                    <td class="text-center">@item.BranchName</td>
                </tr>
                subTotalAmount += item.Amount ?? 0.00m;
                totalAmount += item.Amount ?? 0.00m;
                totalLR += 1;
                totalParcel += item.Parcel ?? 0;
                totalChargeWt += item.ChargeWeight ?? 0.000m;                
            }

            if (totalAmount > 0)
            {
                <tr class="total-row">
                    <td class="text-center">@totalLR</td>
                    <td colspan="2"></td>
                    <td class="text-center">@totalParcel</td>
                    <td colspan="3"></td>
                    <td class="text-right">@totalChargeWt</td>
                    <td class="text-right">@totalAmount</td>
                    <td colspan="5"></td>
                </tr>
            }
        }
    </tbody>
</table>

@section Scripts
    {

    <script>

    </script>

}
