@using Adroit.Accounting.Model;
@using Adroit.Accounting.Model.Enums;
@model Adroit.Accounting.Model.ReportViewModel.LRBookingBookingRegisterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dv-parameters side-app">
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Book & Register</a></li>
                    <li><a href="#">LR Booking Register</a></li>
                    <li class="active"><span>Booking Register</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-warning text-white btn-sm show-report" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Show Report">
                            <span>
                                <i class="fa fa-spinner"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="BranchId">Branch Name</label>
                                <select class="group-filter mode-ed" id="BranchId" multiple="multiple">
                                    @{
                                        if (Model.BranchList != null)
                                        {
                                            foreach (var y in Model.BranchList.GroupBy(o => o.Other).ToList())
                                            {
                                                <optgroup label="@y.First().Other">
                                                    @foreach (var o in y)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                </optgroup>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ViewId">View</label>
                                <select class="form-control select2-show-search" id="ViewId">
                                    @{
                                        if (Model.ViewList != null)
                                        {
                                            foreach (var o in Model.ViewList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="DateFrom">Date From</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="DateFrom">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="DateTo">Date To</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="DateTo">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="LRFrom">LR From</label>
                                <input type="text" class="form-control" id="LRFrom" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="LRTo">LR To</label>
                                <input type="text" class="form-control" id="LRTo" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="CityFromId">City From</label>
                                <select class="filter-multi mode-ed-multi" id="CityFromId" multiple="multiple">
                                    @{
                                        if (Model.CityList != null)
                                        {
                                            foreach (var o in Model.CityList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="CityToId">City To</label>
                                <select class="filter-multi mode-ed-multi" id="CityToId" multiple="multiple">
                                    @{
                                        if (Model.CityList != null)
                                        {
                                            foreach (var o in Model.CityList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ConsignorId">Consignor</label>
                                <select class="filter-multi mode-ed-multi" multiple="multiple" id="ConsignorId">
                                    @{
                                        if (Model.AccountBranchMappingList != null)
                                        {
                                            foreach (var o in Model.AccountBranchMappingList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }

                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ConsigneeId">Consignee</label>
                                <select class="filter-multi mode-ed-multi" multiple="multiple" id="ConsigneeId">
                                    @{
                                        if (Model.AccountBranchMappingList != null)
                                        {
                                            foreach (var o in Model.AccountBranchMappingList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="BillPartyId">Bill Party</label>
                                <select class="filter-multi mode-ed-multi" multiple="multiple" id="BillPartyId">
                                    @{
                                        if (Model.AccountBranchMappingList != null)
                                        {
                                            foreach (var o in Model.AccountBranchMappingList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="PayTypeId">Pay Type</label>
                                <select class="filter-multi mode-ed-multi" id="PayTypeId" multiple="multiple">
                                    @{
                                        if (Model.PayTypeList != null)
                                        {
                                            foreach (var o in Model.PayTypeList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="ChalanId">Chalan Status</label>
                                @* <select class="form-control select2-show-search" id="ChalanId">
                                    @{
                                        if (Model.ChalanList != null)
                                        {
                                            foreach (var o in Model.ChalanList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="InvStatus">Inv. Status</label>
                                <select class="form-control select2-show-search" id="InvStatus">
                                    @{
                                        if (Model.InvStatusList != null)
                                        {
                                            foreach (var o in Model.InvStatusList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group"><label for="form-group SubTotal">Sub Total</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="SubTotal">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group"><label for="form-group Summary">Summary</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="Summary">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-warning mt-1 show-report" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-spinner"></i>&nbsp;Generate Report</a>
                    <a href="#" class="btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-refresh"></i>&nbsp;Reset</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dv-report side-app">
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Reports</a></li>
                    <li><a href="#">Book & Register</a></li>
                    <li><a href="#">LR Booking Register</a></li>
                    <li class="active"><span>Booking Register</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-blue text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Print"><span><i class="fa fa-print"></i></span></a>
                        <a href="#" class="btn btn-success text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Send"><span><i class="fa fa-share-alt"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0 text-center">LR Number</th>
                                    <th class="border-bottom-0 text-center">LR DATE</th>
                                    <th class="border-bottom-0 text-center">TO CITY</th>
                                    <th class="border-bottom-0 text-center">PARCLE</th>
                                    <th class="border-bottom-0 text-center">GOODS DESCRIPTION</th>
                                    <th class="border-bottom-0 text-center">Consignor & GST No</th>
                                    <th class="border-bottom-0 text-center">Consignee & GST No</th>
                                    <th class="border-bottom-0 text-center">Charge Wt.</th>
                                    <th class="border-bottom-0 text-center">LR Amount</th>
                                    <th class="border-bottom-0 text-center">GST%</th>
                                    <th class="border-bottom-0 text-center">GST Amount</th>
                                    <th class="border-bottom-0 text-center">Inv Value</th>
                                    <th class="border-bottom-0 text-center">Pay Type</th>
                                    <th class="border-bottom-0 text-center">Loading Chalan No</th>
                                    <th class="border-bottom-0 text-center">BRANCH</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                                <tr>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                    <td>xxxxxxxxx</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-blue mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn btn-success mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn btn-gray mt-1 btn-back" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Back</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>

        $(function (e) {

            $('.dv-report').hide();
            $('.dv-parameters').show();

            $(".show-report").on("click", function () {
                $('.dv-parameters').slideUp();
                $('.dv-report').slideDown();
            });

            $(".btn-back").on("click", function () {
                $('.dv-parameters').slideDown();
                $('.dv-report').slideUp();
            });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                // columnDefs: colDef,
                // columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                // buttons: ['copy', 'excel', 'pdf', 'colvis'],
                //processing: true,
                //serverSide: true,
                // ajax: {
                //     url: '@(Url.Content("~/CustomerReport/LRRegister"))',
                //     type: 'GET',
                //     data: function (d) {

                //     }
                // },
                // "initComplete": function (settings, json) {
                //     gridInitComplete(table);
                // },
                // "drawCallback": function (settings) {
                //     gridDrawCallback(this);
                // }
            });

            table.buttons().container().appendTo('#tblMain_wrapper .col-md-6:eq(0)');

            // bindDatatableList();

        });

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.lrNumber;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return moment(row.lrDate.split('T')[0]).format('DD/MM/YYYY');
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.cityTo;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.parcel;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.description;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.consignor;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.consignee;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return (row.chargeWeight || 0).toFixed(3);
                },
                "targets": colDef.length,
                "class": "text-right",
            });
            colDef.push({
                "render": function (data, type, row) {
                    return (row.amount || 0).toFixed(2);
                },
                "targets": colDef.length,
                "class": "text-right",
            });
            colDef.push({
                "render": function (data, type, row) {
                    return (row.rate || 0).toFixed(3);
                },
                "targets": colDef.length,
                "class": "text-right",
            });
            colDef.push({
                "render": function (data, type, row) {
                    return (row.rate || 0).toFixed(3);
                },
                "targets": colDef.length,
                "class": "text-right",
            });
            colDef.push({
                "render": function (data, type, row) {
                    return (row.invoiceValue || 0).toFixed(2);
                },
                "targets": colDef.length,
                "class": "text-right",
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.lrPayType;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.loadingChalanNo;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.branchName;
                },
                "targets": colDef.length,
            });

            columns.push({ "data": "lrNumber", "name": "lrNumber" });
            columns.push({ "data": "lrDate", "name": "lrDate" });
            columns.push({ "data": "cityTo", "name": "cityTo" });
            columns.push({ "data": "parcel", "name": "parcel" });
            columns.push({ "data": "description", "name": "description" });
            columns.push({ "data": "consignor", "name": "consignor" });
            columns.push({ "data": "consignee", "name": "consignee" });
            columns.push({ "data": "chargeWeight", "name": "chargeWeight" });
            columns.push({ "data": "amount", "name": "amount" });
            columns.push({ "data": "rate", "name": "rate" });
            columns.push({ "data": "rate", "name": "rate" });
            columns.push({ "data": "invoiceValue", "name": "invoiceValue" });
            columns.push({ "data": "lrPayType", "name": "lrPayType" });
            columns.push({ "data": "loadingChalanNumber", "name": "loadingChalanNumber" });
            columns.push({ "data": "branchName", "name": "branchName" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/CustomerReport/BookingRegisterReportList"))',
                    type: 'GET',
                    data: function (d) { }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }

            });
        }

    </script>
}
