@model Adroit.Accounting.Model.ReportViewModel.ReportDataViewModel<List<Adroit.Accounting.Model.GridViewModel.LRBookingChalanLoadingGridViewModel>>
@{
    Layout = "~/Views/Shared/_LayoutReport.cshtml";
}
<div class="col-lg-12 col-sm-12 text-right">
    <lable class="report-number">AIPI</lable>
</div>
<div class="col-lg-12 col-sm-12 text-center pdfheader">
    <div class="firmname">
        <lable>@Model.ReportHeader.FrimName</lable>
    </div>
    <div class="address">
        <lable>@($"{Model.ReportHeader.BranchName} : {Model.ReportHeader.BranchAddress}")</lable>
    </div>
    <div class="heading">
        <lable>Chalan Loading Report In Summary & Date Wise (LR Booking)</lable>
    </div>
    <div class="date">
        <label>From - @Model.ReportHeader.DateFromString To @Model.ReportHeader.DateToString</label>
    </div>
</div>
<table id="tblMain" class="table col-md-12" align="center">
    <thead>
        <tr>
            <th class="text-center">Loading Date</th>
            <th class="text-center">Total Chalan</th>
            <th class="text-center">Total LR</th>
            <th class="text-right">Total To Pay Amount</th>
            <th class="text-right">Total Paid Amount</th>
            <th class="text-right">Total To Be Billed Amount</th>
            <th class="text-right">Total Freight</th>
            <th class="text-center">GST %</th>
            <th class="text-right">Net Total</th>
            <th class="text-center">Branch</th>
        </tr>
    </thead>
    <tbody>
        @{
            if (Model != null && Model.ReportData != null)
            {
                var prevDate = "";
                decimal subTotalAmount = 0.00m;
                decimal totalAmount = 0.00m;

                foreach (var item in Model.ReportData)
                {
                    <tr>
                        <td class="text-center">
                        @{
                            DateTime groupingColumnDate;
                            if (DateTime.TryParse(item.GroupingColumn, out groupingColumnDate))
                            {
                                @groupingColumnDate.ToString("dd/MM/yyyy")
                            }
                            else
                            {
                                @item.GroupingColumn
                            }
                        }</td>
                        <td class="text-center">@item.Parcel</td>
                        <td class="text-center">@item.TotalLR</td>
                        <td class="text-right">@item.ToPayAmount</td>
                        <td class="text-right">@item.PaidAmount</td>
                        <td class="text-right">@item.TBBAmount</td>
                        <td class="text-right">@item.Freight</td>
                        <td class="text-center">@item.Rate</td>
                        <td class="text-right">@item.InvoiceValue</td>
                        <td class="text-center">@item.BranchName</td>
                    </tr>

                    subTotalAmount += item.InvoiceValue ?? 0.00m; // Use decimal
                    totalAmount += item.InvoiceValue ?? 0.00m;    // Use decimal

                    // Calculate subtotals
                    if (prevDate != item.GroupingColumn)
                    {
                        if (item.SubTotal)
                        {
                        <tr class="subtotal-row">
                            <td colspan="8" class="text-right">Sub Total</td>
                            <td class="text-right">@subTotalAmount</td>
                            <td></td>
                        </tr>
                        }
                        subTotalAmount = 0;
                    }
                    prevDate = item.GroupingColumn;

                }

                // Display the last subtotal and total
                if (prevDate != "" && subTotalAmount > 0)
                {
                    <tr class="subtotal-row">
                        <td colspan="8" class="text-right">Sub Total</td>
                        <td class="text-right">@subTotalAmount</td>
                        <td></td>
                    </tr>
                }

                if (totalAmount > 0)
                {
                    <tr class="total-row">
                        <td colspan="8" class="text-right">Total</td>
                        <td class="text-right">@totalAmount</td>
                        <td ></td>
                    </tr>
                }
            }
        }
    </tbody>
</table>

@section Scripts
{

    <script>

    </script>

}
