@{
	Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="Adroit Accounting Software" name="description">
	<meta content="Adroit Accounting Software" name="author">
	<meta name="keywords" content="adroit,account,finance,transport,booking" />

	<!-- Favicon -->
	<link rel="icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" />

	<!-- Title -->
	<title>Adroit Accounting Software</title>

	<!--Bootstrap.min css-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")">

	<!-- Dashboard css -->
	<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/assets/css/dark-style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/assets/css/skin-mode.css")" rel="stylesheet" type="text/css" />

	<!-- Combined css -->
	<link href="@Url.Content("~/assets/css/combined.css")" rel="stylesheet" type="text/css" />

	<!-- Perfect scroll bar css-->
	<link href="@Url.Content("~/assets/plugins/pscrollbar/perfect-scrollbar.css")" rel="stylesheet" type="text/css" />

	<!---Icons css-->
	<link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css" />

	<!---Alert css-->
	<link href="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.css")" rel="stylesheet" type="text/css" />
	<!-- Color-skins css -->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/assets/colors/color-skins/color.css")" />
	<link rel="stylesheet" href="" @Url.Content("~/assets/css/demo-styles.css")" type="text/css" />
</head>
<body class="bg-account">
	<!--Global-Loader-->
    <div id="global-loader" style="background:none">
        <img src="@Url.Content("~/assets/images/brand/icon.png")" alt="loader">
    </div>

	<!-- page -->
	<div class="page h-100">

		<!-- page-content -->
		<div class="page-content">
			<div class="container text-center text-dark">
				<div class="row">
					<div class="col-lg-4 d-block mx-auto">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-md-12">
								<div class="card">
									<div class="card-body">
										<div class="text-center mb-6">
											<img src="@Url.Content("~/assets/images/brand/logo.png")" class="" alt="">
										</div>
										<h3>Login</h3>
										<input type="hidden" value="@ViewBag.TokenCode" id="TokenCode" name="TokenCode" />
										<p class="text-muted">Reset Password</p>
										<div class="input-group mb-4">
											<span class="input-group-addon bg-white"><i class="fa fa-envelope"></i></span>
											<input id="txtEmail" type="text" class="form-control" maxlength="50" placeholder="Email address">
										</div>										
										<div class="input-group mb-4">
											<span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
											<input id="txtPassword" type="password" class="form-control" placeholder="Enter new password">
										</div>
										<div class="input-group mb-4">
											<span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
											<input id="txtConfirmPassword" type="password" class="form-control" placeholder="Enter new confirm password">
										</div>
										<div class="row">
											<div class="col-12">
												<button type="button" class="btn btn-primary btn-block" onclick="ResetPassword()">Reset Password</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- page-content end -->
	</div>
	<!-- page End-->
	<!-- Jquery js-->
	<script src="@Url.Content("~/assets/js/vendors/jquery-3.2.1.min.js")"></script>

	<!--Bootstrap.min js-->
	<script src="@Url.Content("~/assets/plugins/bootstrap/popper.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>

	<!--Jquery Sparkline js-->
	<script src="@Url.Content("~/assets/js/vendors/jquery.sparkline.min.js")"></script>

	<!-- Perfect scroll bar js-->
	<script src="@Url.Content("~/assets/plugins/pscrollbar/perfect-scrollbar.js")"></script>

	<!-- Custom js-->
	<script src="../assets/js/custom.js"></script>

	<script src="@Url.Content("~/assets/js/DevScript.js")"></script>

	<!-- Alert js -->
	<script src="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.min.js")"></script>
	<script>
		var RESULT_SUCCESS = "@Adroit.Accounting.Utility.Constant.API_RESULT_SUCCESS";
		function ResetPassword() {
			try {
				if ($("#txtEmail").length > 0 && $("#txtEmail").val() == "") {
					$("#txtEmail").focus();
					showWarning("", "Please enter your registered email.");
					return;
				}
				let isValidemail = IsEmail($("#txtEmail").val());
                if (!isValidemail) {
					showWarning("", "Please enter your registered email.");
                    return;
                }
				if ($("#txtPassword").length > 0 && $("#txtPassword").val() == "") {
					$("#txtPassword").focus();
					showWarning("", "Please enter your password.");
					return;
				}
				if ($("#txtConfirmPassword").length > 0 && $("#txtConfirmPassword").val() == "") {
					$("#txtConfirmPassword").focus();
					showWarning("", "Please enter confirm password.");
					return;
				}
				if ($("#txtPassword").val() != $("#txtConfirmPassword").val()) {
					showWarning("", "Password does not match.");
					return;
				}
				

				var savedata = new Object;
				savedata.Email = $("#txtEmail").val();
				savedata.Password = $("#txtPassword").val();
				savedata.TokenCode = $("#TokenCode").val();

				var jsonData = JSON.stringify(savedata);
				
				blockUI('container');
				var retrundata = AjaxCall("POST", "@(Url.Action("ResetPassword", "Authentication"))", jsonData,
					function (data) {
						unblockUI('container');
						if (data.result == RESULT_SUCCESS) {
							showSuccess('', 'Password reset successfully.');
							$(".confirm").click(function () {
								window.location.href = "@(Url.Content("~/Login"))";
							});
						} else {
							showError("", data.data);
						}
					},
					function (error) {
						unblockUI('container');
						showError("", error.statusText);
					});
			} catch (err) {

			}
		}
	</script>
</body>
</html>