
@model Adroit.Accounting.Model.ViewModel.RegistrationViewModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Adroit IBS – Accounting System Registration" name="description">
    <meta content="Adroit IBS – Accounting System Registration" name="author">
    <meta name="keywords" content="adroit, ibs, accounting, lr, booking, registration" />

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" />

    <!-- Title -->
    <title>Adroit IBS – Accounting System</title>

    <!--Bootstrap.min css-->
    <link rel="stylesheet" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")">

    <!-- Dashboard css -->
    <link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/dark-style.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/assets/css/skin-mode.css")" rel="stylesheet" type="text/css" />

    <!-- Combined css -->
    <link href="@Url.Content("~/assets/css/combined.css")" rel="stylesheet" type="text/css" />

    <!-- Perfect scroll bar css-->
    <link href="@Url.Content("~/assets/plugins/pscrollbar/perfect-scrollbar.css")" rel="stylesheet" type="text/css" />

    <!-- Sidemenu css -->
    <link href="@Url.Content("~/assets/css/full-sidemenu.css")" rel="stylesheet" />

    <!--Daterangepicker css-->
    <link href="@Url.Content("~/assets/plugins/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" />

    <!-- Sidebar Accordions css -->
    <link href="@Url.Content("~/assets/css/easy-responsive-tabs.css")" rel="stylesheet">

    <!-- Rightsidebar css -->
    <link href="@Url.Content("~/assets/plugins/sidebar/sidebar.css")" rel="stylesheet">

    <!--News ticker css -->
    <link href="@Url.Content("~/assets/plugins/newsticker/breaking-news-ticker.css")" rel="stylesheet" />

    <!---Icons css-->
    <link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" />

    <!--Select2 css -->
    <link href="@Url.Content("~/assets/plugins/select2/select2.min.css")" rel="stylesheet" />

    <!-- Forn-wizard css-->
    <link href="@Url.Content("~/assets/plugins/form-wizard/css/form-wizard.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/plugins/formwizard/smart_wizard.css")" rel="stylesheet">
    <link href="@Url.Content("~/assets/plugins/formwizard/smart_wizard_theme_dots.css")" rel="stylesheet">

    <!---Sweetalert Css-->
    <link href="@Url.Content("~/assets/plugins/sweet-alert/jquery.sweet-modal.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.css")" rel="stylesheet" />

    <!--Fonts-->
    <link id="font" rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/assets/colors/fonts/font1.css")" />

    <!-- Color-skins css -->
    <link id="theme" rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/assets/colors/color-skins/color.css")" />

    <style>
        #global-loader {
            background:rgba(255, 255, 255, 0.6);
        }
    </style>
</head>

<body class="app sidebar-mini">

    <!--Global-Loader-->
    <div id="global-loader" style="background:none">
        <img src="@Url.Content("~/assets/images/brand/icon.png")" alt="loader">
    </div>

    <div class="page">
        <div class="page-main">
            <!-- app-content-->
            <div class="app-content1  my-3 my-md-5">
                <div class="side-app">
                    <!--row open-->
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="text-center mb-6">
                                <img src="../assets/images/brand/logo.png" class="" alt="">
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4"></div>
                        <div class="col-lg-4">
                            <div class="card">
                                <div class="card-header pb-0">
                                    <h3 class="card-title">Let's Get Started</h3>
                                </div>
                                <div class="card-body">
                                    <form id="registrationForm">
                                        <div class="list-group">
                                            <div class="list-group-item py-3" data-acc-step>
                                                <h5 class="mb-0" data-acc-title>Name &amp; Business details</h5>
                                                <div data-acc-content>
                                                    <div class="my-3">
                                                        <div class="form-group">
                                                            <label>Name:</label>
                                                            <input type="text" name="Name" class="form-control" id="Name" maxlength="100" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Business/ Organisation/ Firm Name:</label>
                                                            <input type="text" name="BusinessName" class="form-control" id="BusinessName" maxlength="100" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Business Type:</label>
                                                            <select class="form-control select2-show-search" id="BusinessId" name="BusinessId">
                                                                <option></option>
                                                                @{
                                                                    if (Model.BusinessList != null)
                                                                    {
                                                                        foreach (var item in Model.BusinessList)
                                                                        {
                                                                            <option value="@item.Value">@item.Text</option>
                                                                        }

                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item py-3" data-acc-step>
                                                <h5 class="mb-0" data-acc-title>Contact</h5>
                                                <div data-acc-content>
                                                    <div class="my-3">
                                                        <div class="form-group">
                                                            <label>Country:</label>
                                                            <select class="form-control select2-show-search" id="CountryId" name="CountryId">
                                                                <option></option>
                                                                @{
                                                                    if (Model.CountryList != null)
                                                                    {
                                                                        foreach (var item in Model.CountryList)
                                                                        {
                                                                            <option value="@item.Value">@item.Text</option>
                                                                        }

                                                                    }
                                                                }
                                                            </select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>State:</label>
                                                            <select class="form-control select2-show-search" id="StateId" name="StateId"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>City:</label>
                                                            <select class="form-control select2-show-search" id="CityId" name="CityId"></select>
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Mobile:</label>
                                                            <input type="text" name="Mobile" class="form-control" id="Mobile" maxlength="10" />
                                                        </div>
                                                        <div class="form-group">
                                                            <label>Email:</label>
                                                            <input type="text" name="Email" class="form-control" id="Email" maxlength="50" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="list-group-item py-3" data-acc-step>
                                                <h5 class="mb-0" data-acc-title>Complete your Registration</h5>
                                                <div data-acc-content>
                                                    <div class="my-3">
                                                        <div class="form-group">
                                                            <label>Your requirements/ comments:</label>
                                                            <textarea class="form-control" id="Requirement" name="Requirement" rows="5" placeholder="enter your requirements"></textarea>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="custom-switch">
                                                                <input type="checkbox" name="AgreeTerms" id="AgreeTerms" class="custom-switch-input">
                                                                <span class="custom-switch-indicator"></span>
                                                                <span class="custom-switch-description"><a target="_blank" href="@Url.Content("~/Terms")">I state that I have read and understood the terms and conditions.</a></span>
                                                            </label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4"></div>
                    </div>
                    <!--row closed-->
                </div>
            </div>
            <!-- End app-content-->
        </div>

        <!--footer-->
        <partial name="~/Views/Shared/_AppFooter.cshtml"></partial>
        <!-- End Footer-->

    </div>
    <!-- End Page -->
    <!-- Back to top -->
    <a href="#top" id="back-to-top"><i class="fa fa-angle-up"></i></a>

    <!-- Jquery js-->
    <script src="@Url.Content("~/assets/js/vendors/jquery-3.2.1.min.js")"></script>

    <!--Bootstrap.min js-->
    <script src="@Url.Content("~/assets/plugins/bootstrap/popper.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>

    <!--Jquery Sparkline js-->
    <script src="@Url.Content("~/assets/js/vendors/jquery.sparkline.min.js")"></script>

    <!-- Chart Circle js-->
    <script src="@Url.Content("~/assets/js/vendors/circle-progress.min.js")"></script>

    <!--Moment js-->
    <script src="@Url.Content("~/assets/plugins/moment/moment.min.js")"></script>

    <!--Side-menu js-->
    <script src="@Url.Content("~/assets/plugins/side-menu/sidemenu.js")"></script>

    <!-- Horizontal-menu js -->
    <script src="@Url.Content("~/assets/plugins/horizontal-menu/horizontalmenu.js")"></script>

    <!--News Ticker js-->
    <script src="@Url.Content("~/assets/plugins/newsticker/breaking-news-ticker.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/newsticker/newsticker.js")"></script>

    <!-- Sidebar Accordions js -->
    <script src="@Url.Content("~/assets/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js")"></script>
    <script src="@Url.Content("~/assets/js/left-menu.js")"></script>

    <!--Time Counter js-->
    <script src="@Url.Content("~/assets/plugins/counters/jquery.missofis-countdown.js")"></script>
    <script src="@Url.Content("~/assets/plugins/counters/counter.js")"></script>

    <!-- Rightsidebar js -->
    <script src="@Url.Content("~/assets/plugins/sidebar/sidebar.js")"></script>

    <!--Select2 js -->
    <script src="@Url.Content("~/assets/plugins/select2/select2.full.min.js")"></script>
    <script src="@Url.Content("~/assets/js/select2.js")"></script>

    <!-- Forn-wizard js-->
    <script src="@Url.Content("~/assets/plugins/formwizard/jquery.smartWizard.js")"></script>
    <script src="@Url.Content("~/assets/plugins/formwizard/fromwizard.js")"></script>

    <!--Accordion-Wizard-Form js-->
    <script src="@Url.Content("~/assets/plugins/accordion-Wizard-Form/jquery.accordion-wizard.min.js")"></script>

    <!--Advanced Froms js-->
    @*<script src="@Url.Content("~/assets/js/advancedform.js")"></script>*@

    <!-- Sweet alert js-->
    <script src="@Url.Content("~/assets/plugins/sweet-alert/jquery.sweet-modal.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.min.js")"></script>
    <script src="@Url.Content("~/assets/js/sweet-alert.js")"></script>

    <script src="@Url.Content("~/assets/js/custom.js")"></script>

    <!-- Alert js -->
    <script src="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.min.js")"></script>

    <script src="@Url.Content("~/assets/js/DevScript.js")"></script>

    <script>
        var RESULT_SUCCESS = "@Adroit.Accounting.Utility.Constant.API_RESULT_SUCCESS";
        $(document).ready(function () {
            bindStateList($("#CountryId").val());

            $("#CountryId").on('change', function (e) {
                let countryId = $(this).val();
                if (countryId > 0) {
                    bindStateList(countryId);
                }
                else {
                    $("#CountryId").focus();
                    showWarning("", "Please select country.");
                }
            });

            $("#StateId").on('change', function (e) {
                let stateId = $(this).val();
                if (stateId > 0) {
                    bindCityList(stateId);
                } else {
                    $("#StateId").focus();
                    showWarning("", "Please select country.");
                }
            });

            $("#Email").change(function () {
                let email = $(this).val();
                let isValidemail = isEmail(email);
                if (isValidemail) {
                    try {
                        var retrundata = AjaxCall("GET", "@(Url.Content("~/Registration/EmailExists"))" + "?email=" + email, "",
                            function (data) {
                                var str = "";
                                if (data.result == RESULT_SUCCESS) {
                                    if (data.data == true) {
                                        $("#Email").val("");
                                        showWarning("", "Email already exists : " + email);
                                        $("#Email").focus();
                                    }
                                } else {
                                    showError("", data.data);
                                }
                            },
                            function (error) {
                                showError("", error.statusText);
                            });
                    }
                    catch (err) {
                        showError("", e.message);
                    }
                } else {
                    $("#Email").focus();
                    showError("", "Please enter valid email");
                }
            });

            //accordion-wizard
            var options = {
                mode: 'wizard',
                event: 'none',
                collapsible: false,
                autoButtonsNextClass: 'btn btn-primary float-right',
                autoButtonsPrevClass: 'btn btn-info',
                stepNumberClass: 'badge badge-pill badge-primary mr-1',
                beforeNextStep: function (currentStep) {
                    if (currentStep == 1) {
                        return validateStep1();
                    }
                    else if (currentStep == 2) {
                        return validateStep2();
                    }
                },
                onSubmit: function (element) {
                    if (validateStep3()) {
                        saveCustomer();
                    }
                    return false;
                }
            }
            $("#registrationForm").accWizard(options);
        });

        function validateStep1() {
            if ($("#Name").val() == "") {
                showWarning("", "Please provide your name.");
                $("#Name").focus();
                return false;
            }
            if ($("#BusinessName").val() == "") {
                showWarning("", "Please provide your business/ organisation / firm name.");
                $("#BusinessName").focus();
                return false;
            }
            if ($("#BusinessId").val() == "") {
                showWarning("", "Please select business type.");
                $("#BusinessId").focus();
                return false;
            }

            return true;
        }

        function validateStep2() {
            if ($("#CountryId").val() == "") {
                showWarning("", "Please select your country.");
                $("#CountryId").focus();
                return false;
            }
            if ($("#StateId").val() == "") {
                showWarning("", "Please select your state.");
                $("#StateId").focus();
                return false;
            }
            if ($("#CityId").val() == "") {
                showWarning("", "Please select your city.");
                $("#CityId").focus();
                return false;
            }
            if ($("#Mobile").val() == "") {
                showWarning("", "Please provide your mobile number.");
                $("#Mobile").focus();
                return false;
            }
            if ($("#Email").val() == "") {
                showWarning("", "Please provide your email.");
                $("#Email").focus();
                return false;
            }

            return true;
        }

        function validateStep3() {
            if (!$('#AgreeTerms').is(':checked')) {
                showWarning("", "Please accept term and conditions.");
                return false;
            }

            return true;
        }

        function saveCustomer() {
            try {

                if (!validateStep1()) {
                    return;
                }

                if (!validateStep2()) {
                    return;
                }

                if (!validateStep3()) {
                    return;
                }

                var savedata = new Object;
                savedata.Name = $("#Name").val();
                savedata.BusinessName = $("#BusinessName").val();
                savedata.BusinessId = $("#BusinessId").val();

                savedata.StateId = $("#StateId").val();
                savedata.CityId = $("#CityId").val();
                savedata.Mobile = $("#Mobile").val();
                savedata.Email = $("#Email").val();

                savedata.Requirement = $("#Requirement").val();
                savedata.AgreeTerms = $('#AgreeTerms').is(':checked');

                var jsonData = JSON.stringify(savedata);

                blockUI('container');
                var retrundata = AjaxCall("POST", "@(Url.Action("Save", "Registration"))", jsonData,
                    function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            showSuccess('', 'Thanks ' + $("#Name").val() + '!' + ' Thank you for filling out our sign up form. We are glad that you joined us. We have sent an email to verify your email. Have a nice day.');
                            $(".confirm").click(function () {
                                window.location.href = "@(Url.Content("~/Login"))";
                            });
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }
        }

        function bindStateList(countryId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetStates"))" + "?countryId=" + countryId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "<option></option>";
                        str += "<option value='0'>Select State</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['value'] + "'>" + data.data[i]["text"] + "</option>");
                                }
                            }
                            $("#StateId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }

        function bindCityList(stateId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetCities"))" + "?stateId=" + stateId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "<option></option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['value'] + "'>" + data.data[i]["text"] + "</option>");
                                }
                            }
                            $("#CityId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
    </script>
</body>
</html>