@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--Select2 css -->
<link href="@Url.Content("~/assets/plugins/select2/select2.min.css")" rel="stylesheet" type="text/css" />

<!--Mutipleselect css-->
<link href="@Url.Content("~/assets/plugins/multipleselect/multiple-select.css")" rel="stylesheet" type="text/css">

<!-- Data table css -->
<link href="@Url.Content("~/assets/plugins/datatable/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatable/css/buttons.bootstrap4.min.css")" rel="stylesheet" type="text/css">
<link href="@Url.Content("~/assets/plugins/datatable/responsivebootstrap4.min.css")" rel="stylesheet" type="text/css" />

<!--Daterangepicker css-->
<link href="@Url.Content("~/assets/plugins/bootstrap-daterangepicker/daterangepicker.css")" rel="stylesheet" type="text/css" />

<!-- Date Picker css-->
<link href="@Url.Content("~/assets/plugins/spectrum-date-picker/spectrum.css")" rel="stylesheet" type="text/css" />

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Transaction</a></li>
                    <li><a href="#">Purchase</a></li>
                    <li class="active"><span>General Expence/ Purchase</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0" id="P_List">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">PARTY NAME</th>
                                    <th class="border-bottom-0">A/C GROUP</th>
                                    <th class="border-bottom-0">GST NO</th>
                                    <th class="border-bottom-0">CITY</th>
                                    <th class="border-bottom-0">MOBILE NO</th>
                                    <th class="border-bottom-0 text-center" style="width:80px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Account</a></li>
                    <li class="active"><span>Add/Edit (ID# 100)</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search GST...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                        <a href="#" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save">
                            <span>
                                <i class="fa fa-save"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-blue text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Print">
                            <span>
                                <i class="fa fa-print"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-success text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Send">
                            <span>
                                <i class="fa fa-share-alt"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-danger text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                            <span>
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel">
                            <span>
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12" id="P_Form">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row userform">
                        <div class="col-md-12">
                            <div class="form-group">
                                <input type="hidden" id="Id" value="0" />
                                <input type="hidden" id="CustomerId" value="0" />
                                <label for="Name">Account Name</label>
                                <input type="text" class="form-control" id="Name" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="PrintName">Print Account Name</label>
                                <input type="text" class="form-control" id="PrintName" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AccountGroupId">Account Group</label>
                                <select class="form-control select2-show-search" id="AccountGroupId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Address1">Address Line 1</label>
                                <input type="text" class="form-control" id="Address1" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Address2">Address Line 2</label>
                                <input type="text" class="form-control" id="Address2" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Address3">Address Line 3</label>
                                <input type="text" class="form-control" id="Address3" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CountryId">Country</label>
                                <select class="form-control select2-show-search" id="CountryId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="StateId">State</label>
                                <select class="form-control select2-show-search" id="StateId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="DistrictId">District</label>
                                <select class="form-control select2-show-search" id="DistrictId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="TalukaId">Taluka</label>
                                <select class="form-control select2-show-search" id="TalukaId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CityId">City</label>
                                <select class="form-control select2-show-search" id="CityId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Pincode">Pincode</label>
                                <input type="text" class="form-control numeric" id="Pincode" placeholder="" maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="KM">KM</label>
                                <input type="text" class="form-control" id="KM" placeholder=""  maxlength="4">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="AreaName">Area</label>
                                <select class="form-control select2-show-search" id="AreaName"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="ContactPersonName">Contact Person</label>
                                <input type="text" class="form-control" id="ContactPersonName" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Mobile">Contact Mobile</label>
                                <input type="text" class="form-control numeric" id="Mobile" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="MobileAlternate">Alternate Mobile</label>
                                <input type="text" class="form-control numeric" id="MobileAlternate" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Email</label>
                                <input type="text" class="form-control" id="Email" placeholder="" maxlength="50">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="AdharUID">Aadhaar UID</label>
                                <input type="text" class="form-control numeric" id="AdharUID" placeholder="" maxlength="12">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="GSTNumber">GST Number</label>
                                <input type="text" class="form-control" id="GSTNumber" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="PAN">PAN</label>
                                <input type="text" class="form-control" id="PAN" placeholder="" maxlength="12">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="TAN">TAN</label>
                                <input type="text" class="form-control" id="TAN" placeholder="" maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="EximCode">Exim Code</label>
                                <input type="text" class="form-control" id="EximCode" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="GSTInvoiceTypeId">GST Invoice Type</label>
                                <select class="form-control select2-show-search" id="GSTInvoiceTypeId"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CreditDays">Credit Days</label>
                                <input type="text" class="form-control numeric" id="CreditDays" placeholder="" maxlength="2">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CreditLimit">Credit Limit</label>
                                <input type="text" class="form-control decimal" id="CreditLimit" placeholder="" maxlength="28">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="TransportName">Transporter Name</label>
                                <select class="form-control select2-show-search" id="TransportName"></select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="GSTNumberTransport">Transporter GST Number</label>
                                <input type="text" class="form-control" id="GSTNumberTransport" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="VehicleNumber">Vehicle Number</label>
                                <input type="text" class="form-control" id="VehicleNumber" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="ShippingAccountBranchMappingId">Shipping Party</label>
                                <select class="form-control select2-show-search" id="ShippingAccountBranchMappingId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="DeliveryAccountBranchMappingId">Delivery Party</label>
                                <select class="form-control select2-show-search" id="DeliveryAccountBranchMappingId"></select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="BrokerMappingId">Broker</label>
                                <select class="form-control select2-show-search" id="BrokerMappingId"></select>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="TDS">TDS %</label>
                                <input type="text" class="form-control decimal" id="TDS" placeh older=""maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="TCS">TCS %</label>
                                <input type="text" class="form-control decimal" id="TCS" placeholder=""maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Discount">Discount %</label>
                                <input type="text" class="form-control decimal" id="Discount" placeholder="" maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="InterestRate">Interest %</label>
                                <input type="text" class="form-control decimal" id="InterestRate" placeholder="" maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="Commission">Commission %</label>
                                <input type="text" class="form-control decimal" id="Commission" placeholder="" maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="CapitalPercentage">Capital %</label>
                                <input type="text" class="form-control decimal" id="CapitalPercentage" placeholder="" maxlength="22">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">IGST</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsIGST">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">Rate With GST in Pur.</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="RateWithGST">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">RCM Party</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="RCMParty">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">Composite Party</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="CompositParty">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">E-Commerce Party</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsEcommerce">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                        <div class="col-md-2">
                            <div><label for="exampleInputname">Active</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input" id="IsActive">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>

                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="javascript:void(0);" class="btn btn-primary mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save" onclick="SaveDetail()"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="javascript:void(0);" class="btn btn-blue mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="javascript:void(0);" class="btn btn-success mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="javascript:void(0);" class="btn btn-danger mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete" onclick="Delete(0)"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="javascript:void(0);" class="btn-back btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="javascript:void(0);" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>

@section Scripts
    {
    <!--Select2 js -->
    <script src="@Url.Content("~/assets/plugins/select2/select2.full.min.js")"></script>
    <!--<script src="@Url.Content("~/assets/js/select2.js")"></script>-->
    <script src="@Url.Content("~/assets/js/form-elements.js")"></script>

    <!--MutipleSelect js-->
    <script src="@Url.Content("~/assets/plugins/multipleselect/multiple-select.js")"></script>
    <script src="@Url.Content("~/assets/plugins/multipleselect/multi-select.js")"></script>
    <!-- INTERNAL Data tables -->
    <script src="@Url.Content("~/assets/plugins/datatable/js/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/dataTables.bootstrap4.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/dataTables.buttons.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/buttons.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/jszip.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/pdfmake.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/vfs_fonts.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/buttons.html5.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/buttons.print.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/js/buttons.colVis.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/dataTables.responsive.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/responsive.bootstrap4.min.js")"></script>
    <script src="@Url.Content("~/assets/plugins/datatable/datatable-2.js")"></script>
    <!--Moment js-->
    <script src="@Url.Content("~/assets/plugins/moment/moment.min.js")"></script>
    <!-- Datepicker js -->
    <script src="@Url.Content("~/assets/plugins/spectrum-date-picker/spectrum.js")"></script>
    <script src="@Url.Content("~/assets/plugins/spectrum-date-picker/jquery-ui.js")"></script>
    <script src="@Url.Content("~/assets/plugins/input-mask/jquery.maskedinput.js")"></script>
    <!-- Timepicker js -->
    <script src="@Url.Content("~/assets/plugins/time-picker/jquery.timepicker.js")"></script>
    <script src="@Url.Content("~/assets/plugins/time-picker/toggles.min.js")"></script>

    <script>
        var RESULT_SUCCESS = "@Adroit.Accounting.Utility.Constant.API_RESULT_SUCCESS";

        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            $('.btn-add-new').click(function () {
                $('.dv-list').slideUp();
                $('.dv-detail').slideDown();
            });

            $('.btn-back').click(function () {
                $('.dv-detail').slideUp();
                $('.dv-list').slideDown();
            });
            datatablelist();

            $(".buttons-copy").removeClass("btn-primary");
            $(".buttons-copy").addClass("btn-outline-primary");

            $(".buttons-excel").removeClass("btn-primary");
            $(".buttons-excel").addClass("btn-outline-primary");

            $(".buttons-pdf").removeClass("btn-primary");
            $(".buttons-pdf").addClass("btn-outline-primary");

            $(".buttons-colvis").removeClass("btn-primary");
            $(".buttons-colvis").removeClass("dropdown-toggle");
            $(".buttons-colvis").addClass("btn-outline-primary sub-icon");

            $(".buttons-copy").empty();
            $(".buttons-copy").append('<i class="fa fa-copy" data-toggle="tooltip" title="Copy" data-original-title="fa fa-copy"></i>');

            $(".buttons-excel").empty();
            $(".buttons-excel").append('<i class="fa fa-file-excel-o" data-toggle="tooltip" title="Excel" data-original-title="fa fa-file-excel-o"></i>');

            $(".buttons-pdf").empty();
            $(".buttons-pdf").append('<i class="fa fa-file-pdf-o" data-toggle="tooltip" title="PDF" data-original-title="fa fa-file-pdf-oo"></i>');

            $(".buttons-colvis").empty();
            $(".buttons-colvis").append('<i class="fa fa-eye" data-toggle="tooltip" title="Column Visibility" data-original-title="fa fa-eye"></i>');

            BindCountryList();
            BindGSTInvoiceTypeList();
            BindStateList($("#CountryId").val());
            $("#CountryId").on('change', function (e) {
                let countryId = $(this).val();
                if (countryId > 0) {
                    $("#CountryCallingCode").val(countryId);
                    BindStateList(countryId);
                }
                else {
                    $("#CountryId").focus();
                    showWarning("", "Please select country.");
                }
            });
            $("#StateId").on('change', function (e) {
                let stateId = $(this).val();
                if (stateId > 0) {
                    BindDistrictList(stateId);
                } else {
                    $("#StateId").focus();
                    showWarning("", "Please select state.");
                }
            });
            $("#DistrictId").on('change', function (e) {
                let districtId = $(this).val();
                if (districtId > 0) {
                    BindTalukaList(districtId);
                } else {
                    $("#DistrictId").focus();
                    showWarning("", "Please select district.");
                }
            });
            $("#TalukaId").on('change', function (e) {
                let talukaId = $(this).val();
                if (talukaId > 0) {
                    BindCityList(0, talukaId, 0);
                } else {
                    $("#TalukaId").focus();
                    showWarning("", "Please select taluka.");
                }
            });
            BindCustomerAccountGroupList();
            BindCustomerBrokerBranchMappingList();
            BindCustomerAccountList();
        });

        function datatablelist() {

            //var table = $('#tblMain').DataTable({
            //    lengthChange: false,
            //    pagingType: 'full_numbers',
            //    language: {
            //        paginate: {
            //            next: '<i class="fa fa-angle-right"></i>', // or '→'
            //            previous: '<i class="fa fa-angle-left"></i>', // or '←'
            //            first: '<i class="fa fa-angle-double-left"></i>', // or '→'
            //            last: '<i class="fa fa-angle-double-right"></i>' // or '←'
            //        }
            //    },
            //    buttons: ['copy', 'excel', 'pdf', 'colvis']
            //});

            //table.buttons().container().appendTo('#tblMain_wrapper .col-md-6:eq(0)');


            //$("#tblHiteCodes").dataTable().fnDestroy();
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.Name;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.AccountGroup;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.GSTNumber;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.City;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.Mobile;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<a onclick='GetDetail(" + row.Id + ");' href='javascript:void(0);' class='btn btn-outline-warning small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>";
                    btnAct += " &nbsp;&nbsp; <a href='#' class='btn btn-outline-info small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>";
                    btnAct += " &nbsp;&nbsp; <a onclick='Delete(" + row.Id + ");' href='javascript:void(0);' class='btn btn-outline-danger small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "Name", "name": "Name" });
            columns.push({ "data": "AccountGroup", "name": "AccountGroup" });
            columns.push({ "data": "GSTNumber", "name": "GSTNumber" });
            columns.push({ "data": "City", "name": "City" });
            columns.push({ "data": "Mobile", "name": "Mobile" });
            columns.push({ "data": "Id", "name": "Id" });

            var table = $('#tblMain').DataTable({
                ordering: false,
                searching: true,
                bInfo: true,
                bLengthChange: false,
                info: false,
                oLanguage: { 'sZeroRecords': 'sEmptyTable' },
                pageLength: 10,
                filter: true,
                paging: true,
                order: [[1, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                scrollCollapse: true,
                bProcessing: true,
                bServerSide: true,
                stateSave: false,
                columnDefs: colDef,
                columns: columns,
                //lengthMenu: [[10, 20, 50, 100, -1], [10, 20, 50, 100, 'All']],
                bPaginate: true,
                ajax: {
                    url: '@(Url.Content("~/Customer/GetAccountList"))',
                    type: 'GET',
                    data: function (d) { }
                }
            });
            //table.buttons().container().appendTo('#tblMain_wrapper .col-md-6:eq(0)');
        }

        function SaveDetail() {
            try {
                //if ($("#CustomerId").length > 0 && $("#CustomerId").val() == "") {
                //    showWarning("", "Customer not found.");
                //    return;
                //}
                if ($("#Name").length > 0 && $("#Name").val() == "") {
                    showWarning("", "Please enter name.");
                    $("#Name").focus();
                    return;
                }
                if ($("#AccountGroupId").length > 0 && $("#AccountGroupId").val() == "") {
                    showWarning("", "Please select Account Group.");
                    $("#AccountGroupId").focus();
                    return;
                }                
                if ($("#GSTInvoiceTypeId").length > 0 && $("#GSTInvoiceTypeId").val() == "") {
                    showWarning("", "Please select GST Invoice Type.");
                    $("#GSTInvoiceTypeId").focus();
                    return;
                }

                let isValidemail = isEmail($("#Email").val());
                if (!isValidemail) {
                    showWarning("", "Please enter valid email");
                    return;
                }

                var savedata = new Object;
                savedata.Id = parseInt($("#Id").val());
                savedata.CustomerId = parseInt($("#CustomerId").val());
                savedata.Name = $("#Name").val();
                savedata.PrintName = $("#PrintName").val();
                savedata.AccountGroupId = parseInt($("#AccountGroupId").val());
                savedata.Address1 = $("#Address1").val();
                savedata.Address2 = $("#Address2").val();
                savedata.Address3 = $("#Address3").val();
                savedata.CountryId = $("#CountryId").val() == "" ? null : parseInt($("#CountryId").val());
                savedata.StateId = $("#StateId").val() == "" ? null : parseInt($("#StateId").val());
                savedata.CityId = $("#CityId").val() == "" ? null : parseInt($("#CityId").val());
                savedata.Pincode = $("#Pincode").val();
                savedata.KM = $("#KM").val();
                savedata.AreaName = $("#AreaName option:selected").text();
                savedata.ContactPersonName = $("#ContactPersonName").val();
                savedata.Mobile = $("#Mobile").val();
                savedata.MobileAlternate = $("#MobileAlternate").val();
                savedata.Email = $("#Email").val();
                savedata.AdharUID = $("#AdharUID").val();
                savedata.GSTNumber = $("#GSTNumber").val();
                savedata.PAN = $("#PAN").val();
                savedata.TAN = $("#TAN").val();
                savedata.EximCode = $("#EximCode").val();
                savedata.GSTInvoiceTypeId = $("#GSTInvoiceTypeId").val();
                savedata.CreditDays = $("#CreditDays").val() == "" ? null : parseInt($("#CreditDays").val());
                savedata.CreditLimit = $("#CreditLimit").val() == "" ? null : parseFloat($("#CreditLimit").val());
                savedata.TransportName = $("#TransportName option:selected").text();
                savedata.GSTNumberTransport = $("#GSTNumberTransport").val();
                savedata.ShippingAccountBranchMappingId = $("#ShippingAccountBranchMappingId").val() == "" ? null : parseInt($("#ShippingAccountBranchMappingId").val());
                savedata.DeliveryAccountBranchMappingId = $("#DeliveryAccountBranchMappingId").val() == "" ? null : parseInt($("#DeliveryAccountBranchMappingId").val());
                savedata.BrokerMappingId = $("#BrokerMappingId").val() == "" ? null : parseInt($("#BrokerMappingId").val());
                savedata.TDS = $("#TDS").val() == "" ? null : parseFloat($("#TDS").val());
                savedata.TCS = $("#TCS").val() == "" ? null : parseFloat($("#TCS").val());
                savedata.Discount = $("#Discount").val() == "" ? null : parseFloat($("#Discount").val());
                savedata.InterestRate = $("#InterestRate").val() == "" ? null : parseFloat($("#InterestRate").val());
                savedata.Commission = $("#Commission").val() == "" ? null : parseFloat($("#Commission").val())
                savedata.CapitalPercentage = $("#CapitalPercentage").val() == "" ? null : parseFloat($("#CapitalPercentage").val());
                savedata.IsIGST = $("#IsIGST").prop("checked");
                savedata.RateWithGST = $("#RateWithGST").prop("checked");
                savedata.RCMParty = $("#RCMParty").prop("checked");
                savedata.CompositParty = $("#CompositParty").prop("checked");
                savedata.IsEcommerce = $("#IsEcommerce").prop("checked");
                savedata.IsActive = $("#IsActive").prop("checked");
                savedata.IsDeleted = false;
                var jsonData = JSON.stringify(savedata);
                console.log(jsonData);
                blockUI('container');
                var retrundata = AjaxCall("POST", "@(Url.Action("SaveAccount", "Customer"))", jsonData,
                    function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fnReset();
                            showWarning("", 'Account saved successfully.');
                            $("#Id").val(0);
                            datatablelist();
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
                //swal('Error', e.message, "error"); //warning,  success, error, info
            }
        }

        function GetDetail(id) {
            try {
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/GetAccount"))" + "/" + id, "",
                    function (result) {
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                $('#Id').val(result.data.Id);
                                $("#Name").val(result.data.Name);
                                $("#PrintName").val(result.data.PrintName);
                                $("#AccountGroupId").val(result.data.AccountGroupId);
                                $("#Address1").val(result.data.Address1);
                                $("#Address2").val(result.data.Address2);
                                $("#Address3").val(result.data.Address3);
                                $("#CountryId").val(result.data.CountryId);
                                $("#StateId").val(result.data.StateId);
                                $("#CityId").val(result.data.CityId);
                                $("#Pincode").val(result.data.Pincode);
                                $("#KM").val(result.data.KM);
                                $("#AreaName").val(result.data.AreaName);
                                $("#ContactPersonName").val(result.data.ContactPersonName);
                                $("#Mobile").val(result.data.Mobile);
                                $("#MobileAlternate").val(result.data.MobileAlternate);
                                $("#Email").val(result.data.Email);
                                $("#AdharUID").val(result.data.AdharUID);
                                $("#GSTNumber").val(result.data.GSTNumber);
                                $("#PAN").val(result.data.PAN);
                                $("#TAN").val(result.data.TAN);
                                $("#EximCode").val(result.data.EximCode);
                                $("#GSTInvoiceTypeId").val(result.data.GSTInvoiceTypeId);
                                $("#CreditDays").val(result.data.CreditDays);
                                $("#CreditLimit").val(result.data.CreditLimit);
                                $("#TransportName").val(result.data.TransportName);
                                $("#GSTNumberTransport").val(result.data.GSTNumberTransport);
                                $("#ShippingAccountBranchMappingId").val(result.data.ShippingAccountBranchMappingId);
                                $("#DeliveryAccountBranchMappingId").val(result.data.DeliveryAccountBranchMappingId);
                                $("#BrokerMappingId").val(result.data.BrokerMappingId);
                                $("#TDS").val(result.data.TDS);
                                $("#TCS").val(result.data.TCS);
                                $("#Discount").val(result.data.Discount);
                                $("#InterestRate").val(result.data.InterestRate);
                                $("#Commission").val(result.data.Commission);
                                $("#CapitalPercentage").val(result.data.CapitalPercentage);
                            } else {
                                swal('Error', result.data, "error"); //warning,  success, error, info
                            }
                        } catch (e) {
                            swal('Error', e, "error"); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function Delete(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/DeleteAccount"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                datatablelist();
                            } else {
                                swal('Error', result.data, "error"); //warning,  success, error, info
                            }
                        } catch (e) {
                            swal('Error', e, "error"); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function BindGSTInvoiceTypeList() {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GSTInvoiceTypes"))", "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select GST Invoice Type</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#GSTInvoiceTypeId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindCountryList() {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetCountries"))", "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select Country</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#CountryId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindStateList(countryId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetStates"))" + "?countryId=" + countryId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select State</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#StateId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindDistrictList(stateId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetDistricts"))" + "?stateId=" + stateId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select District</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#DistrictId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindTalukaList(districtId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetTalukas"))" + "?districtId=" + districtId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select Taluka</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#TalukaId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindCityList(stateId, talukaId, districtId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetCities"))" + "?stateId=" + stateId + "&talukaId=" + talukaId + "&districtId=" + districtId, "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                            $("#CityId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }

        function BindCustomerAccountGroupList() {
            var str = "";
            str += "<option value='0'>Select Account Group</option>";
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Customer/GetAccountGroups"))", "",
                    function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["title"] + "</option>");
                                }
                            }
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
            $("#AccountGroupId").html(str);
        }
        
        function BindCustomerBrokerBranchMappingList() {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Customer/GetBroker"))", "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select Broker</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["brokerbame"] + "</option>");
                                }
                            }
                            $("#BrokerMappingId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        
        function BindCustomerAccountList() {
            try {
                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Customer/GetAccounts"))", "",
                    function (data) {
                        unblockUI('container');
                        var str = "";
                        str += "<option value='0'>Select Account</option>";
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    str += ("<option value='" + data.data[i]['id'] + "'>" + data.data[i]["name"] + "</option>");
                                }
                            }
                            $("#TransportName").html(str);
                            $("#AreaName").html(str);
                            $("#ShippingAccountBranchMappingId").html(str);
                            $("#DeliveryAccountBranchMappingId").html(str);
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
    </script>
}