@model Adroit.Accounting.Model.ViewModel.CustomerFirmBranchLRRateViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Transport</a></li>
                    <li class="active"><span>Lr Rate</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New" id="AddNew"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">BRANCH NAME</th>
                                    <th class="border-bottom-0">CITY</th>
                                    <th class="border-bottom-0">RATE PER KG</th>
                                    <th class="border-bottom-0">RATE PER PARCEL</th>
                                    <th class="border-bottom-0">IS CROSSING CHARGE</th>
                                    <th class="border-bottom-0">CROSSING CHARGE % ON FRIEGHT</th>
                                    <th class="border-bottom-0">CROSSING CHARGE PER KG</th>
                                    <th class="border-bottom-0">CROSSING CHARGE PER PARCEL</th>
                                    <th class="border-bottom-0">IS COMMISSION</th>
                                    <th class="border-bottom-0">COMMISSION % ON FRIEGHT</th>
                                    <th class="border-bottom-0">COMMISSION PER KG</th>
                                    <th class="border-bottom-0">COMMISSION PER PARCEL</th>
                                    <th class="border-bottom-0 text-center" style="width:120px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Settings</a></li>
                    <li><a href="#">Transport</a></li>
                    <li><a href="#" class="btn-back">LR Rate</a></li>
                    <li class="active"><span id="activeTabName"></span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="BranchId">Branch</label>
                                <select class="form-control select2-show-search mode-ed" id="BranchId">
                                    @{
                                        if (Model.BranchList != null)
                                        {
                                            foreach (var o in Model.BranchList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CityId">City</label>
                                <select class="form-control select2-show-search mode-ed" id="CityId">
                                    @{
                                        if (Model.CityList != null)
                                        {
                                            foreach (var o in Model.CityList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="RatePerKg">Lr Rate Per KG</label>
                                <select class="form-control select2-show-search-add mode-ed" id="RatePerKg">
                                    <option>0.00</option>
                                    @{
                                        if (Model.LrRatePerKgList != null)
                                        {
                                            foreach (var o in Model.LrRatePerParcelList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="RatePerParcel">Lr Rate Per Parcel</label>
                                <select class="form-control select2-show-search-add mode-ed" id="RatePerParcel">
                                    <option>0.00</option>
                                    @{
                                        if (Model.LrRatePerParcelList != null)
                                        {
                                            foreach (var o in Model.LrRatePerParcelList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div><label for="IsCrossingChargeApply">IsCrossingChargeApply</label></div>
                                <label class="custom-switch">
                                    <input id="IsCrossingChargeApply" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CrossingChargePercentOnFreight">Crossing Charge Per Freight</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CrossingChargePercentOnFreight">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CrossingChargePerFreightList != null)
                                        {
                                            foreach (var o in Model.CrossingChargePerFreightList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CrossingChargePerKg">Crossing Charge Per Kg</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CrossingChargePerKg">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CrossingChargePerKgList != null)
                                        {
                                            foreach (var o in Model.CrossingChargePerKgList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CrossingChargePerParcel">Crossing Charge Per Parcel</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CrossingChargePerParcel">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CrossingChargePerParcelList != null)
                                        {
                                            foreach (var o in Model.CrossingChargePerParcelList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <div><label for="IsCommissionApply">Is Commission Apply</label></div>
                                <label class="custom-switch">
                                    <input id="IsCommissionApply" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CommissionPercentOnFreight">Commission Per Freight</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CommissionPercentOnFreight">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CommissionPerFreightList != null)
                                        {
                                            foreach (var o in Model.CommissionPerFreightList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CommissionPerKg">Commission Per Kg</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CommissionPerKg">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CommissionPerKgList != null)
                                        {
                                            foreach (var o in Model.CommissionPerKgList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CommissionPerParcel">Commission Per Parcel</label>
                                <select class="form-control select2-show-search-add mode-ed" id="CommissionPerParcel">
                                    <option>0.00</option>
                                    @{
                                        if (Model.CommissionPerParcelList != null)
                                        {
                                            foreach (var o in Model.CommissionPerParcelList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-underdevelopment btn btn-blue mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn-underdevelopment btn btn-success mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />
    <input type="hidden" id="hdnCityId" value="0" />
</div>


@section Scripts
    {
    <script>

        $(function (e) {

            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();
        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $("#BranchId").focus();
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.branch;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.city;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.ratePerKg;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.ratePerParcel;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.isCrossingChargeApply;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.crossingChargePercentOnFreight;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.crossingChargePerKg;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.crossingChargePerParcel;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.isCommissionApply;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.commissionPercentOnFreight;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.commissionPerKg;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.commissionPerParcel;
                },
                "targets": colDef.length,
            });

            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Edit' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='View' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "Branch", "name": "Branch" });
            columns.push({ "data": "City", "name": "City" });
            columns.push({ "data": "RatePerKg", "name": "RatePerKg" });
            columns.push({ "data": "RatePerParcel", "name": "RatePerParcel" });
            columns.push({ "data": "IsCrossingChargeApply", "name": "IsCrossingChargeApply" });
            columns.push({ "data": "CrossingChargePercentOnFreight", "name": "CrossingChargePercentOnFreight" });
            columns.push({ "data": "CrossingChargePerKg", "name": "CrossingChargePerKg" });
            columns.push({ "data": "CrossingChargePerParcel", "name": "CrossingChargePerParcel" });
            columns.push({ "data": "IsCommissionApply", "name": "IsCommissionApply" });
            columns.push({ "data": "CommissionPercentOnFreight", "name": "CommissionPercentOnFreight" });
            columns.push({ "data": "CommissionPerKg", "name": "CommissionPerKg" });
            columns.push({ "data": "CommissionPerParcel", "name": "CommissionPerParcel" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/Admin/CustomerFirmBranchLRRateList"))',
                    type: 'GET',
                    data: function (d) {}
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }

            });
        }


        function fromReset() {
            $("#Id").val(0);
            $("#BranchId").val('').trigger("change");
            $("#CityId").val('').trigger("change");
            $("#RatePerKg").val("");
            $("#RatePerParcel").val("");
            $("#IsCrossingChargeApply").prop('checked', false);
            $("#CrossingChargePercentOnFreight").val("");
            $("#CrossingChargePerKg").val("");
            $("#CrossingChargePerParcel").val("");
            $("#IsCommissionApply").prop('checked', false);
            $("#CommissionPercentOnFreight").val("");
            $("#CommissionPerKg").val("");
            $("#CommissionPerParcel").val("");

            $("#hdnCityId").val("");
            $("#activeTabName").text("Add");
        }

        function saveItem() {
            try {

                if ($("#BranchId").val() == null || $("#BranchId").val() == "") {
                    showWarning("", "Please enter valid branch name");
                    $("#BranchId").focus();
                    return false;
                }

                if ($("#CityId").val() == null || $("#CityId").val() == "") {
                    showWarning("", "Please enter valid city .");
                    $("#CityId").focus();
                    return false;
                }
                if (parseInt($("#RatePerKg").val()) < 0 && parseInt($("#RatePerParcel").val()) < 0) {
                    showWarning("", "Please enter rate of any one");
                    $("#RatePerKg").focus();
                    return false;
                }

                if ($('#IsCrossingChargeApply').is(':checked')) {
                    if (parseInt($("#CrossingChargePercentOnFreight").val()) < 0 && parseInt($("#CrossingChargePerKg").val()) < 0 && parseInt($("#CrossingChargePerParcel").val()) < 0) {
                        showWarning("", "Please enter rate of any one");
                        $("#CrossingChargePerParcel").focus();
                        return false;
                    }
                }

                if ($('#IsCommissionApply').is(':checked')) {
                    if (parseInt($("#CommissionPercentOnFreight").val()) < 0 && parseInt($("#CommissionPerKg").val()) < 0 && parseInt($("#CommissionPerParcel").val()) < 0) {
                        showWarning("", "Please enter rate of any one");
                        $("#CommissionPerParcel").focus();
                        return false;
                    }
                }

                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.BranchId = parseInt($("#BranchId").val());
                savedata.CityId = parseInt($("#CityId").val());
                savedata.RatePerKg = $("#RatePerKg").val();
                savedata.RatePerParcel = $("#RatePerParcel").val();
                savedata.IsCrossingChargeApply = $('#IsCrossingChargeApply').is(':checked');
                savedata.CrossingChargePercentOnFreight = $("#CrossingChargePercentOnFreight").val();
                savedata.CrossingChargePerKg = $("#CrossingChargePerKg").val();
                savedata.CrossingChargePerParcel = $("#CrossingChargePerParcel").val();
                savedata.IsCommissionApply = $('#IsCommissionApply').is(':checked');
                savedata.CommissionPercentOnFreight = $("#CommissionPercentOnFreight").val();
                savedata.CommissionPerKg = $("#CommissionPerKg").val();
                savedata.CommissionPerParcel = $("#CommissionPerParcel").val();

                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveCustomerFirmBranchLRRate", "Admin"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Lr Rate saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }

        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Admin/GetCustomerFirmBranchLRRate"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }
                                $("#Id").val(result.data.id);
                                $("#BranchId").val(result.data.branchId).trigger("change");
                                $("#CityId").val(result.data.cityId).trigger("change");
                                $("#RatePerKg").val(result.data.ratePerKg).trigger("change");
                                $("#RatePerParcel").val(result.data.ratePerParcel).trigger("change");
                                $('#IsCrossingChargeApply').prop('checked', result.data.isCrossingChargeApply);
                                $("#CrossingChargePercentOnFreight").val(result.data.crossingChargePercentOnFreight).trigger("change");
                                $("#CrossingChargePerKg").val(result.data.crossingChargePerKg).trigger("change");
                                $("#CrossingChargePerParcel").val(result.data.crossingChargePerParcel).trigger("change");
                                $('#IsCommissionApply').prop('checked', result.data.isCommissionApply);
                                $("#CommissionPercentOnFreight").val(result.data.commissionPercentOnFreight).trigger("change");
                                $("#CommissionPerKg").val(result.data.commissionPerKg).trigger("change");
                                $("#CommissionPerParcel").val(result.data.commissionPerParcel).trigger("change");
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }
    </script>
}