@model Adroit.Accounting.Model.ViewModel.SalesBillMasterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Transaction</a></li>
                    <li><a href="#">Debit Note</a></li>
                    <li class="active"><span>Purchase</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="Add New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Branch Bill#</th>
                                    <th class="border-bottom-0">Bill Date</th>
                                    <th class="border-bottom-0">Bill Party</th>
                                    <th class="border-bottom-0">GST#</th>
                                    <th class="border-bottom-0">Amount</th>
                                    <th class="border-bottom-0">City</th>
                                    <th class="border-bottom-0">E-Invoice Ack.#</th>
                                    <th class="border-bottom-0">E-Invoice Date</th>
                                    <th class="border-bottom-0">GSTR1 Filling Ack.#</th>
                                    <th class="border-bottom-0">GSTR1 Filling Date</th>
                                    <th class="border-bottom-0">GSTR3B Filling Ack.#</th>
                                    <th class="border-bottom-0">GSTR3B Filling Date</th>
                                    <th class="border-bottom-0">Firm Bill#</th>
                                    <th class="border-bottom-0 text-center" style="width: 80px !important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Tiger Nixon Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>Tiger Nixon Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>61</td>
                                    <td>Tiger Nixon Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td>Edinburgh</td>
                                    <td>Tiger Nixon Tiger Nixon</td>
                                    <td>System Architect</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>63</td>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>Garrett Winters</td>
                                    <td>Accountant</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>66</td>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td>San Francisco</td>
                                    <td>Ashton Cox</td>
                                    <td>Junior Technical Author</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>22</td>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td>Edinburgh</td>
                                    <td>Cedric Kelly</td>
                                    <td>Senior Javascript Developer</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>33</td>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td>Tokyo</td>
                                    <td>Airi Satou</td>
                                    <td>Accountant</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>61</td>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td>New York</td>
                                    <td>Brielle Williamson</td>
                                    <td>Integration Specialist</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>59</td>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td>San Francisco</td>
                                    <td>Herrod Chandler</td>
                                    <td>Sales Assistant</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>55</td>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td>Tokyo</td>
                                    <td>Rhona Davidson</td>
                                    <td>Integration Specialist</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td>San Francisco</td>
                                    <td>Colleen Hurst</td>
                                    <td>Javascript Developer</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>San Francisco</td>
                                    <td>1234567890</td>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td>San Francisco</td>
                                    <td>Jonas Alexander</td>
                                    <td>Developer</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td>Edinburgh</td>
                                    <td>51</td>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td>Edinburgh</td>
                                    <td>51</td>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td>Edinburgh</td>
                                    <td>Shad Decker</td>
                                    <td>Regional Director</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Michael Bruce</td>
                                    <td>Javascript Developer</td>
                                    <td>Singapore</td>
                                    <td>29</td>
                                    <td>Michael Bruce</td>
                                    <td>Javascript Developer</td>
                                    <td>Singapore</td>
                                    <td>29</td>
                                    <td>Michael Bruce</td>
                                    <td>Javascript Developer</td>
                                    <td>Singapore</td>
                                    <td>Michael Bruce</td>
                                    <td>Javascript Developer</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td>New York</td>
                                    <td>27</td>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td>New York</td>
                                    <td>27</td>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td>New York</td>
                                    <td>Donna Snider</td>
                                    <td>Customer Support</td>
                                    <td class="text-center">
                                        <div class="btn-list1">
                                            <a href="#" class="btn btn-outline-warning small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Edit">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-info small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="View">
                                                <i class="fa fa-info"></i>
                                            </a>
                                            <a href="#" class="btn btn-outline-danger small-icon-btn"
                                               data-toggle="tooltip" title="" data-placement="bottom"
                                               data-original-title="Delete">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Transaction</a></li>
                    <li><a href="#">Debit Note</a></li>
                    <li><a href="#">Purchase</a></li>
                    <li class="active"><span>Add/Edit (ID# 100)</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">                        
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12 col-lg-12">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="BookId" class="col-md-2 col-lg-1 form-label">
                                        Book
                                    </label>
                                    <div class="col-md-9 col-lg-5">
                                        <select class="form-control select2-show-search" id="BookId">
                                            @{
                                                if (Model.BookBranchList != null)
                                                {
                                                    foreach (var o in Model.BookBranchList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label for="InvoiceTypeId" class="col-md-2 col-lg-1 form-label">
                                        Invoice Type
                                    </label>
                                    <div class="col-md-4 col-lg-2">
                                        <select class="form-control select2-show-search" id="InvoiceTypeId">
                                            @{
                                                if (Model.InvoiceTypeList != null)
                                                {
                                                    foreach (var o in Model.InvoiceTypeList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label for="ReferanceId" class="col-md-2 col-lg-1 form-label">
                                        Referance #
                                    </label>
                                    <div class="col-md-4 col-lg-2">
                                        <input type="text" class="form-control" id="ReferanceId"
                                               placeholder="">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="BranchBill" class="col-md-2 col-lg-1 form-label">
                                        Branch DN #
                                    </label>
                                    <div class="col-md-4 col-lg-2">
                                        <input type="text" class="form-control" id="BranchBill"
                                               placeholder="">
                                    </div>
                                    <label for="BillDate" class="col-md-2 col-lg-1 form-label">
                                        Bill Date
                                    </label>
                                    <div class="col-md-4 col-lg-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input class="form-control fc-datepicker"
                                                   placeholder="MM/DD/YYYY" type="text" id="BillDate">
                                        </div>
                                    </div>
                                    <label for="FirmBill" class="col-md-2 col-lg-1 form-label">
                                        Firm DN #
                                    </label>
                                    <div class="col-md-4 col-lg-2">
                                        <input type="text" class="form-control" id="FirmBill"
                                               placeholder="">
                                    </div>
                                    <label for="SkipInGSTR" class="col-md-1 form-label">Skip In GSTR</label>
                                    <div class="col-md-2">
                                        <label class="custom-switch mt-2">
                                            <input id="SkipInGSTR" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                            <span class="custom-switch-indicator"></span>
                                        </label>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="AccountBranchMappingId" class="col-md-2 col-lg-1 form-label mb-1">
                                        Bill Party
                                    </label>
                                    <div class="col-md-10 col-lg-5">
                                        <select class="form-control select2-show-search" id="AccountBranchMappingId">
                                             @{
                                                if (Model.AccountBranchMappingList != null)
                                                {
                                                    foreach (var o in Model.AccountBranchMappingList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label for="creditAccount" class="col-md-2 col-lg-1 form-label mb-1">
                                        Credit A/C
                                    </label>
                                    <div class="col-md-10 col-lg-5">
                                        <select class="form-control select2-show-search" id="creditAccount">
                                            @{
                                                if (Model.AccountBranchMappingList != null)
                                                {
                                                    foreach (var o in Model.AccountBranchMappingList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>                                                
                                </div>
                                <div class="row customer-gnr-ch-multi">
                                    <div class="col-md-12 col-lg-12 p-2">
                                        <div class="card mb-0 m-0 p-2 pl-3 pr-3">
                                            <div class="col-md-12 p-0 m-0" id="BookMultiList">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-horizontal">                                
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-lg-2 col-md-3 form-label">
                                        E-Invoice ARN
                                    </label>
                                    <div class="col-lg-2 col-md-3">
                                        <input type="text" class="form-control" id="exampleInputname"
                                               placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-lg-1 col-md-2 form-label">Date</label>
                                    <div class="col-lg-2 col-md-3">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                    <label for="exampleInputname" class="col-lg-1 col-md-3 form-label">IRN#</label>
                                    <div class="col-lg-2 col-md-3">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="" readonly>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="PaymentDetail" class="col-lg-2 col-md-3 form-label">
                                        Payment Detail
                                    </label>
                                    <div class="col-lg-5 col-md-9">
                                        <input type="text" class="form-control" id="PaymentDetail"
                                               placeholder="" readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-1">
                                <label for="remarks" class="col-lg-2 col-md-3 form-label">
                                    Remarks
                                </label>
                                <div class="col-lg-8 col-md-9">
                                    <textarea class="form-control" id="remarks" rows="2" placeholder="Write a large text here ..."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="TaxableAmount" class="col-md-4 form-label text-left">Basic Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="TaxableAmount" placeholder="" readonly tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="TDSPercentage" class="col-md-2 form-label text-left">T.D.S.</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="TDSPercentage" placeholder="%">
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="TDSAmount" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="SGSTTotal" class="col-md-4 form-label text-left">SGST Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="SGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="CGSTTotal" class="col-md-4 form-label text-left">CGST Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="CGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="IGSTTotal" class="col-md-4 form-label text-left">IGST Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="IGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="GSTStateCessTotal" class="col-md-4 form-label text-left">State Cess Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="GSTStateCessTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="GSTCentralCessTotal" class="col-md-4 form-label text-left">Central Cess Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="GSTCentralCessTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="TCSPercentage" class="col-md-2 form-label text-left">T.C.S.</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="TCSPercentage" placeholder="%">
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="TCSAmount" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="RoundOff" class="col-md-4 form-label text-left">Other (+/-)</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="RoundOff" placeholder="">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="BillAmount" class="col-md-4 form-label text-left">Bill Amount</label>
                                    <div class="col-md-8">
                                        <input type="text" class="form-control CalculateTotalTaxableAmount" id="BillAmount" placeholder="" readonly tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-underdevelopment btn btn-blue mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn-underdevelopment btn btn-success mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
        <!-- row end -->
         <!--SaleBillListModal start-->
        <div id="saleBillListModal" class="modal fade" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg m-5" role="document" style="min-width: -webkit-fill-available; min-height: -webkit-fill-available;">
                <div class="modal-content ">
                    <div class="form-horizontal modal-header pd-x-20">
                        <h5 class="modal-title col-md-1" style="align-self:center;">Purchase Bill List</h5>
                        <label for="DateFrom" class="col-md-1 form-label">Date</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker1 fc-daterange" placeholder="" type="text" id="DateFrom">
                                </div>
                            </div>
                        </div>                       
                        <a href="#" class="btn btn-primary" data-toggle="modal" id="SearchPurchaseBillList" data-original-title="Select Purchase Bill List">
                            Search
                        </a>           
                        <label for="poNumber" class="col-md-1 form-label ml-4">Search Pur. Bill # : </label>
                        <div class="col-md-2" style="display:flex;">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search Pur. Bill..." id="poNumber">                                
                            </div>
                        </div>
                        <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body pd-20" style="max-height: 700px; overflow-x: auto; overflow-y: auto;">
                        <div class="table-responsive">
                            <table id="LRtblMain" class="table table-bordered key-buttons text-nowrap">
                                <thead>
                                <thead>
                                    <tr>
                                        <th class="border-bottom-0"><input type="checkbox" /></th>
                                        <th class="border-bottom-0">Bill#</th>
                                        <th class="border-bottom-0">Date</th>
                                        <th class="border-bottom-0">Bill Amount</th>
                                        <th class="border-bottom-0">Cr Days</th>
                                        <th class="border-bottom-0">Due Date</th>
                                        <th class="border-bottom-0">Paid</th>
                                        <th class="border-bottom-0">Unpaid</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><input type="checkbox" /></td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>
                                        <td>1</td>                                        
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-primary" id="AddData">Add</a>
                        <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!--SaleBillListModal end-->
        <!--ChalanListModal start-->
        <div id="chalanListModal" class="modal fade" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
            <div class="modal-dialog modal-lg m-5" role="document" style="min-width: -webkit-fill-available; min-height: -webkit-fill-available;">
                <div class="modal-content ">
                    <div class="form-horizontal modal-header pd-x-20">
                        <h5 class="modal-title col-md-1" style="align-self:center;">Chalan List</h5>
                        <label for="DateFrom" class="col-md-1 form-label">Date</label>
                        <div class="col-md-4">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker1 fc-daterange" placeholder="" type="text" id="DateFrom">
                                </div>
                            </div>
                        </div>
                        <a href="#" class="btn btn-primary" data-toggle="modal" id="SearchChalanList" data-original-title="Select Chalan List">
                            Search
                        </a>
                        <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </a>
                    </div>
                    <div class="modal-body pd-20" style="max-height: 700px; overflow-x: auto; overflow-y: auto;">
                        <div class="table-responsive">
                            <table id="LRtblMain" class="table table-bordered key-buttons text-nowrap">
                                <thead>
                                    <tr>
                                        <th class="border-bottom-0"><input type="checkbox" /></th>
                                        <th class="border-bottom-0">Chalan#</th>
                                        <th class="border-bottom-0">Chalan Date</th>
                                        <th class="border-bottom-0">Total Product</th>
                                        <th class="border-bottom-0">[Label 1]</th>
                                        <th class="border-bottom-0">[Label 2]</th>
                                        <th class="border-bottom-0">[Label 3]</th>
                                        <th class="border-bottom-0">[Label 4]</th>
                                        <th class="border-bottom-0">[Label 5]</th>
                                        <th class="border-bottom-0">[Label 6]</th>
                                        <th class="border-bottom-0">UOM</th>
                                        <th class="border-bottom-0">Chalan Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div><!-- modal-body -->
                    <div class="modal-footer">
                        <a href="#" type="button" class="btn btn-primary" id="AddData">Add</a>
                        <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
                    </div>
                </div>
            </div><!-- modal-dialog -->
        </div><!-- modal -->
        <!--ChalanListModal end-->
    </div>
    <!--Modal start-->
    <div class="modal fade" id="transportDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="example-Modal3">LR Detail Add</h5>
                    <a href="#" type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </a>
                </div>
                <div class="modal-body">
                    <div class="form-horizontal">
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                LR #
                            </label>
                            <div class="col-md-6">
                                <input type="text" class="form-control" id="exampleInputname"
                                       placeholder="">
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">LR Date</label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control fc-datepicker"
                                           placeholder="MM/DD/YYYY" type="text" id="LRDate">
                                </div>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                Transporter
                            </label>
                            <div class="col-md-5">
                                <select class="form-control select2-show-search mode-ed" id="">
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                Trans.GST
                            </label>
                            <div class="col-md-5">
                                <select class="form-control select2-show-search mode-ed" id="">
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                Vehicle #
                            </label>
                            <div class="col-md-5">
                                <select class="form-control select2-show-search mode-ed" id="">
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                Station
                            </label>
                            <div class="col-md-5">
                                <select class="form-control select2-show-search mode-ed" id="">
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                </select>
                            </div>
                        </div>
                        <div class="row mb-1">
                            <label for="exampleInputname" class="col-md-4 form-label">
                                Transport Mode
                            </label>
                            <div class="col-md-5">
                                <select class="form-control select2-show-search" id="">
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                    <option value="1">Party Name | GST Number | City</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <a href="#" type="button" class="btn btn-gray mt-1" data-dismiss="modal">
                        <i class="fa fa-arrow-left"></i>&nbsp;Cancel
                    </a>
                    <a href="#" type="button" class="btn btn-primary mt-1">
                        <i class="fa fa-save"></i>&nbsp;Save
                    </a>
                </div>
            </div>
        </div>
    </div>
</div><!-- modal -->

@section Scripts
    {
    <script>

        $(function (e) {
            $('.dv-list').hide();
            $('.dv-detail').show();                

            addClick();

            $("#AccountBranchMappingId").on('change', function (e) {
                GetListWithCustomerAccountBranchMappingId($(this).val());
                calculateBasicAmount();
            });

            $("#SearchChalan").on('click', function (e) {
                $("#chalanListModal").modal("show");                   
            });

            $("#SearchSaleBill").on('click', function (e) {
                $("#saleBillListModal").modal("show");                   
            });

            var formattedMinimumDate = $.datepicker.formatDate("dd/mm/yy", new Date());
            $("#BillDate").datepicker("setDate", formattedMinimumDate);   
        });


        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            $("#AccountBranchMappingId").focus();
            addRow();
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function fromReset() {

            $("#Id").val(0);
            var formattedMinimumDate = $.datepicker.formatDate("dd/mm/yy", new Date());
            $("#BillDate").datepicker("setDate", formattedMinimumDate);

            $("#CreditDays").val('');
            $("#TaxableAmount").val('');
            $("#TDSPercentage").val('');
            $("#TDSAmount").val('');
            $("#SGSTTotal").val('');
            $("#CGSTTotal").val('');
            $("#IGSTTotal").val('');
            $("#GSTStateCessTotal").val('');
            $("#GSTCentralCessTotal").val('');
            $("#RoundOff").val('');
            $("#BillAmount").val('');
            $("#TCSPercentage").val('');
            $("#TCSAmount").val('');

            $("#AccountBranchMappingId").val(null).trigger('change');

            $('#BookMultiList').html('');

            $("#activeTabName").text("Add");
            $(".btn-delete").hide();

        }

        function GetListWithCustomerAccountBranchMappingId(CustomerAccountBranchMappingId) {
            try {
                if ($("#AccountBranchMappingId").val() == '' || $("#AccountBranchMappingId").val() == null) return;
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Common/GetCustomerAccountDetails"))" + "/" + CustomerAccountBranchMappingId, "",
                    function (result) {
                        try {
                            if (result.result == RESULT_SUCCESS) {

                                $("#CreditDays").val(result.data.creditDays);
                                $("#TDSPercentage").val(result.data.tds);
                                $("#TCSPercentage").val(result.data.tcs);
                                $(".discount-percentage-cls").val(result.data.discount);

                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function calculateBasicAmount() {
            var totalTaxableAmount = 0;

            $('.content-rows').each(function () {
                var contentRowId = $(this).attr('id').replace('row-', '');
                var taxableAmount = parseFloat($('#TaxAmt' + contentRowId).text()) || 0;
                totalTaxableAmount += taxableAmount;
                $('#TaxableAmount').val(totalTaxableAmount.toFixed(2));
            });

            var BasicAmount = parseFloat($('#TaxableAmount').val()) || 0;
            var CGSTTotal = parseFloat($('#CGSTTotal').val()) || 0;
            var SGSTTotal = parseFloat($('#SGSTTotal').val()) || 0;
            var IGSTTotal = parseFloat($('#IGSTTotal').val()) || 0;
            var GSTStateCessTotal = parseFloat($('#GSTStateCessTotal').val()) || 0;
            var GSTCentralCessTotal = parseFloat($('#GSTCentralCessTotal').val()) || 0;
            var TCSPercentage = parseFloat($('#TCSPercentage').val()) || 0;

            $('#TCSAmount').val(((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal) * (TCSPercentage) / 100).toFixed(2));
            var TCSAmount = parseFloat($('#TCSAmount').val()) || 0;

            var totalAmount = BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount;

            var RoundOff = customRound(totalAmount) - totalAmount;

            $('#RoundOff').val(RoundOff.toFixed(2));
            $('#BillAmount').val((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount + RoundOff).toFixed(2));

        }
        function customRound(number) {
            var decimalPart = number % 1;
            return decimalPart < 0.5 ? Math.floor(number) : Math.ceil(number);
        }

        function calculateBasicAmount() {
            var totalTaxableAmount = 0;

            $('.content-rows').each(function () {
                var contentRowId = $(this).attr('id').replace('row-', '');
                var taxableAmount = parseFloat($('#TaxAmt' + contentRowId).text()) || 0;
                totalTaxableAmount += taxableAmount;
                $('#TaxableAmount').val(totalTaxableAmount.toFixed(2));
            });

            var BasicAmount = parseFloat($('#TaxableAmount').val()) || 0;
            var CGSTTotal = parseFloat($('#CGSTTotal').val()) || 0;
            var SGSTTotal = parseFloat($('#SGSTTotal').val()) || 0;
            var IGSTTotal = parseFloat($('#IGSTTotal').val()) || 0;
            var GSTStateCessTotal = parseFloat($('#GSTStateCessTotal').val()) || 0;
            var GSTCentralCessTotal = parseFloat($('#GSTCentralCessTotal').val()) || 0;
            var TCSPercentage = parseFloat($('#TCSPercentage').val()) || 0;

            $('#TCSAmount').val(((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal) * (TCSPercentage) / 100).toFixed(2));
            var TCSAmount = parseFloat($('#TCSAmount').val()) || 0;

            var totalAmount = BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount;

            var RoundOff = customRound(totalAmount) - totalAmount;

            $('#RoundOff').val(RoundOff.toFixed(2));
            $('#BillAmount').val((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount + RoundOff).toFixed(2));

        }
        function customRound(number) {
            var decimalPart = number % 1;
            return decimalPart < 0.5 ? Math.floor(number) : Math.ceil(number);
        }

        var contentRowId = 0;
        function addRow() {
            contentRowId++;
            var htmlContentArray = [];

            contentRowId++;
            var htmlContent =
                `<div class="row m-0 rounded content-rows" id="row-` + contentRowId + `">
                            <div class="row">
                                <div class="col-md-1 pl-2 pr-2 grid-border">
                                    <label for="SrTextbox${contentRowId}" class="form-label"> SR#</label><input type="text" class="form-control content-row-srno" id="SrTextbox${contentRowId}" placeholder max="999" readonly>
                                </div>
                                <div class="col-md-1 pl-2 pr-2 grid-border">
                                    <label for="BoxLabel1${contentRowId}" class="form-label">Pur. Bill #</label>
                                    <div class="mb-1">
                                        <select class="form-control select2-show-search select2-show-search-contentrows" id="">
                                            <option value="1">1 Group</option>
                                            <option value="2">2 Group</option>
                                            <option value="3">3 Group</option>
                                            <option value="4">4 Group</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1 pl-2 pr-2 grid-border">
                                    <label for="BoxLabel3${contentRowId}" class="form-label">Date</label>
                                    <div class="mb-1"><input type="text" class="form-control" id="exampleInputname" placeholder="" readonly></div>
                                </div>
                                <div class="col-md-2 pl-2 pr-2 grid-border">
                                    <label for="OtherCharges${contentRowId}" class="form-label">Bill Taxable Amt</label>
                                            <div class="mb-1"><input type="text" class="form-control" id="exampleInputname" placeholder="" readonly></div>
                                </div>
                                <div class="col-md-3 pl-2 pr-2 grid-border">
                                    <label for="Gst${contentRowId}" class="form-label">Debit Note Description</label>
                                    <div class="mb-1">
                                        <select class="form-control select2-show-search select2-show-search-contentrows" id="">
                                            <option value="1">1 Product Name</option>
                                            <option value="2">2 Product Name</option>
                                            <option value="3">3 Product Name</option>
                                            <option value="4">4 Product Name</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-1 pl-2 pr-2 grid-border">
                                    <label for="Scess${contentRowId}" class="form-label">DN Amount</label>
                                    <div class="mb-1"><input type="text" class="form-control" id="exampleInputname" placeholder=""></div>
                                </div>
                                <div class="col-md-2 pl-2 pr-2 grid-border">
                                    <label for="Ccess${contentRowId}" class="form-label">Notes</label>
                                    <div class="mb-1"><input type="text" class="form-control" id="exampleInputname" placeholder=""></div>
                                </div>
                                <div class="col-md-1 grid-border d-flex justify-content-center align-items-center>
                                    <div class="form-group text-center mb-1">
                                        <div class="btn-list1 mt-1">
                                            <a href="javascript:addRow();" class="btn btn-outline-primary small-icon-btn content-rows-add-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add" tabindex="25"><i class="fa fa-plus"></i></a>
                                            <a href="javascript:deleteRow(` + contentRowId + `);" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>`;

            htmlContentArray.push(htmlContent);

            $('.content-rows-add-btn').remove();
            $('#BookMultiList').append(htmlContentArray.join(''));
            var accordionContainers = $('#row-' + contentRowId + ' .demo-accordion');
            accordionContainers.each(function () {
                $(this).accordionjs();
                $(this).find('.acc_content').hide();
            });

            $('.select2-show-search-add').select2({
                placeholder: 'Choose one',
                searchInputPlaceholder: 'Search',
                width: '100%',
                tags: true
            });

            $('.select2-show-search-api').select2({
                minimumResultsForSearch: ''
            });
            $('.fc-datepicker').datepicker();
            $('.select2-show-search-contentrows').select2({
                minimumResultsForSearch: ''
            });

            var counter = 0;
            $('.content-row-srno').each(function () {
                $(this).val(++counter);
            });

            $('.delete-row-btn').on('click', function () {
                var index = $(this).data('index');
                deleteRow(index);
            });

        }
        function deleteRow(rowId) {
            $('#row-' + rowId).remove();
            if ($('.content-rows').length == 0 || $('.content-rows-add-btn').length == 0) {
                addRow();
            }
        }       
    </script>
}