@using Adroit.Accounting.Model;
@using Adroit.Accounting.Model.Enums;
@model Adroit.Accounting.Model.ViewModel.DriverViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Driver</a></li>
                    <li class="active"><span>List</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New" id="AddNew"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">DRIVER</th>
                                    <th class="border-bottom-0">TYPE</th>
                                    <th class="border-bottom-0">CITY</th>
                                    <th class="border-bottom-0" style="width:100px">ACTIVE</th>
                                    <th class="border-bottom-0 text-center" style="width:120px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#" class="btn-back">Driver</a></li>
                    <li class="active"><span id="activeTabName">Add</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Driver...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button" onclick="showUnderDevMsg()">Go!</button>
                        </span>
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-blue text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Print"><span><i class="fa fa-print"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel"><span><i class="fa fa-arrow-left"></i></span>                        </a>
                    </div>
                </div>
            </div>
        </div>-
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="DriverName">Driver Name</label>
                                <select class="form-control select2-show-search-add mode-ed" id="DriverName">
                                    <option></option>
                                    @{
                                        if (Model.DriverNameList != null)
                                        {
                                            foreach (var o in Model.DriverNameList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="DriverType">Driver Type</label>
                                <select class="form-control select2-show-search mode-ed" id="DriverType">
                                    @{
                                        if (Model.DriverTypeList != null)
                                        {
                                            foreach (var o in Model.DriverTypeList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control mode-ed" id="Address" placeholder="" maxlength="400">
                            </div>
                        </div>                        
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="CityId">City</label>
                                <select class="form-control select2-show-search mode-ed" id="CityId">
                                    @{
                                        if (Model.CityList != null)
                                        {
                                            foreach (var o in Model.CityList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Pincode">Pincode</label>
                                <input type="text" class="form-control mode-ed numberonly " id="PinCode" placeholder="" maxlength="10">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LicenceNumber">LicenceNumber</label>
                                <input type="text" class="form-control mode-ed" id="LicenceNumber" placeholder="" maxlength="20">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LicenceIssuePlaceId">Licence Issue Place</label>
                                <select class="form-control select2-show-search mode-ed" id="LicenceIssuePlaceId">
                                    @{
                                        if (Model.LicenceIssuePlaceList != null)
                                        {
                                            foreach (var o in Model.LicenceIssuePlaceList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="LicenceExpiry">Licence Expiry</label>
                                <input type="text" class="form-control mode-ed fc-datepicker" id="LicenceExpiry" placeholder="@Constant.DateFormat.ToUpper()" maxlength="100">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Mobile">Mobile</label>
                                <input type="text" class="form-control numberonly mode-ed" id="Mobile" placeholder="" maxlength="15">
                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="AadhaarUID">Aadhaar UID</label>
                                <input type="text" class="form-control mode-ed" id="AadhaarUID" placeholder="" maxlength="12">
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <div><label for="Active">Active</label></div>
                                <label class="custom-switch">
                                    <input id="Active" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-underdevelopment btn btn-blue mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="New"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel" id="btnCancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />
</div>

@section Scripts
    {

    <script>

        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();            

            if (@Model.Id > 0) {
                getDetail(@Model.Id, false);
            }
        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            $("#DriverName").focus();

            $("#Active").prop('checked', true);
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.name;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.driverType;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.city;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.active ? "Yes" : "No";
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Edit' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='View' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    if (row.customerType != "@CustomerType.BackOffice") {
                        btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Delete' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    }
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "orderable": false
            });

            columns.push({ "data": "Name", "name": "Name" });
            columns.push({ "data": "DriverType", "name": "DriverType" });
            columns.push({ "data": "City", "name": "City" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/Customer/DriverList"))',
                    type: 'GET',
                    data: function (d) {

                    }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }
            });
        }        

        function fromReset() {
            $("#Id").val(0);
            $("#DriverName").val('').trigger("change");
            $("#DriverType").val('').trigger("change");
            $("#Address").val("");
            $("#CityId").val('').trigger("change");
            $("#PinCode").val("");
            $("#LicenceNumber").val("");
            $("#LicenceIssuePlaceId").val('').trigger("change");
            $("#Mobile").val("");
            $("#AadhaarUID").val("");
            $("#Active").prop('checked', false);

            $("#activeTabName").text("Add");
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {
                if ($("#DriverName").val().trim() == "") {
                    showWarning("", "Please enter name.");
                    $("#DriverName").focus();
                    return false;
                }
                if ($("#DriverName").val().trim().length <= 2) {
                    showWarning("", "Enter valid driver name.");
                    $("#DriverName").focus();
                    return false;
                }
                if ($("#DriverType").val() == "" || $("#DriverType").val() == null) {
                    showWarning("", "Please select driver type.");
                    $("#DriverType").focus();
                    return false;
                }                
                if ($("#CityId").val() == null || $("#CityId").val() == "") {
                    showWarning("", "Please select city.");
                    $("#CityId").focus();
                    return false;
                }

                if ($("#LicenceNumber").val().trim() != "") {
                    // showWarning("", "Please enter licence number.");
                    // $("#LicenceNumber").focus();
                    // return false;
                    if ($("#LicenceIssuePlaceId").val() == null || $("#LicenceIssuePlaceId").val() == "") {
                        showWarning("", "Please select licence issue place.");
                        $("#LicenceIssuePlaceId").focus();
                        return false;
                    }
                    if ($("#LicenceExpiry").val().trim() == "") {
                        showWarning("", "Please select licence expiry.");
                        $("#LicenceExpiry").focus();
                        return false;
                    }
                }


                if ($("#Mobile").val().trim() != "") {
                    if ($("#Mobile").val().trim().length != 10) {
                        showWarning("", "Please enter valid mobile number.");
                        $("#Mobile").focus();
                        return false;
                    }

                    if (!isNumber($("#Mobile").val().trim()) || $("#Mobile").val().trim().charAt(0) == '0') {
                        showWarning("", "Please enter valid mobile number.");
                        $("#Mobile").focus();
                        return false;
                    }
                }
                if ($("#AadhaarUID").val().trim() != "") {
                    if ($("#AadhaarUID").val().trim().length != 12) {
                        showWarning("", "Please enter valid adhar uid.");
                        $("#AadhaarUID").focus();
                        return false;
                    }

                    if (!isNumber($("#AadhaarUID").val().trim())) {
                        showWarning("", "Please enter valid adhar uid.");
                        $("#AadhaarUID").focus();
                        return false;
                    }
                }

                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.Name = $("#DriverName").val();
                savedata.DriverTypeId = $("#DriverType").val();
                savedata.Address = $("#Address").val();
                savedata.CityId = parseInt($("#CityId").val());
                savedata.Pincode = $("#PinCode").val();
                savedata.LicenceNumber = $("#LicenceNumber").val();
                savedata.LicenceIssuePlaceId = parseInt($("#LicenceIssuePlaceId").val());
                savedata.LicenceExpiry = $("#LicenceExpiry").val().length > 0 ? getDate($("#LicenceExpiry").val()) : "";
                savedata.Mobile = $("#Mobile").val();
                savedata.AdharUID = $("#AadhaarUID").val();
                savedata.Active = $('#Active').is(':checked');

                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveDriver", "Customer"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Driver saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }

        }

        function deleteItem(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/DeleteDriver"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/GetDriver"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }
                                $('#Id').val(result.data.id);
                                $("#DriverName").val(result.data.name).trigger("change");
                                $("#DriverType").val(result.data.driverTypeId).trigger("change");
                                $("#Address").val(result.data.address);
                                $("#PinCode").val(result.data.pincode);
                                $("#LicenceNumber").val(result.data.licenceNumber);
                                $("#LicenceIssuePlaceId").val(result.data.licenceIssuePlaceId).trigger("change");
                                $("#LicenceExpiry").val(result.data.licenceExpiryString);
                                $("#Mobile").val(result.data.mobile);
                                $("#AadhaarUID").val(result.data.adharUID);
                                $('#Active').prop('checked', result.data.active);

                                $("#CityId").val(result.data.cityId).trigger("change");
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }
    </script>
}
