@model Adroit.Accounting.Model.ViewModel.SalesBillMasterViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Transaction</a></li>
                    <li><a href="#">Booking</a></li>
                    <li class="active"><span>Invoice</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="Add New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">Branch Bill #</th>
                                    <th class="border-bottom-0">Bill Date</th>
                                    <th class="border-bottom-0">Bill Party</th>
                                    <th class="border-bottom-0">GST #</th>
                                    <th class="border-bottom-0">Amount</th>
                                    <th class="border-bottom-0">City</th>
                                    <th class="border-bottom-0">Firm Bill #</th>
                                    <th class="border-bottom-0 text-center" style="width:80px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Transaction</a></li>
                    <li><a href="#">Booking</a></li>
                    <li><a href="#">Invoice</a></li>
                    <li class="active"><span>Invoice Add/Edit (ID# 100)</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search E-Way Bill...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                        <a href="#" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip"
                           title="" data-placement="bottom" data-original-title="Save">
                            <span>
                                <i class="fa fa-save"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-blue text-white mr-2 btn-sm" data-toggle="tooltip"
                           title="" data-placement="bottom" data-original-title="Print">
                            <span>
                                <i class="fa fa-print"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-success text-white mr-2 btn-sm" data-toggle="tooltip"
                           title="" data-placement="bottom" data-original-title="Send">
                            <span>
                                <i class="fa fa-share-alt"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-danger text-white mr-2 btn-sm" data-toggle="tooltip"
                           title="" data-placement="bottom" data-original-title="Delete">
                            <span>
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm"
                           data-toggle="tooltip" title="" data-placement="bottom"
                           data-original-title="Cancel">
                            <span>
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="SerialNumberOfBranch" class="col-md-1 form-label">
                                        Branch Bill No
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="SerialNumberOfBranch"
                                               placeholder="">
                                    </div>
                                    <label for="BillDate" class="col-md-1 form-label mb-1">
                                        Bill Date
                                    </label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="BillDate">
                                        </div>
                                    </div>
                                    <label for="LRNumber" class="col-md-1 form-label">
                                        LR Number
                                    </label>
                                    <div class="col-md-2">
                                        <div class="input-group" style="flex-wrap:nowrap;">
                                            <select class="form-control select2-show-search" id="LRNumber">
                                                <option></option>
                                                @{
                                                    if (Model.LRNumberList != null)
                                                    {
                                                        foreach (var o in Model.LRNumberList)
                                                        {
                                                            <option value="@o.Text">@o.Text</option>
                                                        }
                                                    }
                                                }
                                            </select>
                                            <span class="input-group-append">
                                                <button class="btn btn-primary" type="button" id="SearchLRNumber">Go!</button>
                                            </span>
                                        </div>
                                    </div>
                                    <label for="PayTypeId" class="col-md-1 form-label">
                                        Pay Type
                                    </label>
                                    <div class="col-md-2">
                                        <select class="form-control select2-show-search" id="PayTypeId">
                                            <option value="1" selected>All</option>
                                            <option value="2">Paid</option>
                                            <option value="3">TBB</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="AccountBranchMappingId" class="col-md-1 form-label">
                                        Bill Party
                                    </label>
                                    <div class="col-md-5">
                                        <select class="form-control select2-show-search" id="AccountBranchMappingId">
                                            <option></option>
                                            @{
                                                if (Model.AccountBranchMappingList != null)
                                                {
                                                    foreach (var o in Model.AccountBranchMappingList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label for="CreditDays" class="col-md-1 form-label">
                                        Credit Days
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="CreditDays" placeholder="">
                                    </div>
                                    <label for="exampleInputname" class="col-md-1 form-label">
                                        Ledger Amount
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="exampleInputname" placeholder="">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="exampleInputname" class="col-md-1 form-label mb-1">
                                        From Date
                                    </label>
                                    <div class="col-md-2">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <div class="input-group-text">
                                                    <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                </div>
                                            </div>
                                            <input class="form-control fc-datepicker"
                                                   placeholder="MM/DD/YYYY" type="text" id="ChalanDateFrom">
                                        </div>
                                    </div>
                                    <div class="col-md-3 p-0">
                                        <div class="row">
                                            <label for="ChalanDateTo" class="col-md-4 form-label mb-1">
                                                To Date
                                            </label>
                                            <div class="col-md-6">
                                                <div class="input-group">
                                                    <div class="input-group-prepend">
                                                        <div class="input-group-text">
                                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                                        </div>
                                                    </div>
                                                    <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="ChalanDateTo">
                                                </div>
                                            </div>
                                            <div class="col-md-2" style="display:flex;">
                                                <a href="#" class="btn btn-primary" data-toggle="modal" id="LRNumberList" data-original-title="Select LR List">
                                                    <span>
                                                        <i class="fa fa-list"></i>
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <label for="VehicleId" class="col-md-1 form-label">
                                        Vehicle No
                                    </label>
                                    <div class="col-md-2">
                                        <select class="form-control select2-show-search" id="VehicleId">
                                            <option></option>
                                            @{
                                                if (Model.VehicleList != null)
                                                {
                                                    foreach (var o in Model.VehicleList)
                                                    {
                                                        <option value="@o.Value">@o.Text</option>
                                                    }
                                                }
                                            }
                                        </select>
                                    </div>
                                    <label for="BillNumber" class="col-md-1 form-label">
                                        Firm Bill No
                                    </label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="BillNumber" placeholder="">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12  p-0">
                                    <div class="card">
                                        <div class="card-header bg-primary" style="display:block">
                                            <!--header-->
                                            <div class="row mb-0">
                                                <div class="col-md-1">
                                                    <div class="row mb-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LR#" class="font-weight-bold text-white">#</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LRBookingId" class="font-weight-bold text-white">LR#</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="row mb-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="LRDate" class="font-weight-bold text-white">
                                                                    LR Dt.
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="Packing" class="font-weight-bold text-white">Pkg</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="row mb-0">
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="ChargeWeight" class="font-weight-bold text-white">Ch.Wt.</label>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group text-center mb-1">
                                                                <label for="TaxableAmount" class="font-weight-bold text-white">Taxable Amt</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="GST" class="font-weight-bold text-white">GST%</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Freight" class="font-weight-bold text-white">Freight</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 1]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 2]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 3]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 4]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 5]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="exampleInputname" class="font-weight-bold text-white">
                                                            [Charge 6]
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-md-1">
                                                    <div class="form-group text-center mb-1">
                                                        <label for="Action" class="font-weight-bold text-white">Action</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-body" style="max-height: 202px; overflow-x: hidden;">
                                            <div class="row">
                                                <div class="col-md-12" id="contentRow">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-9 vertical-bottom">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="Notes"
                                           class="col-md-1 form-label">Remarks</label>
                                    <div class="col-md-11">
                                        <textarea class="form-control" id="Notes" rows="3" placeholder="Write a large text here ..."></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-horizontal">
                                <div class="row mb-1">
                                    <label for="TaxableAmount" class="col-md-6 form-label text-right">Basic Amount</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="TaxableAmount" placeholder="" readonly tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="TDSPercent" class="col-md-6 form-label text-right">T.D.S.</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="TDSPercent" placeholder="%">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="TDSAmount" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="SGSTTotal" class="col-md-6 form-label text-right">SGST</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="SGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="CGSTTotal" class="col-md-6 form-label text-right">CGST</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="CGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="IGSTTotal" class="col-md-6 form-label text-right">IGST</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="IGSTTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="GSTStateCessTotal" class="col-md-6 form-label text-right">State Cess</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="GSTStateCessTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="GSTCentralCessTotal" class="col-md-6 form-label text-right">Central Cess</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="GSTCentralCessTotal" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="TCSPercent" class="col-md-6 form-label text-right">T.C.S.</label>
                                    <div class="col-md-2">
                                        <input type="text" class="form-control" id="TCSPercent" placeholder="%">
                                    </div>
                                    <div class="col-md-4">
                                        <input type="text" class="form-control" id="TCSAmount" placeholder="" tabindex="-1">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="RoundOff" class="col-md-6 form-label text-right">Other (+/-)</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="RoundOff" placeholder="">
                                    </div>
                                </div>
                                <div class="row mb-1">
                                    <label for="BillAmount" class="col-md-6 form-label text-right">Bill Amount</label>
                                    <div class="col-md-6">
                                        <input type="text" class="form-control" id="BillAmount" placeholder="" readonly tabindex="-1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    @*<a href="#" class="btn-underdevelopment btn btn-blue mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn-underdevelopment btn btn-success mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a> *@
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />

</div>
<!--LRChalanListModal start-->
<div id="lrChalanListModal" class="modal fade" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg m-5" role="document" style="min-width: -webkit-fill-available; min-height: -webkit-fill-available;">
        <div class="modal-content ">
            <div class="modal-header" style="justify-content: left !important;">
                <h5 class="modal-title col-md-1" style="align-self:center;">LR List</h5>
                <label for="LRFromDate" class="col-md-auto form-label mb-1 pt-2">
                    From Date
                </label>
                <div class="col-md-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div>
                        <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="LRFromDate">
                    </div>
                </div>
                <label for="LRToDate" class="col-md-auto form-label mb-1 pt-2">
                    To Date
                </label>
                <div class="col-md-2">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">
                                <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                            </div>
                        </div>
                        <input class="form-control fc-datepicker" placeholder="MM/DD/YYYY" type="text" id="LRToDate">
                    </div>
                </div>
                <a href="#" class="btn btn-primary" data-toggle="modal" id="SearchLRNumberList" data-original-title="Select LR List">
                    Search
                </a>
            </div>
            <div class="modal-body pd-20">
                <div class="table-responsive">
                    <table id="LRtblMain" class="table table-bordered key-buttons text-nowrap">
                        <thead>
                            <tr>
                                <th class="border-bottom-0"><input type="checkbox" /></th>
                                <th class="border-bottom-0">LR#</th>
                                <th class="border-bottom-0">LR Date</th>
                                <th class="border-bottom-0">Pvt. Mark</th>
                                <th class="border-bottom-0">Consignor</th>
                                <th class="border-bottom-0">From City</th>
                                <th class="border-bottom-0">To City</th>
                                <th class="border-bottom-0">Net Amount</th>
                                <th class="border-bottom-0">GST%</th>
                                <th class="border-bottom-0">Vehicle No</th>
                                <th class="border-bottom-0">Consignee</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div><!-- modal-body -->
            <div class="modal-footer">
                <a href="#" type="button" class="btn btn-primary" id="AddData">Add</a>
                <a href="#" type="button" class="btn btn-secondary" data-dismiss="modal">Close</a>
            </div>
        </div>
    </div><!-- modal-dialog -->
</div><!-- modal -->
<!--LRChalanListModal end-->
@section Scripts
    {
    <script>

        var selectedLRDetails = [];
        var addedIds = [];
        var htmlContentArray = [];
        var contentRowId = 0;

        $(function (e) {

            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();

            $("#ChalanDateFrom").on('change', function (e) {
                if ($(this).val() != '' || $(this).val() != null) {
                    $("#LRFromDate").val($(this).val());
                }
            });

            $("#ChalanDateTo").on('change', function (e) {
                if ($(this).val() != '' || $(this).val() != null) {
                    $("#LRToDate").val($(this).val());
                }
            });

            $("#LRNumberList").on('click', function (e) {

                if ($("#ChalanDateFrom").val() == "") {
                    showWarning("", "Please enter from date.");
                    $("#ChalanDateFrom").focus();
                    return false;
                }
                else if ($("#ChalanDateTo").val() == "") {
                    showWarning("", "Please enter to date.");
                    $("#ChalanDateTo").focus();
                    return false;
                }
                else {
                    $("#lrChalanListModal").modal("show");
                    bindLRList();
                }

            });

            $("#SearchLRNumberList").on('click', function (e) {
                bindLRList();
            });

            $("#AddData").on('click', function (e) {
                $("#lrChalanListModal").modal("hide");
                addRow();
            });

            $("#PayTypeId").on('change', function (e) {
                GetLRNumberListByLRPayTypeId($(this).val());
            });

            $("#SearchLRNumber").on('click', function (e) {
                getLRDetailListByLRNumber($('#LRNumber').val());
            });

        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            $("#SerialNumberOfBranch").focus();
            $("#SerialNumberOfBranch").val(0);
            $("#BillNumber").val(0);
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.serialNumberOfBranch;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.billDate;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.billParty;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.serialNumberOfBranch;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.billDate;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.billParty;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.billNumber;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Edit' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='View' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Delete' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "serialNumberOfBranch", "name": "serialNumberOfBranch" });
            columns.push({ "data": "billDate", "name": "billDate" });
            columns.push({ "data": "billParty", "name": "billParty" });
            columns.push({ "data": "serialNumberOfBranch", "name": "serialNumberOfBranch" });
            columns.push({ "data": "billDate", "name": "billDate" });
            columns.push({ "data": "billParty", "name": "billParty" });
            columns.push({ "data": "billNumber", "name": "billNumber" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/Customer/InvoiceList"))',
                    type: 'GET',
                    data: function (d) {
                    }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }

            });
        }

        function fromReset() {
            $("#Id").val(0);
            $("#BookAccountId").val(null).trigger('change');
            $("#BookTypeId").val(null).trigger('change');
            $("#BoxLabel1").val('');
            $("#BoxLabel2").val('');
            $("#BoxLabel3").val('');
            $("#BoxLabel4").val('');
            $("#BoxLabel5").val('');
            $("#BoxLabel6").val('');
            $("#BillNoPrefix").val('');
            $("#BillNoPostFix").val('');
            $("#LRRequired").prop('checked', false);
            $("#BillTypeID").val(null).trigger('change');
            $("#IsGeneralPurchase").prop('checked', false);
            $("#IsItemDiscount").prop('checked', false);
            $("#IsItemDiscountSp").prop('checked', false);
            $("#IsCashPayAtBill").prop('checked', false);
            $("#ItemDesc1").val('');
            $("#ItemDesc2").val('');
            $("#ItemDesc3").val('');
            $("#ItemDesc4").val('');
            $("#ItemDesc5").val('');
            $("#ItemDesc6").val('');
            $("#ShowSalesOrderBoxNumber").prop('checked', false);
            $("#ShowPurcahseOrderBoxNumber").prop('checked', false);
            $("#ShowQuotationBoxNumber").prop('checked', false);
            $("#ShowPerformaInvoiceNumber").prop('checked', false);
            $("#SalesBillFrom").val(null).trigger('change');
            $("#IsCalcMultiply").prop('checked', false);
            $("#BookShortName").val('');
            $("#HeaderBox1").val('');
            $("#HeaderBox2").val('');
            $("#HeaderBox3").val('');
            $("#HeaderBox4").val('');
            $("#HeaderBox5").val('');
            $("#IsTDSAccount").prop('checked', false);
            $("#TDSAccountId").val(null).trigger('change');
            $("#IsTCSAccount").prop('checked', false);
            $("#TCSAccountId").val(null).trigger('change');
            $("#SGSTAccountId").val(null).trigger('change');
            $("#CGSTAccountId").val(null).trigger('change');
            $("#IGSTAccountId").val(null).trigger('change');
            $("#GSTStateCessAccountId").val(null).trigger('change');
            $("#GSTCentralCessAccountId").val(null).trigger('change');
            $("#RCMSGSTPayAccountId").val(null).trigger('change');
            $("#RCMCGSTPayAccountId").val(null).trigger('change');
            $("#RCMIGSTPayAccountId").val(null).trigger('change');
            $("#RCMSGSTRecAccountId").val(null).trigger('change');
            $("#RCMCGSTRecAccountId").val(null).trigger('change');
            $("#RCMIGSTRecAccountId").val(null).trigger('change');
            $("#RoundOffAccountId").val(null).trigger('change');
            $("#CustomerBookBranchId").multipleSelect('setSelects', '');

            $("#Active").prop('checked', true);

            $("#activeTabName").text("Add");
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {

                if ($("#BookAccountId").val() == null || $("#BookAccountId").val() == "") {
                    showWarning("", "Please select book name");
                    $("#BookAccountId").focus();
                    return false;
                }
                if ($("#BookTypeId").val() == null || $("#BookTypeId").val() == "") {
                    showWarning("", "Please select type");
                    $("#BookTypeId").focus();
                    return false;
                }
                if ($("#SalesBillFrom").val() == null || $("#SalesBillFrom").val() == "") {
                    showWarning("", "Please select bill from");
                    $("#SalesBillFrom").focus();
                    return false;
                }

                if ($("#IsTDSAccount").is(':checked')) {
                    if ($("#TDSAccountId").val() == null || $("#TDSAccountId").val() == "") {
                        showWarning("", "Please select TDS a/c");
                        $("#TDSAccountId").focus();
                        return false;
                    }
                }

                if ($("#IsTCSAccount").is(':checked')) {
                    if ($("#TCSAccountId").val() == null || $("#TCSAccountId").val() == "") {
                        showWarning("", "Please select TCS a/c");
                        $("#TCSAccountId").focus();
                        return false;
                    }
                }

                if ($("#CustomerBookBranchId").val() == "") {
                    showWarning("", "Please select branch.");
                    $("#CustomerBookBranchId").focus();
                    return false;
                }

                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.BookAccountId = parseInt($("#BookAccountId").val());
                savedata.BookTypeId = parseInt($("#BookTypeId").val());
                savedata.BoxLabel1 = $("#BoxLabel1").val();
                savedata.BoxLabel2 = $("#BoxLabel2").val();
                savedata.BoxLabel3 = $("#BoxLabel3").val();
                savedata.BoxLabel4 = $("#BoxLabel4").val();
                savedata.BoxLabel5 = $("#BoxLabel5").val();
                savedata.BoxLabel6 = $("#BoxLabel6").val();
                savedata.BillNoPrefix = $("#BillNoPrefix").val();
                savedata.BillNoPostFix = $("#BillNoPostFix").val();
                savedata.LRRequired = $("#LRRequired").is(':checked');
                savedata.BillTypeID = getIntValueNull("BillTypeID");
                savedata.IsGeneralPurchase = $("#IsGeneralPurchase").is(':checked');
                savedata.IsItemDiscount = $("#IsItemDiscount").is(':checked');
                savedata.IsItemDiscountSp = $("#IsItemDiscountSp").is(':checked');
                savedata.IsCashPayAtBill = $("#IsCashPayAtBill").is(':checked');
                savedata.ItemDesc1 = $("#ItemDesc1").val();
                savedata.ItemDesc2 = $("#ItemDesc2").val();
                savedata.ItemDesc3 = $("#ItemDesc3").val();
                savedata.ItemDesc4 = $("#ItemDesc4").val();
                savedata.ItemDesc5 = $("#ItemDesc5").val();
                savedata.ItemDesc6 = $("#ItemDesc6").val();
                savedata.ShowSalesOrderBoxNumber = $("#ShowSalesOrderBoxNumber").is(':checked');
                savedata.ShowPurcahseOrderBoxNumber = $("#ShowPurcahseOrderBoxNumber").is(':checked');
                savedata.ShowQuotationBoxNumber = $("#ShowQuotationBoxNumber").is(':checked');
                savedata.ShowPerformaInvoiceNumber = $("#ShowPerformaInvoiceNumber").is(':checked');
                savedata.SalesBillFrom = $("#SalesBillFrom").val();
                savedata.IsCalcMultiply = $("#IsCalcMultiply").is(':checked');
                savedata.BookShortName = $("#BookShortName").val();
                savedata.HeaderBox1 = $("#HeaderBox1").val();
                savedata.HeaderBox2 = $("#HeaderBox2").val();
                savedata.HeaderBox3 = $("#HeaderBox3").val();
                savedata.HeaderBox4 = $("#HeaderBox4").val();
                savedata.HeaderBox5 = $("#HeaderBox5").val();
                savedata.IsTDSAccount = $("#IsTDSAccount").is(':checked');
                savedata.TDSAccountId = getIntValueNull("TDSAccountId");
                savedata.IsTCSAccount = $("#IsTCSAccount").is(':checked');
                savedata.TCSAccountId = getIntValueNull("TCSAccountId");
                savedata.SGSTAccountId = getIntValueNull("SGSTAccountId");
                savedata.CGSTAccountId = getIntValueNull("CGSTAccountId");
                savedata.IGSTAccountId = getIntValueNull("IGSTAccountId");
                savedata.GSTStateCessAccountId = getIntValueNull("GSTStateCessAccountId");
                savedata.GSTCentralCessAccountId = getIntValueNull("GSTCentralCessAccountId");
                savedata.RCMSGSTPayAccountId = getIntValueNull("RcmSGSTPayAccountId");
                savedata.RCMCGSTPayAccountId = getIntValueNull("RcmCGSTPayAccountId");
                savedata.RCMIGSTPayAccountId = getIntValueNull("RcmIGSTPayAccountId");
                savedata.RCMSGSTRecAccountId = getIntValueNull("RcmSGSTRecAccountId");
                savedata.RCMCGSTRecAccountId = getIntValueNull("RcmCGSTRecAccountId");
                savedata.RCMIGSTRecAccountId = getIntValueNull("RcmIGSTRecAccountId");
                savedata.RoundOffAccountId = getIntValueNull("RoundOffAccountId");

                savedata.CustomerBookBranchId = $("#CustomerBookBranchId").val().join(",");
                savedata.Active = $('#Active').is(':checked');

                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveBook", "Customer"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Book saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }

        }

        function deleteItem(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/DeleteInvoice"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/GetBook"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }

                                $("#Id").val(result.data.id);
                                $("#BookAccountId").val(result.data.bookAccountId).trigger('change');
                                $("#BookTypeId").val(result.data.bookTypeId).trigger('change');
                                $("#BoxLabel1").val(result.data.boxLabel1);
                                $("#BoxLabel2").val(result.data.boxLabel2);
                                $("#BoxLabel3").val(result.data.boxLabel3);
                                $("#BoxLabel4").val(result.data.boxLabel4);
                                $("#BoxLabel5").val(result.data.boxLabel5);
                                $("#BoxLabel6").val(result.data.boxLabel6);
                                $("#BillNoPrefix").val(result.data.billNoPrefix);
                                $("#BillNoPostFix").val(result.data.billNoPostFix);
                                $("#LRRequired").prop('checked', result.data.lrRequired);
                                $("#BillTypeID").val(result.data.billTypeID).trigger('change');
                                $("#IsGeneralPurchase").prop('checked', result.data.isGeneralPurchase);
                                $("#IsItemDiscount").prop('checked', result.data.isItemDiscount);
                                $("#IsItemDiscountSp").prop('checked', result.data.isItemDiscountSp);
                                $("#IsCashPayAtBill").prop('checked', result.data.isCashPayAtBill);
                                $("#ItemDesc1").val(result.data.itemDesc1);
                                $("#ItemDesc2").val(result.data.itemDesc2);
                                $("#ItemDesc3").val(result.data.itemDesc3);
                                $("#ItemDesc4").val(result.data.itemDesc4);
                                $("#ItemDesc5").val(result.data.itemDesc5);
                                $("#ItemDesc6").val(result.data.itemDesc6);
                                $("#ShowSalesOrderBoxNumber").prop('checked', result.data.showSalesOrderBoxNumber);
                                $("#ShowPurcahseOrderBoxNumber").prop('checked', result.data.showPurcahseOrderBoxNumber);
                                $("#ShowQuotationBoxNumber").prop('checked', result.data.showQuotationBoxNumber);
                                $("#ShowPerformaInvoiceNumber").prop('checked', result.data.showPerformaInvoiceNumber);
                                $("#SalesBillFrom").val(result.data.salesBillFrom).trigger('change');
                                $("#IsCalcMultiply").prop('checked', result.data.isCalcMultiply);
                                $("#BookShortName").val(result.data.bookShortName);
                                $("#HeaderBox1").val(result.data.headerBox1);
                                $("#HeaderBox2").val(result.data.headerBox2);
                                $("#HeaderBox3").val(result.data.headerBox3);
                                $("#HeaderBox4").val(result.data.headerBox4);
                                $("#HeaderBox5").val(result.data.headerBox5);
                                $("#IsTDSAccount").prop('checked', result.data.isTDSAccount);
                                $("#TDSAccountId").val(result.data.tdsAccountId).trigger('change');
                                $("#IsTCSAccount").prop('checked', result.data.isTCSAccount);
                                $("#TCSAccountId").val(result.data.tcsAccountId).trigger('change');
                                $("#SGSTAccountId").val(result.data.sgstAccountId).trigger('change');
                                $("#CGSTAccountId").val(result.data.cgstAccountId).trigger('change');
                                $("#IGSTAccountId").val(result.data.igstAccountId).trigger('change');
                                $("#GSTStateCessAccountId").val(result.data.gstStateCessAccountId).trigger('change');
                                $("#GSTCentralCessAccountId").val(result.data.gstCentralCessAccountId).trigger('change');
                                $("#RCMSGSTPayAccountId").val(result.data.rcmsgstPayAccountId).trigger('change');
                                $("#RCMCGSTPayAccountId").val(result.data.rcmcgstPayAccountId).trigger('change');
                                $("#RCMIGSTPayAccountId").val(result.data.rcmigstPayAccountId).trigger('change');
                                $("#RCMSGSTRecAccountId").val(result.data.rcmsgstRecAccountId).trigger('change');
                                $("#RCMCGSTRecAccountId").val(result.data.rcmcgstRecAccountId).trigger('change');
                                $("#RCMIGSTRecAccountId").val(result.data.rcmigstRecAccountId).trigger('change');
                                $("#RoundOffAccountId").val(result.data.roundOffAccountId).trigger('change');
                                $("#CustomerBookBranchId").multipleSelect('setSelects', result.data.customerBookBranchId.split(','));
                                $('#Active').prop('checked', result.data.active);

                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function GetLRNumberListByLRPayTypeId(LRPayTypeId) {

            if ($("#PayTypeId").val() == '' || $("#PayTypeId").val() == null) return;

            try {
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/GetLRNumberListByLRPayTypeId"))" + "/" + LRPayTypeId, "",
                    function (result) {
                        try {
                            var str = "";
                            $("#LRNumberId").html('');
                            if (result.result == RESULT_SUCCESS) {
                                if (result.data.length > 0) {
                                    for (var i = 0; i < result.data.length; i++) {
                                        str += ("<option value='" + data.data[i].text + "'>" + data.data[i].text + "</option>");
                                    }
                                }
                                $("#LRNumberId").html(str);

                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function getLRDetailListByLRNumber(LRNumberId) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Customer/GetListByLRNumberId"))" + "/" + LRNumberId, "",
                    function (result) {
                        unblockUI('container');
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                result.data.forEach(function (LRBookingDetail) {
                                    var isDuplicate = selectedLRDetails.some(item => item.id === LRBookingDetail.id);

                                    if (!isDuplicate) {
                                        selectedLRDetails.push({
                                            id: LRBookingDetail.id,
                                            lrNumber: LRBookingDetail.lrNumber,
                                            lrDate: moment(LRBookingDetail.lrDate.split('T')[0]).format('DD/MM/YYYY'),
                                            privateMarka: LRBookingDetail.privateMarka,
                                            packing: LRBookingDetail.packing,
                                            chargeWeight: parseFloat(LRBookingDetail.chargeWeight || 0).toFixed(3),
                                            toCity: LRBookingDetail.cityTo,
                                            fromCity: LRBookingDetail.cityFrom,
                                            invoiceValue: parseFloat(LRBookingDetail.invoiceValue || 0).toFixed(2),
                                            description: LRBookingDetail.description,
                                            consignor: LRBookingDetail.consignor,
                                            consignee: LRBookingDetail.consignee,
                                            billParty: LRBookingDetail.billParty,
                                            ewayBillNo: LRBookingDetail.ewayBillNo,
                                            parcel: LRBookingDetail.parcel,
                                            freight: parseFloat(LRBookingDetail.freight || 0).toFixed(2),
                                            charges1: parseFloat(LRBookingDetail.charges1 || 0).toFixed(2),
                                            charges2: parseFloat(LRBookingDetail.charges2 || 0).toFixed(2),
                                            charges3: parseFloat(LRBookingDetail.charges3 || 0).toFixed(2),
                                            charges4: parseFloat(LRBookingDetail.charges4 || 0).toFixed(2),
                                            charges5: parseFloat(LRBookingDetail.charges5 || 0).toFixed(2),
                                            charges6: parseFloat(LRBookingDetail.charges6 || 0).toFixed(2),
                                            rate: parseFloat(LRBookingDetail.rate || 0).toFixed(2),
                                            billAccountBranchMappingId: LRBookingDetail.billAccountBranchMappingId,
                                            creditDays: LRBookingDetail.creditDays,
                                        });

                                    }
                                });

                                addRow();

                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function bindLRList() {

            if ($("#ChalanDateFrom").val() == '' || $("#ChalanDateTo").val() == '') return;

            let columns = [];
            let colDef = [];

            colDef.push({
                "render": function (data, type, row) {
                    return '<input type="checkbox"/>';
                },
                "targets": 0,
                "orderable": false,
                'checkboxes': {
                    'selectRow': true
                }
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.lrNumber;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return moment(row.lrDate.split('T')[0]).format('DD/MM/YYYY');
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.privateMarka;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.consignor;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.cityFrom;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.cityTo;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return parseFloat(row.invoiceValue || 0).toFixed(2);
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.description;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.vehilcleNo;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.consignee;
                },
                "targets": colDef.length,
            });
            columns.push({ "data": "lrNumber", "name": "lrNumber" });
            columns.push({ "data": "lrDate", "name": "lrDate" });
            columns.push({ "data": "privateMarka", "name": "privateMarka" });
            columns.push({ "data": "consignor", "name": "consignor" });
            columns.push({ "data": "cityFrom", "name": "cityFrom" });
            columns.push({ "data": "cityTo", "name": "cityTo" });
            columns.push({ "data": "invoiceValue", "name": "invoiceValue" });
            columns.push({ "data": "description", "name": "description" });
            columns.push({ "data": "vehilcleNo", "name": "vehilcleNo" });
            columns.push({ "data": "consignee", "name": "consignee" });

            var table = $('#LRtblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: false,
                paging: false,
                pageLength: 1,
                order: [[0, 'asc']],
                "destroy": true,
                // pagingType: 'full_numbers',
                orderClasses: false,
                scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                'select': {
                    'style': 'multi'
                },
                ajax: {
                    url: '@(Url.Content("~/Customer/GetLRBookingListByDate"))' + "/" + $('#LRFromDate').val().split('/').reverse().join('-') + "/" + $('#LRToDate').val().split('/').reverse().join('-'),
                    type: 'GET',
                    data: function (d) { }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                    if (selectedLRDetails.length == 0) {
                        $('#LRtblMain input[type="checkbox"]').prop('checked', true);

                        selectedIds = table.rows({ selected: true }).data().toArray().map(row => row.id);

                        table.rows({ selected: true }).data().each(function (row) {

                            var isDuplicate = selectedLRDetails.some(item => item.id === row.id);

                            if (!isDuplicate) {
                                selectedLRDetails.push({
                                    id: row.id,
                                    lrNumber: row.lrNumber,
                                    lrDate: moment(row.lrDate.split('T')[0]).format('DD/MM/YYYY'),
                                    privateMarka: row.privateMarka,
                                    packing: row.packing,
                                    chargeWeight: parseFloat(row.chargeWeight || 0).toFixed(3),
                                    toCity: row.cityTo,
                                    fromCity: row.cityFrom,
                                    invoiceValue: parseFloat(row.invoiceValue || 0).toFixed(2),
                                    description: row.description,
                                    consignor: row.consignor,
                                    consignee: row.consignee,
                                    billParty: row.billParty,
                                    parcel: row.parcel,
                                    freight: parseFloat(row.freight || 0).toFixed(2),
                                    charges1: parseFloat(row.charges1 || 0).toFixed(2),
                                    charges2: parseFloat(row.charges2 || 0).toFixed(2),
                                    charges3: parseFloat(row.charges3 || 0).toFixed(2),
                                    charges4: parseFloat(row.charges4 || 0).toFixed(2),
                                    charges5: parseFloat(row.charges5 || 0).toFixed(2),
                                    charges6: parseFloat(row.charges6 || 0).toFixed(2),
                                    rate: parseFloat(row.rate || 0).toFixed(2),
                                });
                            }
                        });

                        updateHiddenInput(selectedIds);
                    }

                    selectedLRDetails.forEach(function (item) {
                        var row = table.row(function (idx, data, node) {
                            return data.id === item.id;
                        });

                        if (row && row.length > 0) {
                            $(row.node()).find('input[type="checkbox"]').prop('checked', true);
                            $(row.node()).addClass('selected');
                        }
                    });
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }
            });

            $('#LRtblMain thead input[type="checkbox"]').on('click', function () {
                var isChecked = this.checked;

                $('#LRtblMain tbody input[type="checkbox"]').prop('checked', isChecked);

                if (isChecked) {
                    var selectedRowsData = table.rows({ selected: true }).data().toArray();
                    selectedIds = selectedRowsData.map(row => row.id);
                    selectedLRDetails = selectedRowsData.map(row => ({
                        id: row.id,
                        lrNumber: row.lrNumber,
                        lrDate: moment(row.lrDate.split('T')[0]).format('DD/MM/YYYY'),
                        privateMarka: row.privateMarka,
                        packing: row.packing,
                        chargeWeight: parseFloat(row.chargeWeight || 0).toFixed(3),
                        toCity: row.cityTo,
                        fromCity: row.cityFrom,
                        invoiceValue: parseFloat(row.invoiceValue || 0).toFixed(2),
                        description: row.description,
                        consignor: row.consignor,
                        consignee: row.consignee,
                        billParty: row.billParty,
                        parcel: row.parcel,
                        freight: parseFloat(row.freight || 0).toFixed(2),
                        charges1: parseFloat(row.charges1 || 0).toFixed(2),
                        charges2: parseFloat(row.charges2 || 0).toFixed(2),
                        charges3: parseFloat(row.charges3 || 0).toFixed(2),
                        charges4: parseFloat(row.charges4 || 0).toFixed(2),
                        charges5: parseFloat(row.charges5 || 0).toFixed(2),
                        charges6: parseFloat(row.charges6 || 0).toFixed(2),
                        rate: parseFloat(row.rate || 0).toFixed(2),
                    }));
                } else {
                    selectedIds = [];
                    selectedLRDetails = [];
                }

                updateHiddenInput(selectedIds);
            });

            var selectedIds = [];
            $('#LRtblMain tbody').on('click', 'input[type="checkbox"]', function () {
                var tr = $(this).closest('tr');
                var row = table.row(tr);

                if (row && row.data() && row.data().id) {
                    if ($(this).prop('checked')) {
                        if (!selectedIds.includes(row.data().id)) {
                            selectedIds.push(row.data().id);

                            var isDuplicate = selectedLRDetails.some(item => item.id === row.data().id);

                            if (!isDuplicate) {
                                selectedLRDetails.push({
                                    id: row.data().id,
                                    lrNumber: row.data().lrNumber,
                                    lrDate: moment(row.data().lrDate.split('T')[0]).format('DD/MM/YYYY'),
                                    privateMarka: row.data().privateMarka,
                                    packing: row.data().packing,
                                    chargeWeight: parseFloat(row.data().chargeWeight || 0).toFixed(3),
                                    toCity: row.cityTo,
                                    fromCity: row.cityFrom,
                                    invoiceValue: parseFloat(row.data().invoiceValue || 0).toFixed(2),
                                    description: row.data().description,
                                    consignor: row.data().consignor,
                                    consignee: row.data().consignee,
                                    billParty: row.data().billParty,
                                    parcel: row.parcel,
                                    freight: parseFloat(row.data().freight || 0).toFixed(2),
                                    charges1: parseFloat(row.data().charges1 || 0).toFixed(2),
                                    charges2: parseFloat(row.data().charges2 || 0).toFixed(2),
                                    charges3: parseFloat(row.data().charges3 || 0).toFixed(2),
                                    charges4: parseFloat(row.data().charges4 || 0).toFixed(2),
                                    charges5: parseFloat(row.data().charges5 || 0).toFixed(2),
                                    charges6: parseFloat(row.data().charges6 || 0).toFixed(2),
                                    rate: parseFloat(row.data().rate || 0).toFixed(2),
                                });
                            }
                        }
                    } else {
                        selectedIds = selectedIds.filter(item => item !== row.data().id);
                        selectedLRDetails = selectedLRDetails.filter(item => item.id !== row.data().id);
                    }
                }
            });
        }

        function updateHiddenInput(ids) {
            var uniqueIds = [...new Set(ids)];
            $('#hdnSelectedLRNumberIds').val(uniqueIds.join(','));
        }

        function addRow() {
            contentRowId++;
            $('#contentRow').html('');
            for (var i = 0; i < selectedLRDetails.length; i++) {

                var lrNumber = selectedLRDetails[i].id;

                if (addedIds.indexOf(lrNumber) === -1) {

                    var htmlContent = '<div class="row mb-0 rounded content-rows" id="row-' + i + '">' +
                        '<div class="col-md-1">' +
                        '<div class="row mb-0">' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="LRId">' + selectedLRDetails[i].id + '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="LRNumber">' + selectedLRDetails[i].lrNumber + '</label>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="row mb-0">' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="LRDate">' + (selectedLRDetails[i].lrDate || '') + '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="Packing">' + (selectedLRDetails[i].parcel || '') + '</label>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="row mb-0">' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="ChargeWeight">' + (selectedLRDetails[i].chargeWeight || 0) + '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-6">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="TaxableAmount">' + (selectedLRDetails[i].invoiceValue || 0) + '</label>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="GSTRate">' + (selectedLRDetails[i].rate || 0) + '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        '<label for="Freight">' + (selectedLRDetails[i].freight || 0) + '</label>' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges1' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges1 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges2' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges2 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges3' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges3 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges4' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges4 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges5' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges5 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        ' <input type="text" class="form-control" id="Charges6' + contentRowId + '" placeholder="" value="' + (selectedLRDetails[i].charges6 || 0) + '">' +
                        '</div>' +
                        '</div>' +
                        '<div class="col-md-1">' +
                        '<div class="form-group text-center mb-1">' +
                        '<a href="javascript:deleteRow(' + contentRowId + ');" class="btn btn-outline-danger small-icon-btn" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><i class="fa fa-trash-o"></i></a>' +
                        '</div>' +
                        '</div>' +
                        '</div>';

                    htmlContentArray.push(htmlContent);

                    addedIds.push(selectedLRDetails[i].id);
                }
            }

            $('#Charges1' + contentRowId + ', #Charges2' + contentRowId + ', #Charges3' + contentRowId +
                ', #Charges4' + contentRowId + ', #Charges5' + contentRowId + ', #Charges6' + contentRowId).on('keyup', function () {
                    calculateAmount(contentRowId);
                    calculateTotalTaxableAmount();
                });

            $('.content-rows-add-btn').remove();
            $('#contentRow').html(htmlContentArray.join(''));
            $('.select2-show-search-contentrows').select2({
                minimumResultsForSearch: ''
            });

            var counter = 0;
            $('.content-row-srno').each(function () {
                $(this).val(++counter);
            });

            $('.delete-row-btn').on('click', function () {
                var index = $(this).data('index');
                deleteRow(index);
            });
            calculateTotalTaxableAmount();
            updateSelectedIdsInput();
        }

        function calculateAmount(contentRowId) {
            // Assuming Charges1 to Charges6 are the labels 1 to 6
            var Charges1 = parseFloat($('#Charges1' + contentRowId).val()) || 0;
            var Charges2 = parseFloat($('#Charges2' + contentRowId).val()) || 0;
            var Charges3 = parseFloat($('#Charges3' + contentRowId).val()) || 0;
            var Charges4 = parseFloat($('#Charges4' + contentRowId).val()) || 0;
            var Charges5 = parseFloat($('#Charges5' + contentRowId).val()) || 0;
            var Charges6 = parseFloat($('#Charges6' + contentRowId).val()) || 0;

            // Calculate the sum of LABEL 1 to 6
            var sumOfLabels = Charges1 + Charges2 + Charges3 + Charges4 + Charges5 + Charges6;
            parseFloat($('#TaxableAmount' + currentRowId).val(sumOfLabels.toFixed(2))) || 0;
        }

        function calculateTotalTaxableAmount() {
            var totalTaxableAmount = 0;

            $('.content-rows').each(function () {
                var currentRowId = $(this).attr('id').replace('row-', '');
                var taxableAmount = parseFloat($('#TaxableAmount' + currentRowId).val()) || 0;
                totalTaxableAmount += taxableAmount;
                $('#TaxableAmount').val(totalTaxableAmount.toFixed(2));
            });

            var BasicAmount = parseFloat($('#TaxableAmount').val()) || 0;
            var CGSTTotal = parseFloat($('#CGSTTotal').val()) || 0;
            var SGSTTotal = parseFloat($('#SGSTTotal').val()) || 0;
            var IGSTTotal = parseFloat($('#IGSTTotal').val()) || 0;
            var GSTStateCessTotal = parseFloat($('#GSTStateCessTotal').val()) || 0;
            var GSTCentralCessTotal = parseFloat($('#GSTCentralCessTotal').val()) || 0;
            var TCSPercent = parseFloat($('#TCSPercent').val()) || 0;

            $('#TCSAmount').val(((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal) * (TCSPercent) / 100).toFixed(2));
            var TCSAmount = parseFloat($('#TCSAmount').val()) || 0;

            // Calculate the sum of all components
            var totalAmount = BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount;

            // Calculate RoundOff based on custom rounding logic
            var RoundOff = customRound(totalAmount) - totalAmount;

            $('#RoundOff').val(RoundOff.toFixed(2));
            $('#BillAmount').val((BasicAmount + CGSTTotal + SGSTTotal + IGSTTotal + GSTStateCessTotal + GSTCentralCessTotal + TCSAmount + RoundOff).toFixed(2));

        }

        function customRound(number) {
            var decimalPart = number % 1;
            return decimalPart < 0.5 ? Math.floor(number) : Math.ceil(number);
        }

        function deleteRow(index) {
            if (selectedLRDetails[index]) {
                var deletedId = selectedLRDetails[index].id;
                $('#row-' + index).remove();
                addedIds = addedIds.filter(id => id !== deletedId);
                selectedLRDetails.splice(index, 1);
                updateSelectedIdsInput();
            }
        }

        function updateSelectedIdsInput() {
            var uniqueIds = [...new Set(selectedLRDetails.map(item => item.id))];
            updateHiddenInput(uniqueIds);
            $("#ToPayAmount, #Paid, #TBB, #Total").val('0.00');
        }

    </script>
}