@using Adroit.Accounting.Model;
@model Adroit.Accounting.Model.ViewModel.VehicleViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li class="active"><span>Vehicle</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">VRN</th>
                                    <th class="border-bottom-0">Model</th>
                                    <th class="border-bottom-0">Owner Name</th>
                                    <th class="border-bottom-0">Chasis Number</th>
                                    <th class="border-bottom-0" style="width:100px">ACTIVE</th>
                                    <th class="border-bottom-0 text-center" style="width:120px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#" class="btn-back">Vehicle</a></li>
                    <li class="active"><span id="activeTabName"></span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="VRN">Vehicle Registration Number</label>
                                @* <input type="text" class="form-control mode-ed" id="VRN" placeholder="" maxlength="12"> *@
                                <select class="form-control select2-show-search-add mode-ed" id="VRN">
                                    <option></option>
                                    @{
                                        if (Model.VRNList != null)
                                        {
                                            foreach (var o in Model.VRNList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-8 col-md-12">
                            <div class="form-group">
                                <label for="OwnerId">Vehicle Owner Name</label>
                                <select class="form-control select2-show-search mode-ed" id="OwnerId">
                                    <option></option>
                                    @{
                                        if (Model.VehicleOwnerList != null)
                                        {
                                            foreach (var o in Model.VehicleOwnerList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="ModelId">Vehicle Make & Model</label>
                                <select class="form-control select2-show-search-add mode-ed" id="ModelId">
                                    <option></option>
                                    @{
                                        if (Model.VehicleModelList != null)
                                        {
                                            foreach (var o in Model.VehicleModelList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="PhoneCode">Country</label>
                                <select class="form-control select2-show-search mode-ed" id="Country">
                                    @{
                                        if (Model.CountryList != null)
                                        {
                                            foreach (var o in Model.CountryList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="StateId">Vehicle Registration State</label>
                                <select class="form-control select2-show-search-add mode-ed" id="StateId">
                                    <option></option>
                                    @{
                                        if (Model.VehicleRegistrationStateList != null)
                                        {
                                            foreach (var o in Model.VehicleRegistrationStateList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="ChasisNumber">Chasis Number</label>
                                <input type="text" class="form-control mode-ed" id="ChasisNumber" placeholder="" maxlength="30">
                                @* <select class="form-control select2-show-search-add mode-ed" id="ChasisNumber">
                                <option></option>
                                @{
                                if (Model.ChasisNumberList != null)
                                {
                                foreach (var o in Model.ChasisNumberList)
                                {
                                <option value="@o.Value">@o.Text</option>
                                }
                                }
                                }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="EngineNumber">Engine Number</label>
                                <input type="text" class="form-control mode-ed" id="EngineNumber" placeholder="" maxlength="30">
                                @* <select class="form-control select2-show-search-add mode-ed" id="EngineNumber">
                                <option></option>
                                @{
                                if (Model.EngineNumberList != null)
                                {
                                foreach (var o in Model.EngineNumberList)
                                {
                                <option value="@o.Value">@o.Text</option>
                                }
                                }
                                }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="RegistrationDate">Registration Date</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="RegistrationDate">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="StatePermitNumber">State Permit Number</label>
                                <input type="text" class="form-control mode-ed" id="StatePermitNumber" placeholder="" maxlength="50">
                                @* <select class="form-control select2-show-search-add mode-ed" id="StatePermitNumber">
                                <option></option>
                                @{
                                if (Model.StatePermitNumberList != null)
                                {
                                foreach (var o in Model.StatePermitNumberList)
                                {
                                <option value="@o.Value">@o.Text</option>
                                }
                                }
                                }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="StatePermitIssueOn">State Permit Issue On</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="StatePermitIssueOn">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="StatePermitExpiry">State Permit Expiry</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="StatePermitExpiry">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="NationalPermitNumber">National Permit Number</label>
                                <input type="text" class="form-control mode-ed" id="NationalPermitNumber" placeholder="" maxlength="50">
                                @* <select class="form-control select2-show-search-add mode-ed" id="NationalPermitNumber">
                                <option></option>
                                @{
                                if (Model.NationalPermitNumberList != null)
                                {
                                foreach (var o in Model.NationalPermitNumberList)
                                {
                                <option value="@o.Value">@o.Text</option>
                                }
                                }
                                }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="NationalPermitIssueOn">National Permit Issue On</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="NationalPermitIssueOn">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="NationalPermitExpiry">National Permit Expiry</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="NationalPermitExpiry">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="InsuranceNumber">Insurance Number</label>
                                <input type="text" class="form-control mode-ed" id="InsuranceNumber" placeholder="" maxlength="50">
                                @*  <select class="form-control select2-show-search-add mode-ed" id="InsuranceNumber">
                                <option></option>
                                @{
                                if (Model.InsuranceNumberList != null)
                                {
                                foreach (var o in Model.InsuranceNumberList)
                                {
                                <option value="@o.Value">@o.Text</option>
                                }
                                }
                                }
                                </select> *@
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="InsuranceIssueOn">Insurance Issue On</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="InsuranceIssueOn">
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <label for="InsuranceExpiry">Insurance Expiry</label>
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <div class="input-group-text">
                                            <i class="fa fa-calendar tx-16 lh-0 op-6"></i>
                                        </div>
                                    </div>
                                    <input class="form-control mode-ed fc-datepicker" placeholder="@Constant.DateFormat.ToUpper()" type="text" id="InsuranceExpiry">
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="form-group">
                                <div><label for="Active">Active</label></div>
                                <label class="custom-switch">
                                    <input id="Active" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="new"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />
    <input type="hidden" id="hdnCountryId" value="0" />
    <input type="hidden" id="hdnStateId" value="0" />
</div>

@section Scripts
    {

    <script>

        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();

            $("#Country").on('change', function (e) {
                bindStateList($(this).val());
            });
        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();

            $("#VRN").focus();

            $("#Active").prop('checked', true);
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.vrn;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.modelName;
                },
                "targets": colDef.length,

            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.ownerName;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.chasisNumber;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.active ? "Yes" : "No";
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "vrn", "name": "vrn" });
            columns.push({ "data": "modelName", "name": "modelName" });
            columns.push({ "data": "ownerName", "name": "ownerName" });
            columns.push({ "data": "chasisNumber", "name": "chasisNumber" });
            columns.push({ "data": "active", "name": "active" });
            columns.push({ "data": "Id", "name": "Id" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 20,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/customer/VehicleList"))',
                    type: 'GET',
                    data: function (d) { }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }
            });
        }
        function bindStateList(countryId) {
            try {
                $("#StateId").empty();

                if (countryId == '' || countryId == null) return;

                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetStates"))" + "?countryId=" + countryId, "",
                    function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    $('#StateId').append(new Option(data.data[i].text, data.data[i].value, false, false));
                                }
                            }
                            $('#StateId').val($("#hdnStateId").val()).trigger('change');
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
        function fromReset() {
            $("#Id").val(0);
            $("#VRN").val(null).trigger('change');
            $("#OwnerId").val('').trigger('change');
            $("#ModelId").val('').trigger('change');
            $("#Country").val('').trigger("change");
            $("#StateId").val('').trigger('change');
            $("#ChasisNumber").val('');
            $("#EngineNumber").val('');
            $("#RegistrationDate").val('');
            $("#StatePermitNumber").val('');
            $("#StatePermitIssueOn").val('');
            $("#StatePermitExpiry").val('');
            $("#NationalPermitNumber").val('');
            $("#NationalPermitIssueOn").val('');
            $("#NationalPermitExpiry").val('');
            $("#InsuranceNumber").val('');
            $("#InsuranceIssueOn").val('');
            $("#InsuranceExpiry").val('');

            $("#Active").prop('checked', false);
            $("#activeTabName").text("Add");
            setScreenMode(false);
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {

                if ($("#VRN").val() == "") {
                    showWarning("", "Please enter valid vehicle registration number.");
                    $("#Title").focus();
                    return false;
                }

                if ($("#OwnerId").val() == null || $("#OwnerId").val() == "") {
                    showWarning("", "Please select vehicle owner name.");
                    $("#OwnerId").focus();
                    return false;
                }

                if ($("#ModelId").val() == null || $("#ModelId").val() == "") {
                    showWarning("", "Please select vehicle make & model.");
                    $("#OwnerId").focus();
                    return false;
                }
                
                var savedata = new Object();

                savedata.Id = parseInt($("#Id").val());
                savedata.VRN = $("#VRN").val();
                savedata.OwnerId = $("#OwnerId").val();
                savedata.ModelId = $("#ModelId").val();
                savedata.StateId = $("#StateId").val();
                savedata.ChasisNumber = $("#ChasisNumber").val();
                savedata.EngineNumber = $("#EngineNumber").val();
                savedata.RegistrationDate = $("#RegistrationDate").val().length > 0 ? getDate($("#RegistrationDate").val()) : "";
                savedata.StatePermitNumber = $("#StatePermitNumber").val();
                savedata.StatePermitIssueOn = $("#StatePermitIssueOn").val().length > 0 ? getDate($("#StatePermitIssueOn").val()) : "";
                savedata.StatePermitExpiry = $("#StatePermitExpiry").val().length > 0 ? getDate($("#StatePermitExpiry").val()) : "";
                savedata.NationalPermitNumber = $("#NationalPermitNumber").val();
                savedata.NationalPermitIssueOn = $("#NationalPermitIssueOn").val().length > 0 ? getDate($("#NationalPermitIssueOn").val()) : "";
                savedata.NationalPermitExpiry = $("#NationalPermitExpiry").val().length > 0 ? getDate($("#NationalPermitExpiry").val()) : "";
                savedata.InsuranceNumber = $("#InsuranceNumber").val();
                savedata.InsuranceIssueOn = $("#InsuranceIssueOn").val().length > 0 ? getDate($("#InsuranceIssueOn").val()) : "";
                savedata.InsuranceExpiry = $("#InsuranceExpiry").val().length > 0 ? getDate($("#InsuranceExpiry").val()) : "";

                savedata.Active = $("#Active").prop('checked');

                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveVehicle", "customer"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Vehicle saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/customer/GetVehicle"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }

                                $('#Id').val(result.data.id);

                                $("#VRN").val(result.data.vrn).trigger('change');
                                $("#OwnerId").val(result.data.ownerId).trigger('change');
                                $("#ModelId").val(result.data.modelId).trigger('change');

                                $("#ChasisNumber").val(result.data.chasisNumber);
                                $("#EngineNumber").val(result.data.engineNumber);
                                $("#RegistrationDate").val(result.data.registrationDateString);
                                $("#StatePermitNumber").val(result.data.statePermitNumber);
                                $("#StatePermitIssueOn").val(result.data.statePermitIssueOnString);
                                $("#StatePermitExpiry").val(result.data.statePermitExpiryString);
                                $("#NationalPermitNumber").val(result.data.nationalPermitNumber);
                                $("#NationalPermitIssueOn").val(result.data.nationalPermitIssueOnString);
                                $("#NationalPermitExpiry").val(result.data.nationalPermitExpiryString);
                                $("#InsuranceNumber").val(result.data.insuranceNumber);
                                $("#InsuranceIssueOn").val(result.data.insuranceIssueOnString);
                                $("#InsuranceExpiry").val(result.data.insuranceExpiryString);


                                $("#hdnCountryId").val(result.data.countryId);
                                $("#hdnStateId").val(result.data.stateId);
                                $("#Country").val(result.data.countryId).trigger("change");

                                $("#Active").prop('checked', result.data.active);
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }
        function deleteItem(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/customer/deletevehicle"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }
    </script>

}
