@model Adroit.Accounting.Model.ViewModel.VehicleOwnerViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Vehicle</a></li>
                    <li><a href="#">Owner</a></li>
                    <li class="active"><span>List</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New" id="AddNew"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">OWNER NAME</th>
                                    <th class="border-bottom-0">ACCOUNT NAME</th>
                                    <th class="border-bottom-0">CITY</th>
                                    <th class="border-bottom-0" style="width:100px">ACTIVE</th>
                                    <th class="border-bottom-0 text-center" style="width:210px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Vehicle</a></li>
                    <li><a href="#" class="btn-back">Owner</a></li>
                    <li class="active"><span id="activeTabName">Add</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="hidden" id="Id" value="0" />
                                <label for="Name">Owner Name</label>
                                <input type="text" class="form-control mode-ed" id="Name" placeholder="" maxlength="70">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AccountId">Account Name</label>
                                <select class="form-control select2-show-search mode-ed" id="AccountId">
                                    @{
                                        if (Model.AccountList != null)
                                        {
                                            foreach (var o in Model.AccountList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control mode-ed" id="Address" placeholder="" maxlength="150">
                            </div>
                        </div>                                               
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="CityId">City</label>
                                <select class="form-control select2-show-search mode-ed" id="CityId">
                                    @{
                                        if (Model.CityList != null)
                                        {
                                            foreach (var o in Model.CityList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="Pincode">Pincode</label>
                                <input type="text" class="form-control mode-ed numberonly " id="PinCode" placeholder="" maxlength="10">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Mobile">Mobile</label>
                                <input type="text" class="form-control numberonly mode-ed" id="Mobile" placeholder="" maxlength="15">
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="PAN">PAN</label>
                                <input type="text" class="form-control" id="PAN" placeholder="" maxlength="12">
                            </div>
                        </div>

                        <div class="col-md-5">
                            <div class="form-group">
                                <label for="AadhaarUID">Aadhaar UID</label>
                                <input type="text" class="form-control" id="AadhaarUID" placeholder="" maxlength="12">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div><label for="Active">Active</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" id="Active" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="new"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->

</div>

@section Scripts
    {

    <script>

        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();            

            if (@Model.Id > 0) {
                getDetail(@Model.Id, false);
            }
        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            $("#Name").focus();

            $("#Active").prop('checked', true);
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.name;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.accountName;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.city;
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.active ? "Yes" : "No";
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                //"className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "Name", "name": "Name" });
            columns.push({ "data": "AccountName", "name": "AccountName" });
            columns.push({ "data": "City", "name": "City" });
            columns.push({ "data": "Active", "name": "Active" });
            columns.push({ "data": "Id", "name": "Id" });

            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/customer/VehicleOwnerList"))',
                    type: 'GET',
                    data: function (d) { }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }
            });
        }

        function fromReset() {
            $("#Id").val(0);
            $("#Name").val("");
            $("#AccountId").val('').trigger("change");
            $("#Address").val("");            
            $("#CityId").val('').trigger("change");
            $("#PinCode").val("");
            $("#Mobile").val("");
            $("#PAN").val("");
            $("#AadhaarUID").val("");
            $("#Active").prop('checked', false);

            $("#activeTabName").text("Add");
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {
                if ($("#Name").val().trim() == "") {
                    showWarning("", "Please enter name.");
                    $("#Name").focus();
                    return false;
                }
                if ($("#Name").val().trim().length <= 2) {
                    showWarning("", "Enter valid customer name.");
                    $("#Name").focus();
                    return false;
                }
                if ($("#AccountId").val() == null || $("#AccountId").val() == "") {
                    showWarning("", "Please select account name.");
                    $("#AccountId").focus();
                    return false;
                }
                if ($("#Address").val().trim() == "") {
                    showWarning("", "Please enter address.");
                    $("#Address").focus();
                    return false;
                }                
                if ($("#CityId").val() == null || $("#CityId").val() == "") {
                    showWarning("", "Please select city.");
                    $("#CityId").focus();
                    return false;
                }
                if ($("#Mobile").val().trim() == "") {
                    showWarning("", "Please enter contact mobile.");
                    $("#Mobile").focus();
                    return false;
                }
                if ($("#Mobile").val().trim().length != 10) {
                    showWarning("", "Please enter valid mobile number.");
                    $("#Mobile").focus();
                    return false;
                }
                if ($("#Mobile").val().trim() != "") {
                    if ($("#Mobile").val().trim().length != 10) {
                        showWarning("", "Please enter valid mobile number.");
                        $("#Mobile").focus();
                        return false;
                    }
                    if (!isNumber($("#Mobile").val().trim())) {
                        showWarning("", "Please enter valid mobile number.");
                        $("#Mobile").focus();
                        return false;
                    }
                }
                if ($("#PAN").val().trim() != "" && $("#PAN").val().trim().length != 10) {
                    showWarning("", "Please enter valid PAN.");
                    $("#PAN").focus();
                    return false;
                }
                 
                if ($("#AadhaarUID").val().trim().length > 0 && $("#AadhaarUID").val().trim().length != 12) {
                    showWarning("", "Please enter valid Aadhaar UID.");
                    $("#AadhaarUID").focus();
                    return false;
                }
                if ($("#AadhaarUID").val().trim().length > 0 && !isNumber($("#AadhaarUID").val().trim())) {
                    showWarning("", "Please enter valid Aadhaar UID.");
                    $("#AadhaarUID").focus();
                    return false;
                }
                
                
                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.Name = $("#Name").val();
                savedata.AccountId = $("#AccountId").val();
                savedata.Address = $("#Address").val();
                savedata.CityId = parseInt($("#CityId").val());
                savedata.Pincode = $("#PinCode").val();
                savedata.Mobile = $("#Mobile").val();
                savedata.PAN = $("#PAN").val();
                savedata.AdharUID = $("#AadhaarUID").val();
                savedata.Active = $('#Active').is(':checked');
                
                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveVehicleOwner", "customer"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Owner saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }
        }

        function deleteItem(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/customer/DeleteVehicleOwner"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/customer/GetVehicleOwner"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();

                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }

                                $('#Id').val(result.data.id);
                                $("#Name").val(result.data.name);
                                $("#AccountId").val(result.data.accountId).trigger("change");
                                $("#Address").val(result.data.address);
                                $("#PinCode").val(result.data.pincode);
                                $("#Mobile").val(result.data.mobile);
                                $("#PAN").val(result.data.pan);
                                $("#AadhaarUID").val(result.data.adharUID);
                                $('#Active').prop('checked', result.data.active);

                                $("#CityId").val(result.data.cityId).trigger("change");
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }
    </script>
}
