<!DOCTYPE html>
@inject Adroit.Accounting.Web.Utility.ILoginHandler loginHandler
@{

    if (User?.Identity?.IsAuthenticated ?? false)
    {
        var firmId = loginHandler.GetLoggedInFirmId(User);
        ViewBag.Year = loginHandler.GetLoggedInYear(loginHandler.GetLoggedInYearId(User), firmId);
    }
    else
    {
        ViewBag.Year = string.Empty;
    }
}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Adroit Accounting Software" name="description">
    <meta content="Adroit Accounting Software" name="author">
    <meta name="keywords" content="adroit,account,finance,transport,booking" />

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" />

    <!-- Title -->
    <title>@(Model.ReportHeader.BranchName)/@(ViewBag.Year) - Adroit Accounting Software</title>
    <style>
        body {
            font-family: Cambria, Georgia, and Times New Roman;
        }

        .pdfheader {
            margin-top: -10px;
        }

        .firmname * {
            font-size: 28px;
            color: #000080;
            font-weight: bold;
        }

        .address * {
            font-size: 14px;
            color: black;
        }

        .heading {
            margin-top: 10px;
        }

            .heading * {
                font-size: 20px;
                font-weight: bold;
                color: #0000ff;
            }

        .date {
            margin-top: 5px;
            margin-bottom: 10px;
        }

            .date * {
                font-size: 16px;
                color: black;
            }

        .report-number {
            padding: 10px;
            font-size: 12px;
            color: grey;
        }

        .page {
            border: 2px solid grey !important;
        }

        #tblMain {
            border: 1px solid lightgrey;
            border-collapse: collapse;
            width: 100%;
        }

            #tblMain th, #tblMain td {
                border: 1px solid lightgrey;
                padding: 4px;
                font-size: 13px;
            }

        .cancelled-row {
            background-color: #F5F5F5 !important;
        }

        .subtotal-row {
            font-weight: bold;
            color: #0000ff;
            font-size: 14px;
        }

        .total-row {
            font-weight: bold;
            color: #FF0000;
            font-size: 15px;
        }

        .text-right {
            text-align: right !important;
        }

        .text-center {
            text-align: center !important;
        }

        .text-left {
            text-align: left !important;
        }

        .footer {
            margin-top: 10px;
            color: grey;
            font-size: 12px;
        }

        .text-right {
            padding-right: 10px;
        }
        hr {
            display: block;
            height: 1px;
            border: 0;
            border-top: 2px dashed  #ccc;
            margin: 1em 0;
            padding: 0;
        }
    </style>

</head>

<body class="app sidebar-mini">


    <div class="page">
        <div class="page-main">
            <div class="app-content  my-3 my-md-5">
                @RenderBody()
            </div>
        </div>
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row" style="margin-left:5px;margin-right:5px;">
                    @*<div class="col-md-3 col-sm-3 text-left">
                    Page M : N
                    </div>*@
                    <div class="col-md-12 col-sm-12 text-center">
                        Copyright © 2021 <a href="#">Trackoit</a>. Designed by <a href="https://www.adroitibs.com/">Adroit IBS Pvt.Ltd.</a> All rights reserved.
                    </div>
                    @*<div class="col-md-3 col-sm-3 text-right" style="margin-top:-15px;">
                    Print Time : <span id="currentTime"></span>
                    </div>*@
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>

    <script>

    </script>
  
    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

</body>
</html>
