<!DOCTYPE html>
@{
    
}

<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="Adroit Accounting Software" name="description">
    <meta content="Adroit Accounting Software" name="author">
    <meta name="keywords" content="adroit,account,finance,transport,booking" />

    <!-- Favicon -->
    <link rel="icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" type="image/x-icon" />
    <link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" />

    <!-- Title -->
    <title>@(ViewBag.BranchName)/@(ViewBag.Year) - Adroit Accounting Software</title>

</head>

<body class="app sidebar-mini">


    <div class="page">
        <div class="page-main">
            <div class="app-content  my-3 my-md-5">
                @RenderBody()
            </div>
        </div>
        <!--footer-->
        <footer class="footer">
            <div class="container">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-12 col-sm-12   text-center">
                        Copyright © 2021 <a href="#">Trackoit</a>. Designed by <a href="https://www.adroitibs.com/">Adroit IBS Pvt.Ltd.</a> All rights reserved.
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer-->
    </div>
   
    <script>

    </script>

    @if (IsSectionDefined("Scripts"))
    {
        @RenderSection("Scripts", required: false)
    }

</body>
</html>
