@model Adroit.Accounting.Model.Customer
@{
	Layout = null;
}
<!doctype html>
<html lang="en" dir="ltr">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="Sparic– Creative Admin Multipurpose Responsive Bootstrap4 Dashboard HTML Template" name="description">
	<meta content="Spruko Technologies Private Limited" name="author">
	<meta name="keywords" content="html admin template, bootstrap admin template premium, premium responsive admin template, admin dashboard template bootstrap, bootstrap simple admin template premium, web admin template, bootstrap admin template, premium admin template html5, best bootstrap admin template, premium admin panel template, admin template" />

	<!-- Favicon -->
	<link rel="icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="@Url.Content("~/assets/images/brand/favicon.ico")" />

	<!-- Title -->
	<title>Adroit – Accounting Software</title>

	<!--Bootstrap.min css-->
	<link rel="stylesheet" type="text/css" href="@Url.Content("~/assets/plugins/bootstrap/css/bootstrap.min.css")">

	<!-- Dashboard css -->
	<link href="@Url.Content("~/assets/css/style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/assets/css/dark-style.css")" rel="stylesheet" type="text/css" />
	<link href="@Url.Content("~/assets/css/skin-mode.css")" rel="stylesheet" type="text/css" />

	<!-- Combined css -->
	<link href="@Url.Content("~/assets/css/combined.css")" rel="stylesheet" type="text/css" />

	<!-- Perfect scroll bar css-->
	<link href="@Url.Content("~/assets/plugins/pscrollbar/perfect-scrollbar.css")" rel="stylesheet" type="text/css" />

	<!---Icons css-->
	<link href="@Url.Content("~/assets/css/icons.css")" rel="stylesheet" type="text/css" />

	<!---Alert css-->
	<link href="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.css")" rel="stylesheet" type="text/css" />
	<!-- Color-skins css -->
	<link id="theme" rel="stylesheet" type="text/css" media="all" href="@Url.Content("~/assets/colors/color-skins/color.css")" />
	<link rel="stylesheet" href="" @Url.Content("~/assets/css/demo-styles.css")" type="text/css" />
</head>
<body class="bg-account">
	<!-- page -->
	<div class="page h-100">

		<!-- page-content -->
		<div class="page-content">
			<div class="container text-center text-dark">
				<div class="row">
					<div class="col-lg-4 d-block mx-auto">
						<div class="row">
							<div class="col-xl-12 col-md-12 col-md-12">
								<div class="card">
									<div class="card-body">
										<div class="text-center mb-6">
											<img src="@Url.Content("~/assets/images/brand/logo.png")" class="" alt="">
										</div>
										<h3>Login</h3>
										@Html.HiddenFor(p => p.Email)
										<p class="text-muted">Verify OTP</p>
										<div class="input-group mb-3">
											<span class="input-group-addon bg-white"><i class="fa fa-user"></i></span>
											<input id="txtEmailOTP" type="text" class="form-control" maxlength="6" placeholder="Email OTP">
										</div>
										<div class="input-group mb-4">
											<span class="input-group-addon bg-white"><i class="fa fa-unlock-alt"></i></span>
											<input id="txtMobileOTP" type="text" class="form-control" maxlength="6" placeholder="Mobile OTP">
										</div>
										<div class="row">
											<div class="col-12">
												<button type="button" class="btn btn-primary btn-block" onclick="VerifyOtp()">Verify</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		<!-- page-content end -->
	</div>
	<!-- page End-->
	<!-- Jquery js-->
	<script src="@Url.Content("~/assets/js/vendors/jquery-3.2.1.min.js")"></script>

	<!--Bootstrap.min js-->
	<script src="@Url.Content("~/assets/plugins/bootstrap/popper.min.js")"></script>
	<script src="@Url.Content("~/assets/plugins/bootstrap/js/bootstrap.min.js")"></script>

	<!--Jquery Sparkline js-->
	<script src="@Url.Content("~/assets/js/vendors/jquery.sparkline.min.js")"></script>

	<!-- Chart Circle js-->
	@*<script src="../assets/js/vendors/circle-progress.min.js"></script>*@

	<!-- Sidebar Accordions js -->
	@*<script src="../assets/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js"></script>
	<script src="../assets/js/left-menu.js"></script>*@

	<!--Moment js-->
	@*<script src="../assets/plugins/moment/moment.min.js"></script>*@

	<!-- Daterangepicker js-->
	@*<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>*@

	<!-- Perfect scroll bar js-->
	<script src="@Url.Content("~/assets/plugins/pscrollbar/perfect-scrollbar.js")"></script>

	<!-- Custom js-->
	@*<script src="../assets/js/custom.js"></script>*@
	<script src="@Url.Content("~/assets/js/DevScript.js")"></script>

	<!-- Alert js -->
	<script src="@Url.Content("~/assets/plugins/sweet-alert/sweetalert.min.js")"></script>
	<script>
		var RESULT_SUCCESS = "@Adroit.Accounting.Utility.Constant.API_RESULT_SUCCESS";
		function VerifyOtp() {
			try {
				if ($("#txtEmailOTP").length > 0 && $("#txtEmailOTP").val() == "") {
					$("#txtEmailOTP").focus();
					ShowErrorMessage("Please enter Email OTP.");
					return;
				}
				if ($("#txtMobileOTP").length > 0 && $("#txtMobileOTP").val() == "") {					
					$("#txtMobileOTP").focus();
					ShowErrorMessage("Please enter mobile OTP.");
					return;
				}

				var savedata = new Object;
				savedata.Email = $("#Email").val();
				savedata.EmailOTP = $("#txtEmailOTP").val();
				savedata.MobileOTP = $("#txtMobileOTP").val();
				var jsonData = JSON.stringify(savedata);
				console.log(jsonData);
				//blockUI('container');
				var retrundata = AjaxCall("POST", "@(Url.Action("VerifyEmailMobile", "Customer"))", jsonData,
					function (data) {
						//unblockUI('container');
						if (data.result == RESULT_SUCCESS) {
							ShowSuccessMessage('OTP Verified successfully.');
							setTimeout(function(){
								window.location.href = "@(Url.Content("~/Customer/ResetPassword"))" + "?email=" + $("#Email").val();
							},2000);
						} else {
							ShowErrorMessage(data.data);
						}
					},
					function (error) {
						//unblockUI('container');
						ShowErrorMessage(error.statusText);
					});
			} catch (err) {

			}
		}
	</script>
</body>
</html>