@model Adroit.Accounting.Model.ViewModel.BusinessViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Adroit</a></li>
                    <li><a href="#">Software</a></li>
                    <li class="active"><span>Business</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">BUSINESS NAME</th>
                                    <th class="border-bottom-0">SOFTWARE</th>
                                    <th class="border-bottom-0" style="width:130px">ORDER NUMBER</th>
                                    <th class="border-bottom-0" style="width:100px">ACTIVE</th>
                                    <th class="border-bottom-0 text-center" style="width:120px!important;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Adroit</a></li>
                    <li><a href="#">Software</a></li>
                    <li><a href="#" class="btn-back">Business</a></li>
                    <li class="active"><span id="activeTabName"></span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="Title">Business Name</label>
                                <select class="form-control select2-show-search-add mode-ed" id="Title">
                                    <option></option>
                                    @{
                                        if (Model.BusinessList != null)
                                        {
                                            foreach (var o in Model.BusinessList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="SoftwareIds">Software</label>
                                <select id="SoftwareIds" multiple="multiple" class="filter-multi mode-ed-multi">
                                    @{
                                        if (Model.SoftwareList != null)
                                        {
                                            foreach (var o in Model.SoftwareList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <label for="OrderNumber">Order Number</label>
                                <select class="form-control select2-show-search-add mode-ed" id="OrderNumber">
                                    <option></option>
                                    @{
                                        if (Model.OrderNumberList != null)
                                        {
                                            foreach (var o in Model.OrderNumberList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group">
                                <div><label for="Active">Active</label></div>
                                <label class="custom-switch">
                                    <input id="Active" type="checkbox" name="custom-switch-checkbox" class="custom-switch-input mode-ed">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-12">
                            <div class="form-group" style="height:100px">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-value="0" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="new"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />
</div>

@section Scripts
    {

    <script>

        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            bindDatatableList();
        });

        function addClick() {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            $("#Title").focus();

            //Set auto max value
            var maxvalue = parseInt($('#OrderNumber option:last-child').val()) + 1;
            $("#OrderNumber").append(new Option(maxvalue, maxvalue, true, true)).trigger('change');
            $("#Active").prop('checked', true);
        }

        function disableFieldView(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.title;
                },
                "targets": colDef.length,
                "className": "maxwidth400"
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.softwareName;
                },
                "targets": colDef.length,

            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.orderNumber;
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.active ? "Yes" : "No";
                },
                "targets": colDef.length,
                "className": "text-center"
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Edit' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-disableview btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='View' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='Delete' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a></div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "title", "name": "title" });
            columns.push({ "data": "softwareName", "name": "softwareName" });
            columns.push({ "data": "orderNumber", "name": "orderNumber" });
            columns.push({ "data": "active", "name": "active" });
            columns.push({ "data": "id", "name": "id" });


            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 20,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/admin/businesslist"))',
                    type: 'GET',
                    data: function (d) { }
                },
                "initComplete": function (settings, json) {
                    table.buttons().container().appendTo('#tblMain_wrapper .col-md-6:eq(0)');

                    $(".buttons-copy").removeClass("btn-primary");
                    $(".buttons-copy").addClass("btn-outline-primary");

                    $(".buttons-excel").removeClass("btn-primary");
                    $(".buttons-excel").addClass("btn-outline-primary");

                    $(".buttons-colvis").removeClass("btn-primary");
                    $(".buttons-colvis").removeClass("dropdown-toggle");
                    $(".buttons-colvis").addClass("btn-outline-primary sub-icon");

                    $(".buttons-copy").empty();
                    $(".buttons-copy").append('<i class="fa fa-copy" data-toggle="tooltip" title="Copy" data-original-title="fa fa-copy"></i>');

                    $(".buttons-excel").empty();
                    $(".buttons-excel").append('<i class="fa fa-file-excel-o" data-toggle="tooltip" title="Excel" data-original-title="fa fa-file-excel-o"></i>');

                    $(".buttons-colvis").empty();
                    $(".buttons-colvis").append('<i class="fa fa-eye" data-toggle="tooltip" title="Column Visibility" data-original-title="fa fa-eye"></i>');
                },
                "drawCallback": function (settings) {
                    $(".btn-edit").on("click", function () {
                        editMode(parseInt($(this).attr("data-value")));
                    });

                    $(".btn-disableview").on("click", function () {
                        disableFieldView(parseInt($(this).attr("data-value")));
                    });

                    $(".btn-delete-grid").on("click", function () {
                        deleteItemConfirmation(parseInt($(this).attr("data-value")));
                    });
                }

            });
        }

        function fromReset() {
            $("#Id").val(0);
            $("#Title").val(null).trigger('change');
            $("#OrderNumber").val(null).trigger('change');
            $("#Active").prop('checked', false);
            $("#SoftwareIds").multipleSelect('uncheckAll');
            $("#activeTabName").text("Add");
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {
                if ($("#Title").val() == "") {
                    showWarning("", "Please enter valid business name.");
                    $("#Title").focus();
                    return false;
                }

                if ($("#Title").val().length > 200) {
                    showWarning("", "Business name must be upto 200 characters long.");
                    $("#Title").focus();
                    return false;
                }

                if ($("#SoftwareIds").val() == "") {
                    showWarning("", "Please select valid software for this business.");
                    $("#Title").focus();
                    return false;
                }

                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.Title = $("#Title").val();
                savedata.OrderNumber = parseInt($("#OrderNumber").val());
                if (isNaN(savedata.OrderNumber)) {
                    $('#OrderNumber option[value="' + $('#OrderNumber').val() + '"]').detach();
                    showWarning("", "Please provide valid order number.");
                    $("#OrderNumber").focus();
                    return false;
                }
                if (savedata.OrderNumber > 255) {
                    $('#OrderNumber option[value="' + $('#OrderNumber').val() + '"]').detach();
                    showWarning("", "Please provide valid order number less than or equal to 255.");
                    $("#OrderNumber").focus();
                    return false;
                }

                savedata.SoftwareIds = $("#SoftwareIds").val().join(",");

                savedata.Active = $("#Active").prop('checked');
                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveBusiness", "Admin"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Business saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }

        }

        function deleteItem(id) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Admin/DeleteBusiness"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                $('#Title option[value="' + $('#Title').val() + '"]').detach();
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Admin/GetBusiness"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick();
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }

                                $('#Id').val(result.data.id);
                                $("#Title").val(result.data.title).trigger('change');
                                $("#OrderNumber").val(result.data.orderNumber).trigger('change');
                                $("#Active").prop('checked', result.data.active);
                                var selectedSoftwares = result.data.softwareIds.split(',');
                                $("#SoftwareIds").multipleSelect('setSelects', selectedSoftwares);
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }
        function deleteItemConfirmation(id) {
            swal({
                title: "Alert",
                text: "Are you really want to delete?",
                type: "warning",
                showCancelButton: true,
                confirmButtonText: 'Delete',
                cancelButtonText: 'Cancel'
            }, function (isconfirmed) {
                if (isconfirmed) {
                    deleteItem(id == 0 ? $('#Id').val() : id);
                }
            });
        }

    </script>

}
