@model Adroit.Accounting.Model.ViewModel.CustomerFirmViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href=@Url.Action("customer", "admin")>Customer</a></li>
                    <li><a href="~/admin/customer?id=@Model.Customer.Id">@Model.Customer.Name</a></li>
                    <li class="active"><span>Firm</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn-underdevelopment btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page"><span><i class="fa fa-star"></i></span></a>
                        <a href="#" class="btn-underdevelopment btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock"><span><i class="fa fa-lock"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New" id="AddNew"><span><i class="fa fa-plus"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-wrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">FIRM NAME</th>
                                    <th class="border-bottom-0">OWNER NAME</th>
                                    <th class="border-bottom-0">FIRM TYPE</th>
                                    <th class="border-bottom-0">#BRANCHES</th>
                                    <th class="border-bottom-0 text-center" style="width:165px!important;">Action</th>
                                </tr>
                            </thead>

                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href=@Url.Action("customer", "admin")>Customer</a></li>
                    <li><a href="~/admin/customer?id=@Model.Customer.Id">@Model.Customer.Name</a></li>
                    <li><a href="#" class="btn-back">Firm</a></li>
                    <li class="active"><span id="activeTabName">Add</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        @*<input type="text" class="form-control" placeholder="Search Firm...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>*@
                        <a href="#" class="btn-save btn btn-primary text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save"><span><i class="fa fa-save"></i></span></a>
                        <a href="#" class="btn-delete btn btn-danger text-white mr-2 btn-sm mode-hide" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete"><span><i class="fa fa-trash-o"></i></span></a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New"><span><i class="fa fa-plus"></i></span></a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel" id="btnCancel"><span><i class="fa fa-arrow-left"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Title">Firm Name</label>
                                <input type="text" class="form-control mode-ed" id="Title" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="GstFirmTypeId">GST Firm Type</label>
                                <select class="form-control select2-show-search mode-ed" id="GstFirmTypeId">
                                    @{
                                        if (Model.GSTFirmTypeList != null)
                                        {
                                            foreach (var o in Model.GSTFirmTypeList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="FirmTypeId">Firm Type</label>
                                <select class="form-control select2-show-search mode-ed" id="FirmTypeId">
                                    @{
                                        if (Model.FirmTypeList != null)
                                        {
                                            foreach (var o in Model.FirmTypeList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="BusinessId">Business</label>
                                <select class="form-control select2-show-search mode-ed" id="BusinessId">
                                    @{
                                        if (Model.BusinessList != null)
                                        {
                                            foreach (var o in Model.BusinessList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="SoftwareId">Software</label>
                                <select class="form-control select2-show-search mode-ed" id="SoftwareId">
                                    @*@{
                                        if (Model.SoftwareList != null)
                                        {
                                            foreach (var o in Model.SoftwareList)
                                            {
                                                <option value="@o.Value">@o.Text</option>
                                            }
                                        }
                                    }*@
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="OwnerName">Owner Name</label>
                                <input type="text" class="form-control mode-ed" id="OwnerName" placeholder="" maxlength="100">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="TAN#">TAN#</label>
                                <input type="text" class="form-control mode-ed" id="TAN" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="IECCode">IEC#</label>
                                <input type="text" class="form-control mode-ed" id="IECCode" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="AdharUID">Aadhaar UID</label>
                                <input type="text" class="form-control mode-ed numberonly" id="AdharUID" placeholder="" maxlength="12">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="BranchLimit">Total Branches</label>
                                <input type="text" class="form-control mode-ed numberonly" id="BranchLimit" maxlength="5">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div><label for="CessRequired">Cess Required</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" class="form-control custom-switch-input mode-ed" id="CessRequired">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <div><label for="IsLutBond">Lut Bond</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox " class="form-control custom-switch-input mode-ed" id="IsLutBond">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="LutBondNumber">Lut Bond#</label>
                                <input type="text" class="form-control mode-ed numberonly" id="LutBondNumber" placeholder="" maxlength="30">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div><label for="IsGTA">GTA Member</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" class="form-control custom-switch-input mode-ed" id="IsGTA">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div><label for="LRResetOnYearEnd">LR Reset On Year End</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox " class="form-control custom-switch-input mode-ed" id="LRResetOnYearEnd">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <div><label for="IsActive">Active</label></div>
                                <label class="custom-switch">
                                    <input type="checkbox" name="custom-switch-checkbox" class="form-control mode-ed custom-switch-input" id="IsActive">
                                    <span class="custom-switch-indicator"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn-save btn btn-primary mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn-underdevelopment btn btn-blue mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn-underdevelopment btn btn-success mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn-delete btn btn-danger mt-1 mode-hide" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-add-new btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
    <input type="hidden" id="Id" value="0" />
    <input type="hidden" id="CustomerId" value="@Model.Customer.Id" />
    <input type="hidden" id="hdnSoftwareId" value="@Model.SoftwareId" />
    
</div>

@section Scripts
    {

    <script>
        $(function (e) {
            $('.dv-list').show();
            $('.dv-detail').hide();

            $("#BusinessId").on('change', function (e) {
                bindSoftwareList($(this).val());
            });

            bindDatatableList();

            if (@ViewBag.EditId > 0) {
                getDetail(@ViewBag.EditId, false);
            }else{
                $("#BusinessId").val("@Model.Customer.BusinessId").trigger("change");
            }
        });

        function addClick(isedit) {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
            fromReset();
            setScreenMode(false);
            $(".btn-delete").hide();
            if (isedit == undefined || !isedit) {
            $("#BusinessId").val("@Model.Customer.BusinessId").trigger("change");
            }
            $("#Title").focus();
        }

        function viewMode(id) {
            getDetail(id, true);
        }

        function editMode(id) {
            getDetail(id, false);
        }

        function refreshDatatableList() {
            $('#tblMain').DataTable().ajax.reload();
        }

        function bindDatatableList() {
            let columns = [];
            let colDef = [];
            colDef.push({
                "render": function (data, type, row) {
                    return row.title;
                },
                "targets": colDef.length,
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.ownerName;
                },
                "targets": colDef.length,

            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.firmType;
                },
                "targets": colDef.length,

            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.numberOfBranchesCreated + "/" + (row.branchLimit ?? 0);
                },
                "targets": colDef.length,
                "className": "text-center",
            });
            colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<div class='btn-list'> ";
                    btnAct += "<a href='#' class='btn-edit btn btn-outline-warning small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='#' class='btn-view btn btn-outline-info small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>&nbsp;&nbsp;";
                    btnAct += "<a href='@(Url.Content("~/admin/customer/firm/branch?id="))" + row.id + "' class='btn btn-outline-info small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Branches'><i class='fa fa-sitemap'></i></a>&nbsp;&nbsp;";
                    //Only allow delete, there are more than 1 firm. Minimum 1 firm must exist for any customer.
                    if (row.totalCount > 1) {
                        btnAct += "<a href='#' class='btn-delete-grid btn btn-outline-danger small-icon-btn' data-value='" + row.id + "' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    }
                    btnAct += "</div>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "title", "name": "title" });
            columns.push({ "data": "ownerName", "name": "ownerName" });
            columns.push({ "data": "firmType", "name": "firmType" });
            columns.push({ "data": "branchLimit", "name": "branchLimit" });
            columns.push({ "data": "Id", "name": "Id" });


            var table = $('#tblMain').DataTable({
                "bAutoWidth": false,
                lengthChange: false,
                ordering: true,
                searching: true,
                paging: true,
                pageLength: 50,
                order: [[0, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                //scrollCollapse: true,
                //stateSave: false,
                columnDefs: colDef,
                columns: columns,
                language: {
                    paginate: {
                        next: '<i class="fa fa-angle-right"></i>', // or '→'
                        previous: '<i class="fa fa-angle-left"></i>', // or '←'
                        first: '<i class="fa fa-angle-double-left"></i>', // or '→'
                        last: '<i class="fa fa-angle-double-right"></i>' // or '←'
                    }
                },
                buttons: ['copy', 'excel', 'colvis'],
                processing: true,
                serverSide: true,
                ajax: {
                    url: '@(Url.Content("~/Admin/CustomerFirmList"))',
                    type: 'GET',
                    data: function (d) { 
                        d.customerId = @Model.Customer.Id;
                    }
                },
                "initComplete": function (settings, json) {
                    gridInitComplete(table);
                },
                "drawCallback": function (settings) {
                    gridDrawCallback(this);
                }

            });
        }

        function fromReset() {
            $("#Id").val(0);
            $("#Title").val("");
            $("#GstFirmTypeId").select2().val('').trigger("change");
            $("#FirmTypeId").select2().val('').trigger("change");
            $("#SoftwareId").select2().val('').trigger("change");
            $("#BusinessId").select2().val('').trigger("change");
            $("#OwnerName").val("");
            $("#TAN").val("");
            $("#IEC").val('');
            $("#IsGTA").prop('checked', false);
            $("#IsLutBond").prop('checked', false);
            $("#LutBondNumber").val("");
            $("#AdharUID").val("");
            $("#BranchLimit").val("");
            $("#CessRequired").prop('checked', false);
            $("#IsActive").prop('checked', false);

            $("#activeTabName").text("Add");
            $(".btn-delete").hide();
        }

        function saveItem() {
            try {
                if ($("#Title").val().trim() == "") {
                    showWarning("", "Please provide firm name");
                    $("#Title").focus();
                    return false;
                }
                if ($("#OwnerName").val().trim() == "") {
                    showWarning("", "Please provide owner name.");
                    $("#OwnerName").focus();
                    return false;
                }
                if ($("#BusinessId").val() == null || $("#BusinessId").val() == "") {
                    showWarning("", "Please select business.");
                    $("#BusinessId").focus();
                    return false;
                }
                if ($("#GstFirmTypeId").val() == null || $("#GstFirmTypeId").val() == "") {
                    showWarning("", "Please select gst firm type.");
                    $("#GstFirmTypeId").focus();
                    return false;
                }
                if ($("#FirmTypeId").val() == null || $("#FirmTypeId").val() == "") {
                    showWarning("", "select  GST firm type.");
                    $("#FirmTypeId").focus();
                    return false;
                }
                if ($("#SoftwareId").val() == null || $("#SoftwareId").val() == "") {
                    showWarning("", "Please select software.");
                    $("#SoftwareId").focus();
                    return false;
                }
                if ($("#AdharUID").val().trim().length > 0 && $("#AdharUID").val().trim().length != 12) {
                    showWarning("", "Please enter valid Aadhaar UID.");
                    $("#AdharUID").focus();
                    return false;
                }
                if ($("#AdharUID").val().trim().length > 0 && !isNumber($("#AdharUID").val())) {
                    showWarning("", "Please enter valid number of Adhar UID.");
                    $("#AdharUID").focus();
                    return false;
                }
                if ($("#BranchLimit").val().length <= 0 || $("#BranchLimit").val() == "") {
                    showWarning("", "Please enter total branches.");
                    $("#BranchLimit").focus();
                    return false;
                }
                if (!isNumber($("#BranchLimit").val())) {
                    showWarning("", "Please enter valid number of branches.");
                    $("#BranchLimit").focus();
                    return false;
                }

                var savedata = new Object();
                savedata.Id = parseInt($("#Id").val());
                savedata.CustomerId = parseInt($("#CustomerId").val());
                savedata.BusinessId = parseInt($("#BusinessId").val());
                savedata.Title = $("#Title").val();
                savedata.OwnerName = $("#OwnerName").val();
                savedata.TAN = $("#TAN").val();
                savedata.IECCode = $("#IECCode").val();
                savedata.IsLutBond = $('#IsLutBond').is(':checked');
                savedata.LutBondNumber = $("#LutBondNumber").val();
                savedata.IsGTA = $('#IsGTA').is(':checked');
                savedata.FirmTypeId = $("#FirmTypeId").val();
                savedata.GstFirmTypeId = parseInt($("#GstFirmTypeId").val());
                savedata.SoftwareId = parseInt($("#SoftwareId").val());
                savedata.BranchLimit = parseInt($("#BranchLimit").val());
                savedata.IsActive = $('#IsActive').is(':checked');
                savedata.AdharUID = $("#AdharUID").val();
                savedata.LRResetOnYearEnd = $('#LRResetOnYearEnd').is(':checked');
                savedata.CessRequired = $('#CessRequired').is(':checked');

                blockUI('container');

                $.ajax({
                    type: "POST",
                    url: "@(Url.Action("SaveCustomerFirm", "Admin"))",
                    data: JSON.stringify(savedata),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            fromReset();
                            showWarning("", 'Customer firm saved successfully.');
                            $("#Id").val(0);
                            refreshDatatableList();
                            $('.btn-back').click();
                        } else {
                            showError("", data.data);
                        }
                    },
                    error: function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    }
                });

            }
            catch (e) {
                unblockUI('container');
                showError("", e.message);
            }

        }

        function deleteItem(id) {
            if (id == 0) {
                id = $('#Id').val();
            }
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Admin/DeleteCustomerFirm"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                refreshDatatableList();
                                fromReset();
                                $('.btn-back').click();
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {
                        unblockUI('container');
                    });
            }
            catch (err) {
                unblockUI('container');
            }
        }

        function getDetail(id, isViewMode) {
            try {
                blockUI('container');
                var retrundata = AjaxCall("Get", "@(Url.Content("~/Admin/GetCustomerFirm"))" + "/" + id, "",
                    function (result) {
                        unblockUI('container');
                        var str = "";
                        try {
                            if (result.result == RESULT_SUCCESS) {
                                addClick(true);
                                if (isViewMode) {
                                    setScreenMode(true);
                                    $("#activeTabName").text("VIEW ID# " + result.data.id);
                                } else {
                                    setScreenMode(false);
                                    $("#activeTabName").text("EDIT (ID# " + result.data.id + ")");
                                }

                                $('#Id').val(result.data.id);
                                $('#CustomerId').val(result.data.customerId);
                                $("#Title").val(result.data.title);
                                $("#OwnerName").val(result.data.ownerName);
                                $("#TAN").val(result.data.tan);
                                $("#IECCode").val(result.data.iecCode);
                                $("#IsLutBond").prop('checked', result.data.isLutBond);
                                $("#LutBondNumber").val(result.data.lutBondNumber);
                                $("#IsGTA").val(result.data.isGTA);
                                $("#FirmTypeId").val(result.data.firmTypeId).trigger("change");
                                $("#GstFirmTypeId").val(result.data.gstFirmTypeId).trigger("change");
                                $("#SoftwareId").val(result.data.softwareId).trigger("change");
                                $("#hdnSoftwareId").val(result.data.softwareId);
                                $("#BranchLimit").val(result.data.branchLimit);
                                $("#IsActive").prop('checked', result.data.isActive);
                                $("#AdharUID").val(result.data.adharUID);
                                $("#CessRequired").prop('checked', result.data.cessRequired);
                                $('#LRResetOnYearEnd').prop('checked', result.data.lrResetOnYearEnd);
                                $("#BusinessId").val(result.data.businessId).trigger("change");;
                            } else {
                                showError('Error', result.data); //warning,  success, error, info
                            }
                        } catch (e) {
                            unblockUI('container');
                            showError('Error', e); //warning,  success, error, info
                        }
                    },
                    function (error) {

                    });
            }
            catch (err) {
            }
        }

        function bindSoftwareList(businessId) {
            try {
                $("#SoftwareId").empty();
                if (businessId == '' || businessId == null) return;

                blockUI('container');
                var retrundata = AjaxCall("GET", "@(Url.Content("~/Common/GetSoftwareByBusiness"))" + "?id=" + businessId, "",
                    function (data) {
                        unblockUI('container');
                        if (data.result == RESULT_SUCCESS) {
                            if (data.data.length > 0) {
                                for (var i = 0; i < data.data.length; i++) {
                                    $('#SoftwareId').append(new Option(data.data[i].text, data.data[i].value, false, false));
                                }
                            }
                            $('#SoftwareId').val($("#hdnSoftwareId").val()).trigger('change');
                        } else {
                            showError("", data.data);
                        }
                    },
                    function (error) {
                        unblockUI('container');
                        showError("", error.statusText);
                    });
            }
            catch (err) {
                unblockUI('container');
                showError("", e.message);
            }
        }
    </script>
}
