@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--Select2 css -->
<link href="@Url.Content("~/assets/plugins/select2/select2.min.css")" rel="stylesheet" type="text/css" />

<!--Mutipleselect css-->
<link href="@Url.Content("~/assets/plugins/multipleselect/multiple-select.css")" rel="stylesheet" type="text/css" />

<!-- Data table css -->
<link href="@Url.Content("~/assets/plugins/datatable/dataTables.bootstrap4.min.css")" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatable/css/buttons.bootstrap4.min.css" )" rel="stylesheet" type="text/css" />
<link href="@Url.Content("~/assets/plugins/datatable/responsivebootstrap4.min.css" )" rel="stylesheet" type="text/css" />


<div class="dv-list side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Adroit</a></li>
                    <li><a href="#">Customer</a></li>
                    <li class="active"><span>List</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <a href="#" class="btn btn-secondary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Bookmark this page">
                            <span>
                                <i class="fa fa-star"></i>
                            </span>
                        </a>
                        <a href="lockscreen.html" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="lock">
                            <span>
                                <i class="fa fa-lock"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Add New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-md-12 col-lg-12">
            <div class="card">
                <div class="card-header">
                </div>
                <div class="card-body pt-0">
                    <div class="table-responsive">
                        <table id="tblMain" class="table table-bordered key-buttons text-nowrap">
                            <thead>
                                <tr>
                                    <th class="border-bottom-0">CUSTOMER</th>
                                    <th class="border-bottom-0">TYPE</th>
                                    <th class="border-bottom-0">CITY</th>
                                    <th class="border-bottom-0">MOBILE</th>
                                    <th class="border-bottom-0">LIST OF FIRM</th>
                                    <th class="border-bottom-0 text-center" style="width:80px!important;">Action</th>
                                </tr>
                            </thead>
                           <tbody>

                           </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>
<div class="dv-detail side-app">
    <!-- page-header -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="page-header">
                <ol class="breadcrumb breadcrumb-arrow">
                    <li><a href="#">Master</a></li>
                    <li><a href="#">Adroit</a></li>
                    <li><a href="#">Customer</a></li>
                    <li class="active"><span>Add/Edit (ID# 100)</span></li>
                </ol>
                <div class="ml-auto">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Customer...">
                        <span class="input-group-append mr-2">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                        <a href="#" class="btn btn-primary text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Save">
                            <span>
                                <i class="fa fa-save"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-blue text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Print">
                            <span>
                                <i class="fa fa-print"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-success text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Send">
                            <span>
                                <i class="fa fa-share-alt"></i>
                            </span>
                        </a>
                        <a href="#" class="btn btn-danger text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Delete">
                            <span>
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-add-new btn btn-warning text-white mr-2 btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="New">
                            <span>
                                <i class="fa fa-plus"></i>
                            </span>
                        </a>
                        <a href="#" class="btn-back btn btn-gray text-white btn-sm" data-toggle="tooltip" title="" data-placement="bottom" data-original-title="Cancel">
                            <span>
                                <i class="fa fa-arrow-left"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End page-header -->
    <!-- row -->
    <div class="row">
        <div class="col-lg-12 col-xl-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="card-header">
                    <!--<h3 class="card-title">Add/Edit Product</h3>-->
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputname">Customer Name</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputname">Business</label>
                                <select class="form-control select2-show-search" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputname">Address Line 1</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputname">Address Line 2</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="exampleInputname">Address Line 3</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">City</label>
                                <select class="form-control select2-show-search" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Pincode</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">State</label>
                                <select class="form-control select2-show-search" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Contact Person</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Contact Mobile</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Alternate Mobile</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputname">Phone#</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="exampleInputname">Email</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="exampleInputname">Requirements</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Type</label>
                                <select class="form-control select2-show-search" id="">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Total Firms</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Total Users</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="exampleInputname">Aadhaar UID</label>
                                <input type="text" class="form-control" id="exampleInputname" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div><label for="exampleInputname">Active</label></div>
                            <label class="custom-switch">
                                <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
                                <span class="custom-switch-indicator"></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="card-footer text-right">
                    <a href="#" class="btn btn-primary mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Save"><i class="fa fa-save"></i>&nbsp;Save</a>
                    <a href="#" class="btn btn-blue mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Print"><i class="fa fa-print"></i>&nbsp;Print</a>
                    <a href="#" class="btn btn-success mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Send"><i class="fa fa-share-alt"></i>&nbsp;Send</a>
                    <a href="#" class="btn btn-danger mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Delete"><i class="fa fa-trash-o"></i>&nbsp;Delete</a>
                    <a href="#" class="btn-back btn btn-warning mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-plus"></i>&nbsp;New</a>
                    <a href="#" class="btn-back btn btn-gray mt-1" data-toggle="tooltip" title="" data-placement="top" data-original-title="Cancel"><i class="fa fa-arrow-left"></i>&nbsp;Cancel</a>
                </div>
            </div>
        </div>
    </div>
    <!-- row end -->
</div>

@section Scripts
    {
<script src="@Url.Content("~/assets/plugins/select2/select2.full.min.js")"></script>

<!--Jquery Sparkline js-->
<script src="@Url.Content("~/assets/js/vendors/jquery.sparkline.min.js")"></script>

<!-- Chart Circle js-->
<script src="@Url.Content("~/assets/js/vendors/circle-progress.min.js")"></script>

<!--Moment js-->
<script src="@Url.Content("~/assets/plugins/moment/moment.min.js")"></script>

<script src="@Url.Content("~/assets/plugins/select2/select2.full.min.js")"></script>
<script src="@Url.Content("~/assets/js/select2.js")"></script>

<!--MutipleSelect js-->
<script src="@Url.Content("~/assets/plugins/multipleselect/multiple-select.js")"></script>
<script src="@Url.Content("~/assets/plugins/multipleselect/multi-select.js")"></script>

<!-- INTERNAL Data tables -->
<script src="@Url.Content("~/assets/plugins/datatable/js/jquery.dataTables.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/dataTables.bootstrap4.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/dataTables.buttons.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/buttons.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/jszip.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/pdfmake.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/vfs_fonts.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/buttons.html5.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/buttons.print.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/js/buttons.colVis.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/dataTables.responsive.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/responsive.bootstrap4.min.js")"></script>
<script src="@Url.Content("~/assets/plugins/datatable/datatable-2.js")"></script>
<script>

    $(function (e) {
        $('.dv-list').show();
        $('.dv-detail').hide();

        $('.btn-add-new').click(function () {
            $('.dv-list').slideUp();
            $('.dv-detail').slideDown();
        });

        $('.btn-back').click(function () {
            $('.dv-detail').slideUp();
            $('.dv-list').slideDown();
        });
       
        datatablelist();

        $(".buttons-copy").removeClass("btn-primary");
        $(".buttons-copy").addClass("btn-outline-primary");

        $(".buttons-excel").removeClass("btn-primary");
        $(".buttons-excel").addClass("btn-outline-primary");

        $(".buttons-pdf").removeClass("btn-primary");
        $(".buttons-pdf").addClass("btn-outline-primary");

        $(".buttons-colvis").removeClass("btn-primary");
        $(".buttons-colvis").removeClass("dropdown-toggle");
        $(".buttons-colvis").addClass("btn-outline-primary sub-icon");

        $(".buttons-copy").empty();
        $(".buttons-copy").append('<i class="fa fa-copy" data-toggle="tooltip" title="Copy" data-original-title="fa fa-copy"></i>');

        $(".buttons-excel").empty();
        $(".buttons-excel").append('<i class="fa fa-file-excel-o" data-toggle="tooltip" title="Excel" data-original-title="fa fa-file-excel-o"></i>');

        $(".buttons-pdf").empty();
        $(".buttons-pdf").append('<i class="fa fa-file-pdf-o" data-toggle="tooltip" title="PDF" data-original-title="fa fa-file-pdf-oo"></i>');

        $(".buttons-colvis").empty();
        $(".buttons-colvis").append('<i class="fa fa-eye" data-toggle="tooltip" title="Column Visibility" data-original-title="fa fa-eye"></i>');
    });

    function datatablelist() {
     let columns = [];
     let colDef = [];
             colDef.push({
                "render": function (data, type, row) {
                    return row.name;
                },
                "targets": colDef.length,
                "orderable": false
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.customerType;
                },
                "targets": colDef.length,
                "orderable": false
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.city;
                },
                "targets": colDef.length,
                "orderable": false
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.mobile;
                },
                "targets": colDef.length,
                "orderable": false
            });
            colDef.push({
                "render": function (data, type, row) {
                    return row.totalFirm;
                },
                "targets": colDef.length,
                "orderable": false
            });
             colDef.push({
                "render": function (data, type, row) {
                    let btnAct = "<a onclick='GetDetail(" + row.Id + ");' href='javascript:void(0);' class='btn btn-outline-warning small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Edit'><i class='fa fa-pencil'></i></a>";
                    btnAct += " &nbsp;&nbsp; <a href='#' class='btn btn-outline-info small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='View'><i class='fa fa-info'></i></a>";
                    btnAct += " &nbsp;&nbsp; <a onclick='Delete(" + row.Id + ");' href='javascript:void(0);' class='btn btn-outline-danger small-icon-btn' data-toggle='tooltip' title='' data-placement='bottom' data-original-title='Delete'><i class='fa fa-trash-o'></i></a>";
                    return btnAct;
                },
                "targets": colDef.length,
                "className": "text-center",
                "orderable": false
            });

            columns.push({ "data": "Name", "name": "Name" });
            columns.push({ "data": "CustomerType", "name": "CustomerType" });
            columns.push({ "data": "City", "name": "City" });
            columns.push({ "data": "Mobile", "name": "Mobile" });
            columns.push({ "data": "TotalFirm", "name": "TotalFirm" });
            columns.push({ "data": "Id", "name": "Id" });

            var table = $('#tblMain').DataTable({
                ordering: false,
                searching: true,
                bInfo: true,
                bLengthChange: false,
                info: false,
                oLanguage: { 'sZeroRecords': 'sEmptyTable' },
                pageLength: 10,
                filter: true,
                paging: true,
                order: [[1, 'asc']],
                pagingType: 'full_numbers',
                orderClasses: false,
                scrollCollapse: true,
                bProcessing: true,
                bServerSide: true,
                stateSave: false,
                columnDefs: colDef,
                columns: columns,
                bPaginate: true,
                ajax: {
                    url: '@(Url.Content("~/Admin/CustomerList"))',
                    type: 'GET',
                    data: function (d) { }
                },
                
            });
            
    }
</script>
}
